
<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from codezeesolutions.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 16 Mar 2021 08:35:55 GMT -->
<!-- Added by HTTrack -->
<!--<meta http-equiv="content-type" content="text/html;charset=utf-8" />--><!-- /Added by HTTrack -->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="title" content="this is home title" />
    <meta name="description" content="this is home descriptiopn" />
    <meta name="keywords" content="these are home keywords" />

    <title>Top Rated IT company surat, web development surat, mobile app development surat</title>
    <link rel="icon" href="~/images/home/32Favicon.svg" type="image/svg" class="img-fluid dark" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" async defer />
    <link href="https://fonts.googleapis.com/css2?family=Muli:wght@400;500;600;700;800;900&amp;display=swap" rel="stylesheet" async>
    <link href="~/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" async />
    <link rel="stylesheet" href="~/ajax/libs/animate.css/4.1.1/animate.min.css" async />
    <link href="~/lib/css/owl.carousel.css" rel="stylesheet" async defer />
    <link href="~/lib/css/owl.theme.default.css" rel="stylesheet" async defer />
    <link rel="stylesheet" href="~/css/site.min.css" />
    <link href="~/lib/css/responsive.min.css" rel="stylesheet" />
    <meta name="color-scheme" content="dark light">
    <script src="~/js/pre-load.min.js"></script>
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-TLRTE8T6MY"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-TLRTE8T6MY');
    </script>
</head>


<body id="mainBody" class="light-mode">
    <script>
        setInitialAppTheme();
    </script>
    <header>
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-toggleable-lg navbar-light">
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                    <img src="~/images/logo/dark-2.png" class="img-fluid dark" alt="codezee" />
                    <img src="~/images/logo/2.png" class="img-fluid light" alt="codezee" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-lg-inline-flex hmenu">
                    <ul class="navbar-nav flex-grow-1 tlive">
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("aboutus", "Home")">Company</a>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown">
                                <a class="dropdown-toggle nav-link" href="javascript:void(0);" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Services
                                </a>

                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <div class="sub-menu-box">
                                        <div class="sub-menu">
                                            @*<div class="submenu-img">
                                                    <img src="~/images/home/menu-img-1.svg" class="img-fluid" />
                                                </div>*@
                                            <div class="sub-menu-link">
                                                <div class="menu-title">
                                                  
                                                    <a href="@Url.Action("customsoftware", "services")">Custom Software Development</a>
                                                    <a href="@Url.Action("customsoftware", "services")"> Dedicated Development Team</a>
                                                    <a href="@Url.Action("Ecommerce", "services")">Ecommerce Development</a>
                                                    <a href="@Url.Action("dedicateddevelopment", "services")">Software Development</a>
                                                    <a href="@Url.Action("testing", "services")">Testing and Quality</a>
                                                    <a href="@Url.Action("webapplicationdevelopment", "services")">Website Development</a>
                                                    <a href="@Url.Action("mobileappsdevelopment", "services")">Mobile App Development</a>
                                                    <a href="@Url.Action("uiuxdesign", "services")">Design</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        @*<ul>
                                <li><a onclick="goToByScroll('cust-dev',200)" href="@Url.Action("softwaredevelopment", "services")#cust-dev">Bespoke Software Development</a></li>
                                <li><a onclick="goToByScroll('desk-dev',150)" href="@Url.Action("softwaredevelopment", "services")#desk-dev">Desktop Based Development</a></li>
                                <li><a onclick="goToByScroll('ent-app',150)" href="@Url.Action("softwaredevelopment", "services")#ent-app">Application Migration and reengineering</a></li>
                                <li><a onclick="goToByScroll('ent-sas',150)" href="@Url.Action("softwaredevelopment", "services")#ent-sas">SaaS Applications</a></li>
                                <li><a onclick="goToByScroll('eco-dev',150)" href="@Url.Action("softwaredevelopment", "services")#eco-dev">Ecommerce Software Development</a></li>
                            </ul>*@
                        <!--</div>
                        </div>
                        <div class="sub-menu">
                            <div class="submenu-img">
                                <img src="~/images/home/menu-img-2.svg" class="img-fluid" />
                            </div>
                            <div class="sub-menu-link">
                                <div class="menu-title">
                                    <a href="@Url.Action("webapplicationdevelopment", "services")">Website Development</a>
                                    <a href="@Url.Action("mobileappsdevelopment", "services")">Mobile App Development</a>
                                    <a href="@Url.Action("uiuxdesign", "services")">Design</a>
                                </div>-->
                        @*<ul>
                                <li><a onclick="goToByScroll('Enterprise',200)" href="@Url.Action("webapplicationdevelopment", "services")#Enterprise">SaaS Applications</a></li>
                                <li><a onclick="goToByScroll('Ecommerce',150)" href="@Url.Action("webapplicationdevelopment", "services")#Ecommerce">E-commerce Development</a></li>
                                <li><a onclick="goToByScroll('Content',150)" href="@Url.Action("webapplicationdevelopment", "services")#Content">Content Management System (CMS)</a></li>
                                <li><a onclick="goToByScroll('Mobile',150)" href="@Url.Action("webapplicationdevelopment", "services")#Mobile">Mobile API/Backend</a></li>
                            </ul>*@
                        <!--</div>
                        </div>
                        <div class="sub-menu">
                            <div class="submenu-img">
                                <img src="~/images/home/menu-img-3.svg" class="img-fluid" />
                            </div>
                            <div class="sub-menu-link">
                                <div class="menu-title">
                                    <a href="@Url.Action("mobileappsdevelopment", "services")">Mobile App Development</a>
                                </div>-->
                        @*<ul>
                                <li><a onclick="goToByScroll('ios',200)" href="@Url.Action("mobileappsdevelopment", "services")#ios">IOS Apps</a></li>
                                <li><a onclick="goToByScroll('Android',150)" href="@Url.Action("mobileappsdevelopment", "services")#Android">Android Apps</a></li>
                                <li><a onclick="goToByScroll('Platform',150)" href="@Url.Action("mobileappsdevelopment", "services")#Platform">Cross-Platform Apps</a></li>
                            </ul>*@
                        <!--</div>
                        </div>
                        <div class="sub-menu">
                            <div class="submenu-img">
                                <img src="~/images/home/menu-img-4.svg" class="img-fluid" />
                            </div>
                            <div class="sub-menu-link">
                                <div class="menu-title">
                                    <a href="@Url.Action("uiuxdesign", "services")">Design</a>
                                </div>-->
                        @*<ul>
                                <li><a onclick="goToByScroll('Research',200)" href="@Url.Action("uiuxdesign", "services")#Research">Research</a></li>
                                <li><a onclick="goToByScroll('Application',150)" href="@Url.Action("uiuxdesign", "services")#Application">Application Design</a></li>
                                <li><a onclick="goToByScroll('Game',150)" href="@Url.Action("uiuxdesign", "services")#Game">Game Design</a></li>
                                <li><a onclick="goToByScroll('Layout',150)" href="@Url.Action("uiuxdesign", "services")#Layout">Web Layout</a></li>
                            </ul>*@
                        <!--</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>-->
                        <li class="nav-item">
                            <div class="dropdown">
                                <a class="nav-link dropdown-toggle" id="dropdownMenuLink1" data-toggle="dropdown" href="@Url.Action("Technology", "Home")">Expertise</a>

                                <div class="dropdown-menu dropspace technology-menu" aria-labelledby="dropdownMenuLink1">
                                    <div class="sub-menu-box">
                                        <div class="sub-menu min-menu">
                                            <div class="sub-menu-link">
                                                <div class="menu-title">

                                                    <a href="javascript:void(0);"> Mobile</a>
                                                </div>
                                                <ul class="moveHover">
                                                    <li><a href="@Url.Action("Ios", "Technologies")">iOS</a></li>
                                                    <li><a href="@Url.Action("Android", "Technologies")">Android</a></li>
                                                    <li><a href="@Url.Action("Reactnative", "Technologies")">React Native</a></li>
                                                    <li><a href="@Url.Action("Xamarin", "Technologies")">Xamarin</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="sub-menu min-menu">
                                            <div class="sub-menu-link">
                                                <div class="menu-title">
                                                    <a href="javascript:void(0);"> Backend</a>
                                                </div>
                                                <ul class="moveHover">
                                                    <li><a href="@Url.Action("Nodejs", "Technologies")">Node</a></li>
                                                    <li><a href="@Url.Action("Dotnet", "Technologies")">.NET</a></li>
                                                    <li><a href="@Url.Action("Laravel", "Technologies")">Laravel</a></li>
                                                    <li><a href="@Url.Action("Php", "Technologies")">PHP</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="sub-menu min-menu">
                                            <div class="sub-menu-link">
                                                <div class="menu-title">
                                                    <a href="javascript:void(0);"> Front End</a>
                                                </div>
                                                <ul class="moveHover">
                                                    <li><a href="@Url.Action("Angular", "Technologies")">Angular</a></li>
                                                    <li><a href="@Url.Action("Reactjs", "Technologies")">React Js</a></li>
                                                    <li><a href="@Url.Action("Typescript", "Technologies")">TypeScript</a></li>
                                                    <li><a href="@Url.Action("Html", "Technologies")">HTML 5</a></li>
                                                </ul>
                                            </div>
                                        </div>



                                        <div class="sub-menu min-menu">
                                            <div class="sub-menu-link">
                                                <div class="menu-title">
                                                    <a href="javascript:void(0);"> CMS</a>
                                                </div>
                                                <ul class="moveHover">
                                                    <li><a href="@Url.Action("Shopify", "Technologies")">Shopify</a></li>
                                                    <li><a href="@Url.Action("Wordpress", "Technologies")">WordPress</a></li>
                                                    <li><a href="@Url.Action("Woocommerce", "Technologies")">WooCommerce</a></li>

                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "career")">Career</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "portfolio")">Portfolio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "hireus")">Hire Us</a>
                        </li>
                    </ul>
                    <ul class="right-nav">
                        <li>
                            <a class="nav-link contact-btn" href="@Url.Action("contactus", "hireus")">Get in touch</a>
                        </li>
                        <li>
                            <button type="button" name="dark_light" onclick="toggleDarkLight()" title="Toggle dark/light mode">
                                <img src="~/images/home/dark.svg" class="img-fluid dark" alt="codezee" />
                                <img src="~/images/home/light.svg" class="img-fluid light" alt="codezee" />
                            </button>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <div class="container body-content">
        @RenderBody()
    </div>
    <hr />

    <section class="hero-touch">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <div class="touch-box wow fadeIn">
                        <div class="touch-cont">
                            <h5>LET’S CREATE SOMETHING AWESOME</h5>
                            <p>Enquire about your requirements, Our digital expertise helps you to achieve top results in any field.</p>
                        </div>
                        <div class="touch-btn">
                            <a class="header-btn" href="@Url.Action("contactus", "hireus")">Get In Touch</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <div class="grid1">
                        <img src="~/images/craft/RepeatGrid.svg" class="img-fluid" alt="" />
                    </div>
                    <div class="grid2">
                        <img src="~/images/craft/RepeatGrid.svg" class="img-fluid" alt="" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <div class="footer-box">
                        <div class="footer1">
                            <div class="footer-logo footer-white-black">
                                <!--<img src="~/images/home/footer-logo.svg" class="img-fluid" alt="codezee" /> -->
                                <img src="~/images/logo/dark-2.png" class="img-fluid dark" alt="codezee" />
                                <img src="~/images/logo/2.png" class="img-fluid light" alt="codezee" />
                            </div>
                            <div class="footer-cont">
                                <h5>Smart and Creative digital Information technology agency from surat</h5>
                            </div>
                            <ul class="support-link">
                                <li><a href="mailto:careers@codesdot.com">careers@codesdot.com</a></li>
                                @*<li><a href="mailto:careers@codesdot.com">careers@codesdot.com</a></li>*@
                            </ul>
                            <div class="learn">
                                <h5>Want to learn more?</h5>
                                <p>We'll reach out over email to set up a call</p>
                            </div>
                            <div class="email-input">
                                <input type="text" class="input-email" placeholder="Email address" id="email-quick-contact" />
                                <div class="email-icon">
                                    <img src="~/images/home/arrow.svg" class="img-fluid" alt="codezee" id="img-learn-more" />
                                    <div id="btn-quick-loader" style="display:none;">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                             style=" margin-left: 10px; background: rgba(241, 242, 243, 0); display: block;" width="19px" height="19px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
                                            <circle cx="50" cy="50" r="37" stroke="rgba(70, 223, 240, 0)" stroke-width="0" fill="none"></circle>
                                            <circle cx="50" cy="50" r="37" stroke="#babdd8" stroke-width="8" stroke-linecap="round" fill="none">
                                                <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" dur="1s" values="0 50 50;180 50 50;720 50 50" keyTimes="0;0.5;1"></animateTransform>
                                                <animate attributeName="stroke-dasharray" repeatCount="indefinite" dur="1s" values="65.09379978238051 167.38405658326417;232.4778563656447 0;65.09379978238051 167.38405658326417" keyTimes="0;0.5;1"></animate>
                                            </circle>
                                        </svg>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="footer2">
                            <div class="footer-link">
                                <h5>Company</h5>
                                <ul>
                                    <li><a href="@Url.Action("aboutus", "Home")">About Us</a></li>
                                    <li><a href="@Url.Action("Index", "career")">Career</a></li>
                                    <li><a href="@Url.Action("Index", "hireus")">Work With Us </a></li>
                                    <li><a href="@Url.Action("contactus", "hireus")">Contact</a></li>
                                    <li><a href="@Url.Action("Privacypolicy", "Home")">Privacy Policy </a></li>
                                    <li><a href="@Url.Action("Sitemap", "Home")">Sitemap</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="footer4">
                            <div class="footer-link">
                                <h5>Services</h5>
                                <ul>
                                    <li><a href="@Url.Action("Android", "Technologies")">Android App Development</a></li>
                                    <li><a href="@Url.Action("Ios", "Technologies")">iOS App Development  </a></li>
                                    <li><a href="@Url.Action("Reactnative", "Technologies")">React Native App Development </a></li>
                                    <li><a href="@Url.Action("Xamarin", "Technologies")">Xamarin App Development</a></li>
                                    <li><a href="@Url.Action("NodejS", "Technologies")">NodeJS Development</a></li>
                                    <li><a href="@Url.Action("Php", "Technologies")">PHP Development</a></li>
                                    <li><a href="@Url.Action("Dotnet", "Technologies")">.Net Development</a></li>
                                    <li><a href="@Url.Action("Laravel", "Technologies")">Laravel Development</a></li>

                                </ul>
                            </div>
                        </div>
                        <div class="footer5">
                            <div class="footer-link">
                                <h5></h5>
                                <ul>
                                    <li><a href="@Url.Action("Angular", "Technologies")">Angular Development</a></li>
                                    <li><a href="@Url.Action("Reactjs", "Technologies")">React Js Development</a></li>
                                    <li><a href="@Url.Action("Typescript", "Technologies")">TypeScript Development</a></li>
                                    <li><a href="@Url.Action("Html", "Technologies")">HTML 5 Development</a></li>
                                    <li><a href="@Url.Action("Wordpress", "Technologies")">WordPress Development</a></li>
                                    <li><a href="@Url.Action("Shopify", "Technologies")">Shopify Development</a></li>
                                    <li><a href="@Url.Action("Woocommerce", "Technologies")">WooCommerce</a></li>
                                    <li><a href="#">NopCommerce</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="copy-right">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-5 col-xs-12">
                    <div class="right-cont">
                        <p>Copyright © 2020 Codezee Solutions</p>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-7 col-xs-12">
                    <div class="right-social">
                        <ul>
                            <li><a href="https://www.facebook.com/code.zee.5" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/codezee-solutions-3840111b6/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a href="https://www.instagram.com/codezeesolutions/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            <li><a href="https://in.pinterest.com/CodezeeSolutions/" target="_blank"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                            <li><a href="https://www.behance.net/oozeedesig2c51" target="_blank"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
                            <li><a href="skype:oozeetech?chat" target="_blank"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                            <li><a href="https://twitter.com/CodezeeS" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="snackbar"></div>

    <!--<div class="chatbot">
    <a href="javascript:void(0);">
        <img src="~/images/home/chatbot.png" alt="oozee" class="img-fluid" />
    </a>
    </div>

    <div class="chat-box">
        <div class="chat-header">
            <a href="javascript:void(0);" class="arrow-btn">
                <i class="fa fa-angle-down" aria-hidden="true"></i>
            </a>
            <img src="~/images/home/chatbot.png" alt="oozee" class="img-fluid" />-->
    <!--</div>
        <div class="chat-body">
            <div class="receiver">
                <p>I can help you find the services you're looking but you need to tell me what bought you first👇👇.</p>
                <a href="#">Hire for my Project</a>
                <a href="#">Want to know more</a>
                <a href="#">Want to apply for a Job</a>
                <a href="#">Just Browsing</a>
            </div>
            <div class="inputbox">
                <input type="text" class="bot-input" placeholder="Choose an option above..." />
                <div class="bot-file">
                    <input type="file" />
                    <i class="fa fa-paperclip" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>-->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/js/owl.carousel.min.js"></script>
    <script src="~/lib/js/Magnific.js"></script>
    <script src="~/lib/js/wow.js"></script>
    <script src="~/js/sitee7a5.js?v=meTa8l_MP1hujjG2rOvWeqQu_CwQ1kxqGQoJlq3b2Cs"></script>
    @*<script src="~/js/pages/apply-job3b74.js"></script>
        <script src="~/js/pages/contact-us9ef6.js"></script>
        <script src="~/js/pages/hire-us2555.js"></script>
        <script src="~/js/pages/portfolio0653.js"></script>
        <script src="~/js/pre-load.min.js"></script>*@

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)*@
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/5fbc9d31920fc91564ca007b/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
        function showToastMessage(type, message) {
            var x = document.getElementById("snackbar");
            x.innerHTML = message;
            // Add the "show" class to DIV
            x.className = "show";
            if (type == "success") {
                $("#snackbar").css("background-color", "rgba(30,171,9,0.7)");
                $("#snackbar").css("color", "#ffffff");
            }
            else {
                $("#snackbar").css("background-color", "rgb(255 152 84 / 70%)");
                $("#snackbar").css("color", "#000000");
            }
            //#f3b959 error mate
            // Get the snackbar DIV


            // After 3 seconds, remove the show class from DIV
            setTimeout(function () { x.className = x.className.replace("show", ""); }, 5000);
        }

    </script>
    <!--End of Tawk.to Script-->


    <script>
        $(document).ready(function () {
            var iframe = $('.vimeo-video');
            var owl = $("#slider1").owlCarousel();
            owl.on('changed.owl.carousel', function (e) {
                iframe.each(function () {
                    $(this)[0].contentWindow.postMessage('{"method":"pause"}', '*');
                });
            });
        });
    </script>


</body>

<!-- Mirrored from codezeesolutions.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 16 Mar 2021 08:37:48 GMT -->
</html>
