
@{
    ViewBag.Title = "Android";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main role="main" class="pb-3">



    <section class="hero-process hero-enable hero-enables">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-sm-12 col-md-12 col-xs-12">
                    <div class="main-code">
                        <div class="award-content techfonts wow fadeInLeft">
                            <h2>
                                Android Mobile App Development
                            </h2>
                            <h3 class="tech"> Get Android App Solutions for Start-ups to Small & Large Enterprise and Expand Your Reach Globally</h3>
                            <p>
                                We develop mobile apps that help businesses for better operational efficiency and engagement. Hire certified mobile app developers from Codesdot who are experts for delivering excellence in Android, iOS and cross-platform app development services.
                            </p>
                        </div>
                        <div class="button">
                            <a class="header-btn" href="@Url.Action("contactus", "hireus")">Get a Quote</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 main-access">
                    <div class="award-img  wow fadeInRight">
                        <img src="../images/technology/android/android-mobile.png" class="img-fluid" alt="" />
                    </div>

                </div>

            </div>
        </div>
    </section>


    <section class="hero-process apps">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-sm-12 col-xs-12">
                    <div class="process-main-title process-main-title2 wow fadeInUp">
                        <div class="process-title mytwo">
                            <h2>Top Android Apps<br /> Development Company</h2>
                        </div>
                        <div class="sub-title">
                            <h5>
                                WHY WE ARE ?
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-1 col-xs-0">
                    <div class="core-img">
                        <img src="../images/home/core.svg" class="img-fluid" alt="Codesdot" />
                    </div>
                </div>
            </div>

            <div class="row newspace wow fadeInUp">
                <div class="col-lg-3 col-sm-12 col-xs-12 col-md-6">
                    <div class="main-box">
                        <div class="top-imgg">
                            <img class="img-fluid" src="../images/technology/Shopify/web-solutions.svg" />
                        </div>
                        <div class="main-contentt">
                            <h2>Development Proficiency</h2>
                            <p>
                                Our Android experts always develop reasonably priced solutions that satisfy the expectations of our clients.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-12 col-xs-12 col-md-6">
                    <div class="main-box mainbox">
                        <div class="top-imgg">
                            <img class="img-fluid" src="../images/technology/Shopify/front-end.svg" />
                        </div>
                        <div class="main-contentt">
                            <h2>Android <br /> Development</h2>
                            <p>
                                We serve fully functional and custom developed app to reach a wider client base to reach higher sales goals.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-12 col-xs-12 col-md-6">
                    <div class="main-box mainbox main1">
                        <div class="top-imgg">
                            <img class="img-fluid" src="../images/technology/Shopify/software-expertise.svg" />
                        </div>
                        <div class="main-contentt">
                            <h2>Development <br /> Expertise</h2>
                            <p>
                                Our talented Android developers always design an affordable Android  based solutions that satisfy the expectations of our clients.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-12 col-xs-12 col-md-6">
                    <div class="main-box mainbox main1">
                        <div class="top-imgg">
                            <img class="img-fluid" src="../images/technology/Shopify/dedicated-developers.svg" />
                        </div>
                        <div class="main-contentt">
                            <h2>Android app Support & Maintenance</h2>
                            <p>
                                We provide comprehensive consultancy and care related to the variety of Android app development services.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="hero-process ">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-sm-12 col-xs-12">
                    <div class="process-main-title achivment-title wow fadeInUp">
                        <div class="process-title">
                            <h2>Why Android  <br /> App Development ? </h2>
                        </div>
                        <div class="sub-title">
                            <h5>WHAT USE?</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-1 col-xs-0"></div>
            </div>

            <div class="row">
                <div class="col-lg-8 col-sm-12 col-xs-12 col-md-12">
                    <div class="newbox-here wow fadeInLeft">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="newbox-android">
                                    <div class="boxs">
                                        <h2>Low Investment with <br />High ROI</h2>
                                        <p>Developing responsive websites with complete <br />content control and scalability.</p>
                                    </div>
                                </div>

                                <div class="newbox-android">
                                    <div class="boxs">
                                        <h2>Cloud Infrastructure  <br />Management</h2>
                                        <p>AWS certified cloud architects who can set up  <br />and manage entire cloud infrastructure.</p>
                                    </div>
                                </div>

                                <div class="newbox-android">
                                    <div class="boxs">
                                        <h2>Multiple Sales  <br />Channels</h2>
                                        <p>Android will lead the IT world around 85% by  <br />2020. Tech leading features responsible.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="newbox-android">
                                    <div class="boxs">
                                        <h2>Easier Multi-tasking and <br />custom ROMs</h2>
                                        <p>Our android professionals deliver you the best  <br />mobile app development services.</p>
                                    </div>
                                </div>

                                <div class="newbox-android">
                                    <div class="boxs">
                                        <h2>User-friendly Google  <br />Play</h2>
                                        <p>Android apps can only be downloaded from   <br />Google Play store.</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12 col-xs-12 col-md-12">
                    <div class="backgrounds-bgg wow fadeInRight">
                        <img class="img-fluid" src="../images/technology/android/what-use-image.png" />
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="hero-process">
        <div class="backgrounds-bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="backgrounds-content">
                            <h2 class="newbold">Hire Android Developers</h2>
                            <p class="newsoft">Create your own development team now</p>
                            <center>
                                <div class="nowr-buttons hard">
                                    <a class="header-bttn" href="@Url.Action("Index", "hireus")">Hire Us</a>
                                </div>
                            </center>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="hero-process">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-sm-11 col-xs-12">
                    <div class="process-main-title main2 textimonial-title wow fadeInUp">
                        <div class="process-title">
                            <h2>Android App <br /> Development Services</h2>
                        </div>
                        <div class="sub-title">
                            <h5>WHAT WE DO</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-1 col-xs-0">

                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-sm-12 col-md-12 col-xs-12">
                    <div class="main-code-content wow fadeInLeft">
                        <div class="box-bg">
                            <div class="content">
                                <h2>Custom Android App Development</h2>
                                <p>Knowing all ups-downs and ins-outs of Android, we not only build apps but also suggest and offer you a variety of solutions that can tackle your business using customer-centric approach within given time and also give your apps a personalized ‘look-n-feel’.</p>
                            </div>
                            <div class="bg-image">
                                <img class="img-fluid" src="../images/technology/android/custom-android-app-development.svg" />
                            </div>
                        </div>

                        <div class="box-bg content1">
                            <div class="content">
                                <h2>Native Android App Development</h2>
                                <p>Our highly trained Android developers create flexible, advanced and scalable android apps in core languages. Being pioneer mobile app development services provider, we maintain unique approach to craft finest and most secured android apps for users with impressive layouts and brilliant 3D animations.</p>
                            </div>
                            <div class="bg-image">
                                <img class="img-fluid" src="../images/technology/android/native-android-development-app.svg" />
                            </div>
                        </div>


                        <div class="box-bg content1">
                            <div class="content">
                                <h2>Android UI/UX Design</h2>
                                <p>Based upon Google’s latest designing language, our proficient UI/UX designer design your mobile apps with high standards of web & graphics. We innovate your visuals for your audience by planning every pixel to catch attraction and make your app in top searches of the App store.</p>
                            </div>
                            <div class="bg-image">
                                <img class="img-fluid" src="../images/technology/android/android-ui-ux-design.svg" />
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-lg-4 col-sm-12 col-md-12 col-xs-12">
                    <div class="bg-background box-scroll wow fadeInUp">
                        <center>
                            <img class="img-fluid" src="../images/technology/android/what-we-do-image.png" />
                        </center>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-12 col-md-12 col-xs-12">
                    <div class="main-code-content wow fadeInRight">

                        <div class="box-bg1">
                            <div class="bg-image1">
                                <img class="img-fluid" src="../images/technology/android/social-networking-android-apps.svg" />
                            </div>
                            <div class="content">
                                <h2>Social Networking Android Apps</h2>
                                <p>Past decade has been revolutionized by the trending social media platform. Build up your strong, diverse and glancing professional and private network with the help of our Android social network app masters. Reach your target audience and your business goals with our best customized social media apps.</p>
                            </div>

                        </div>



                        <div class="box-bg1">
                            <div class="bg-image1">
                                <img class="img-fluid" src="../images/technology/android/business-android-apps.svg" />
                            </div>
                            <div class="content">
                                <h2>Business Android Apps</h2>
                                <p>Confused whether to transform your business digitally? Ask our business android consultants anytime. Shifting from traditional to digital world, we help you to meet your strategic business objectives by tailoring business-specific Android applications and create a valuable customer touch-point for your changing business.</p>
                            </div>

                        </div>


                        <div class="box-bg1">
                            <div class="bg-image1">
                                <img class="img-fluid" src="../images/technology/android/support-maintain-upgrade-android-apps.svg" />
                            </div>
                            <div class="content">
                                <h2>Support, Maintain & Upgrade Android Apps</h2>
                                <p>All-tune your Android apps with the latest features. Our ‘always-on’ android developers offer on-going maintenance of the apps and technical support for the apps, bug fixing and regular tracking on top of platform upgrade, whenever and wherever you want them.</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="hero-portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-sm-12 col-xs-12">
                    <div class="process-main-title achivment-title wow fadeInUp">
                        <div class="process-title">
                            <h2>Our<br /> Success Stories Work </h2>
                        </div>
                        <div class="sub-title">
                            <h5>OUR PORTFOLIO</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-1 col-xs-0"></div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="mobportfolio-box">
                        <div class="mobportfolio-img">
                            <img src="../images/technology/android/aarya-gst.png" class="img-fluid" alt="" />
                        </div>
                        <div class="mobport-cont">
                            <span>Android</span>
                            <h5>AaryaGST</h5>
                            <ul>
                                <li><a href="@Url.Action("Android", "Technologies")">JAVA</a></li>
                                <li><a href="@Url.Action("Dotnet", "Technologies")">.Net</a></li>
                                <li><a href="@Url.Action("uiuxdesign", "services")">UI / UX</a></li>
                            </ul>
                            <a class="mobport-btn" href="@Url.Action("Index", "portfolio")">Read More <span><img src="../images/mobile/arrow.svg" /></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="mobportfolio-box">
                        <div class="mobportfolio-img">
                            <img src="../images/technology/android/gdp-impex.png" class="img-fluid" alt="" />
                        </div>
                        <div class="mobport-cont">
                            <span>Android</span>
                            <h5>GDP Impex</h5>
                            <ul>
                                <li><a href="@Url.Action("Android", "Technologies")">JAVA</a></li>
                                <li><a href="@Url.Action("Dotnet", "Technologies")">.Net</a></li>
                                <li><a href="@Url.Action("uiuxdesign", "services")">UI / UX</a></li>
                            </ul>
                            <a class="mobport-btn" href="@Url.Action("Index", "portfolio")">Read More <span><img src="../images/mobile/arrow.svg" /></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="mobportfolio-box">
                        <div class="mobportfolio-img">
                            <img src="../images/technology/android/wallpapers-for-me.png" class="img-fluid" alt="" />
                        </div>
                        <div class="mobport-cont">
                            <span>Android</span>
                            <h5>HD Wallpaper</h5>
                            <ul>
                                <li><a href="@Url.Action("Android", "Technologies")">JAVA</a></li>
                                <li><a href="@Url.Action("Dotnet", "Technologies")">.Net</a></li>
                                <li><a href="@Url.Action("uiuxdesign", "services")">UI / UX</a></li>
                            </ul>
                            <a class="mobport-btn" href="@Url.Action("Index", "portfolio")">Read More <span><img src="../images/mobile/arrow.svg" /></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>