
@{
    ViewBag.Title = "Dotnet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main role="main" class="pb-3">

    <section class="hero-process hero-enable hero-enables">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12 col-md-12 col-xs-12">
                    <div class="main-code">
                        <div class="award-content techfonts wow fadeInLeft">
                            <h2>
                                .Net Framework
                            </h2>
                            <h3 class="tech">Power-packed Applications and Services ignited by .Net technology</h3>
                            <p>
                                Identified as best .NET Web development services provider, Codesdot delivers a wide range of optimized and secured high-end services. We have proven and will be proving our best in developing custom services, applications and websites. Build a strong online presence with our .net powered solutions.
                            </p>
                        </div>
                        <div class="button">
                            <a class="header-btn" href="@Url.Action("contactus", "hireus")">Get a Quote</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 main-access">
                    <div class="award-img newdecide  wow fadeInRight">
                        <img src="../images/technology/Asp.Net/headerimg.png" class="img-fluid" alt="" />
                    </div>

                </div>

            </div>
        </div>
    </section>



    <section class="hero-process apps">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-sm-12 col-xs-12">
                    <div class="process-main-title process-main-title2 wow fadeInUp">
                        <div class="process-title mytwo">
                            <h2>Top .Net<br /> Development Company</h2>
                        </div>
                        <div class="sub-title">
                            <h5>
                                WHY WE ARE ?
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-1 col-xs-0">
                    <div class="core-img">
                        <img src="../images/home/core.svg" class="img-fluid" alt="Codesdot" />
                    </div>
                </div>
            </div>

            <div class="row newspace wow fadeInUp">
                <div class="col-lg-3 col-sm-12 col-xs-12 col-md-6">
                    <div class="main-box">
                        <div class="top-imgg">
                            <img class="img-fluid" src="../images/technology/Shopify/web-solutions.svg" />
                        </div>
                        <div class="main-contentt">
                            <h2>Development Proficiency</h2>
                            <p>
                                Our .Net experts always develop reasonably priced solutions that satisfy the expectations of our clients.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-12 col-xs-12 col-md-6">
                    <div class="main-box mainbox">
                        <div class="top-imgg">
                            <img class="img-fluid" src="../images/technology/Shopify/front-end.svg" />
                        </div>
                        <div class="main-contentt">
                            <h2>.NET <br /> Development</h2>
                            <p>
                                We serve fully functional and custom developed web to reach a wider client base to reach higher sales goals.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-12 col-xs-12 col-md-6">
                    <div class="main-box mainbox main1">
                        <div class="top-imgg">
                            <img class="img-fluid" src="../images/technology/Shopify/software-expertise.svg" />
                        </div>
                        <div class="main-contentt">
                            <h2>Development <br /> Expertise</h2>
                            <p>
                                Our talented .NET developers always design an affordable .NET based solutions that satisfy the expectations of our clients.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-12 col-xs-12 col-md-6">
                    <div class="main-box mainbox main1">
                        <div class="top-imgg">
                            <img class="img-fluid" src="../images/technology/Shopify/dedicated-developers.svg" />
                        </div>
                        <div class="main-contentt">
                            <h2>.NET  web Support & Maintenance</h2>
                            <p>
                                We provide comprehensive consultancy and care related to the variety of .NET Web development services.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




    <section class="hero-process">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-sm-11 col-xs-12">
                    <div class="process-main-title achivment-title wow fadeInUp">
                        <div class="process-title">
                            <h2>Why .Net Framework?</h2>
                        </div>
                        <div class="sub-title">
                            <h5>WHAT USE?</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-1 col-xs-0"></div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="card-box">
                        <div class="card-icon">
                            <img src="../images/technology/node/OBJECTS.svg" class="img-fluid" alt="Codesdot" />
                        </div>
                        <div class="card-cont card-conts">
                            <h5>Build Complex Apps</h5>
                            <p>.Net is one of the best frameworks available that support building and running of complex business applications with less amount of code thus improving performance and scalability.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="card-box Web card-box2">
                        <div class="card-icon">
                            <img src="../images/home/web.svg" class="img-fluid" alt="Codesdot" />
                        </div>
                        <div class="card-cont card-conts">
                            <h5>Secure Applications</h5>
                            <p>Easier to maintain the security of apps because of.NET built-in authentication and authorization  features.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="card-box Design">
                        <div class="card-icon">
                            <img src="../images/technology/node/Layer.svg" class="img-fluid" alt="Codesdot" />
                        </div>
                        <div class="card-cont card-conts">
                            <h5>Powerful IDE</h5>
                            <p>Microsoft Visual Studio is world’s best and feature rich toolbox that helps developers with a rich class library along with a drag and drop server.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="card-box Software card-box2">
                        <div class="card-icon">
                            <img src="../images/home/software.svg" class="img-fluid" alt="Codesdot" />
                        </div>
                        <div class="card-cont card-conts">
                            <h5>Language Independence</h5>
                            <p>.Net programmers always have the liberty to choose the best-suited programming language as per the application logic.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="elegent">
                <div class="elegent-img">
                    <img src="../images/home/elegent.svg" class="img-fluid" alt="Codesdot" />
                </div>
            </div>
        </div>
    </section>





    <section class="hero-process">
        <div class="backgrounds-bg" style="back">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="backgrounds-content">
                            <h2 class="newbold">Hire .Net Developers</h2>
                            <p class="newsoft">Hire our skilled .Net developers and get ready to ‘Corner the market’ by boosting your business</p>
                            <center>
                                <div class="nowr-buttons hard">
                                    <a class="header-bttn" href="@Url.Action("Index", "hireus")">Hire Us</a>
                                </div>
                            </center>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="hero-process">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-sm-11 col-xs-12">
                    <div class="process-main-title main2 textimonial-title wow fadeInUp">
                        <div class="process-title">
                            <h2>.Net <br /> Development Services</h2>
                        </div>
                        <div class="sub-title">
                            <h5>WHAT WE DO</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-1 col-xs-0">

                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-sm-12 col-md-12 col-xs-12">
                    <div class="main-code-content wow fadeInLeft">
                        <div class="box-bg">
                            <div class="content">
                                <h2>Desktop and Web App Development</h2>
                                <p>We design wireframes and present options <br />to you. The coding cycle begins once you</p>
                            </div>
                            <div class="bg-image">
                                <img class="img-fluid" src="../images/technology/Asp.Net/desktop-and-web-app-development.svg" />
                            </div>
                        </div>

                        <div class="box-bg content1">
                            <div class="content">
                                <h2>Custom Application Development</h2>
                                <p>We may remove J2ME and J2EE as they are Java based technologies, instead we may add .NET Core here which is open-source alternative of legacy .NET Framework.</p>
                            </div>
                            <div class="bg-image">
                                <img class="img-fluid" src="../images/technology/Asp.Net/custom-application-development.svg" />
                            </div>
                        </div>

                        <div class="box-bg content1">
                            <div class="content">
                                <h2>.NET Quick Deliveries</h2>
                                <p>Our .Net programmers follow strict code principles and are keen to deliver satisfied services with faster development.</p>
                            </div>
                            <div class="bg-image">
                                <img class="img-fluid" src="../images/technology/Asp.Net/net-quick-deliveries.svg" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-12 col-md-12 col-xs-12">
                    <div class="bg-background box-scroll wow fadeInUp">
                        <center>
                            <img class="img-fluid" src="../images/technology/Asp.Net/services-image.png" />
                        </center>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-12 col-md-12 col-xs-12">
                    <div class="main-code-content wow fadeInRight">


                        <div class="box-bg1">
                            <div class="bg-image1 bg-image2">
                                <img class="img-fluid" src="../images/technology/Asp.Net/api-integration-development.svg" />
                            </div>
                            <div class="content">
                                <h2>API Integration Development</h2>
                                <p>We deliver highly secured and efficient .NET API solutions as per your need to ensure unimpeded A2A/B2B communication.</p>
                            </div>

                        </div>

                        <div class="box-bg1">
                            <div class="bg-image1 bg-image2">
                                <img class="img-fluid" src="../images/technology/Asp.Net/app-integration.svg" />
                            </div>
                            <div class="content">
                                <h2>App Integration</h2>
                                <p>We deliver efficient .NET solutions as per your need to ensure unimpeded A2A/B2B communication.</p>
                            </div>

                        </div>

                        <div class="box-bg1">
                            <div class="bg-image1 bg-image2 ">
                                <img class="img-fluid" src="../images/technology/Asp.Net/support-and-maintenance.svg" />
                            </div>
                            <div class="content">
                                <h2>Support and Maintenance</h2>
                                <p>Our reactive support hierarchy will give you best-in-class service for your questions and maintenance work.</p>
                            </div>

                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="hero-portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-sm-12 col-xs-12">
                    <div class="process-main-title achivment-title wow fadeInUp">
                        <div class="process-title">
                            <h2>.Net <br /> Development Projects </h2>
                        </div>
                        <div class="sub-title">
                            <h5>OUR PORTFOLIO</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-1 col-xs-0"></div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="mobportfolio-box">
                        <div class="mobportfolio-img">
                            <img src="../images/technology/Asp.Net/honeyexport-thumb.png" class="img-fluid" alt="" />
                        </div>
                        <div class="mobport-cont">
                            <span>.Net </span>
                            <h5>Honeyexport</h5>
                            <ul>
                                <li><a href="@Url.Action("Dotnet", "Technologies")">.Net</a></li>
                                <li><a href="#">MS SQL</a></li>
                                <li><a href="@Url.Action("Angular", "Technologies")">Angular</a></li>
                            </ul>
                            <a class="mobport-btn" href="@Url.Action("Index", "portfolio")">Read More <span><img src="../images/mobile/arrow.svg" /></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="mobportfolio-box">
                        <div class="mobportfolio-img">
                            <img src="../images/technology/Asp.Net/narmada.png" class="img-fluid" alt="" />
                        </div>
                        <div class="mobport-cont">
                            <span>.Net </span>
                            <h5>Narmada</h5>
                            <ul>
                                <li><a href="@Url.Action("Dotnet", "Technologies")">.Net</a></li>
                                <li><a href="#">MS SQL</a></li>
                                <li><a href="@Url.Action("Reactjs", "Technologies")">React.js</a></li>
                            </ul>
                            <a class="mobport-btn" href="@Url.Action("Index", "portfolio")">Read More <span><img src="../images/mobile/arrow.svg" /></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="mobportfolio-box">
                        <div class="mobportfolio-img">
                            <img src="../images/technology/Asp.Net/sddiam-thumb.png" class="img-fluid" alt="" />
                        </div>
                        <div class="mobport-cont">
                            <span>.Net </span>
                            <h5>SD Diam</h5>
                            <ul>
                                <li><a href="@Url.Action("Dotnet", "Technologies")">.Net</a></li>
                                <li><a href="#">Firebase</a></li>
                                <li><a href="@Url.Action("uiuxdesign", "services")">UI / UX</a></li>
                            </ul>
                            <a class="mobport-btn" href="@Url.Action("Index", "portfolio")">Read More <span><img src="../images/mobile/arrow.svg" /></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>



