
@{
    ViewBag.Title = "Html";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main role="main" class="pb-3">


    <section class="hero-process">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-sm-12 col-xs-12">
                    <div class="main-code angular-cont">
                        <div class="award-content techfonts wow fadeInLeft">
                            <h2>HTML5 Development Services</h2>
                            <h3 class="tech">Shape your imaginations and concepts into interesting and glamorous designs</h3>
                            <p>Build tempting and engaging websites with Codesdot leading HTML5 web development services in India & USA. Get our HTML5 design services with benefits of the combination of the CSS3 and JavaScript. Being a top HTML5 design company, we boast plenty of experience to serve eminent yet affordable responsive website design services leveraging HTML5 technology.</p>
                        </div>
                        <div class="button">
                            <a class="header-btn" href="@Url.Action("contactus", "hireus")">Get a Quote</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-sm-12 col-xs-12">
                    <div class="angular-img award-img">
                        <img src="../images/technology/HTML5/HTML.png" class="img-fluid" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="hero-process apps">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-sm-12 col-xs-12">
                    <div class="process-main-title process-main-title2 wow fadeInUp">
                        <div class="process-title mytwo">
                            <h2>Top HTML5 <br /> Development Company</h2>
                        </div>
                        <div class="sub-title">
                            <h5>
                                WHY WE ARE ?
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-1 col-xs-0">
                    <div class="core-img">
                        <img src="../images/home/core.svg" class="img-fluid" alt="Codesdot" />
                    </div>
                </div>
            </div>

            <div class="row newspace wow fadeInUp">
                <div class="col-lg-3 col-sm-12 col-xs-12 col-md-6">
                    <div class="main-box">
                        <div class="top-imgg">
                            <img class="img-fluid" src="../images/technology/Shopify/web-solutions.svg" />
                        </div>
                        <div class="main-contentt">
                            <h2>Development Proficiency</h2>
                            <p>
                                Our HTML experts always design reasonably priced solutions that satisfy the expectations of our clients.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-12 col-xs-12 col-md-6">
                    <div class="main-box mainbox">
                        <div class="top-imgg">
                            <img class="img-fluid" src="../images/technology/Shopify/front-end.svg" />
                        </div>
                        <div class="main-contentt">
                            <h2>Front-end Development</h2>
                            <p>
                                We serve fully functional and custom developed Front end to reach a wider client base to reach higher sales goals.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-12 col-xs-12 col-md-6">
                    <div class="main-box mainbox main1">
                        <div class="top-imgg">
                            <img class="img-fluid" src="../images/technology/Shopify/software-expertise.svg" />
                        </div>
                        <div class="main-contentt">
                            <h2>Development <br /> Expertise</h2>
                            <p>
                                Our talented web developers always design an affordable HTML based solutions that satisfy the expectations of our clients.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-12 col-xs-12 col-md-6">
                    <div class="main-box mainbox main1">
                        <div class="top-imgg">
                            <img class="img-fluid" src="../images/technology/Shopify/dedicated-developers.svg" />
                        </div>
                        <div class="main-contentt">
                            <h2>HTML web Support & Maintenance</h2>
                            <p>
                                We provide comprehensive consultancy and care related to the variety of HTML website development services.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




    <section class="hero-process">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-7 col-sm-12 col-xs-12 angularjs-section">
                    <div class="process-main-title achivment-title wow fadeInUp">
                        <div class="process-title">
                            <h2>Why HTML5?</h2>
                        </div>
                        <div class="sub-title">
                            <h5>WHAT USE?</h5>
                        </div>
                    </div>

                    <div class="angularjs-box">
                        <div class="mvc-box">
                            <div class="mvc-img">
                                <img src="../images/Angular/mvc.svg" class="img-fluid" alt="" />
                            </div>
                            <div class="mvc-cont">
                                <h5>INQUIRE</h5>
                                <p>You send us the outlined website requirements.</p>
                            </div>
                        </div>
                        <div class="mvc-box">
                            <div class="mvc-img">
                                <img src="../images/Angular/efficiency.svg" class="img-fluid" alt="" />
                            </div>
                            <div class="mvc-cont">
                                <h5>DISCUSS</h5>
                                <p>Our expert gets in touch with you to discuss it further.</p>
                            </div>
                        </div>
                        <div class="mvc-box">
                            <div class="mvc-img">
                                <img src="../images/Angular/two-way.svg" class="img-fluid" alt="" />
                            </div>
                            <div class="mvc-cont">
                                <h5>DESIGN</h5>
                                <p>We'll carry out UI & UX design to engage your spectators.</p>
                            </div>
                        </div>
                        <div class="mvc-box">
                            <div class="mvc-img">
                                <img src="../images/Angular/reusble.svg" class="img-fluid" alt="" />
                            </div>
                            <div class="mvc-cont">
                                <h5>BUILD</h5>
                                <p>We have CoE assigned to accomplish your development needs.</p>
                            </div>
                        </div>
                        <div class="mvc-box">
                            <div class="mvc-img mvc-img2">
                                <img src="../images/Angular/cross.svg" class="img-fluid" alt="" />
                            </div>
                            <div class="mvc-cont">
                                <h5>GO LIVE</h5>
                                <p>Perform Beta testing and launch with go-to-market strategy.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-sm-12 col-xs-12 angularjs-img">
                    <div class="angular-img">
                        <img src="../images/Angular/object.svg" class="img-fluid" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="hero-process">
        <div class="backgrounds-bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="backgrounds-content">
                            <h2 class="newbold">Hire HTML5 Developers</h2>
                            <p class="newsoft">Hire professional and expert developers from the pool of HTML5 developers.</p>
                            <center>
                                <div class="nowr-buttons hard">
                                    <a class="header-bttn" href="@Url.Action("Index", "hireus")">Hire Us</a>
                                </div>
                            </center>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="hero-process">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <div class="process-main-title mob-title wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                        <div class="process-title">
                            <h2>HTML5 <br /> Development Services</h2>
                        </div>
                        <div class="sub-title">
                            <h5>WHAT WE DO</h5>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="workshop-box Hybrid-box wow fadeIn">
                        <div class="workshop-icon">
                            <img src="../images/Angular/Hybrid.svg" class="img-fluid" alt="" />
                        </div>
                        <div class="workshop-cont">
                            <h5>Hybrid apps with HTML5</h5>
                            <p>Create a cross-platform (responsive) web app using HTML5 with integrated elements of native and web applications to support various functionalities.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="workshop-box Hybrid-box wow fadeIn">
                        <div class="workshop-icon">
                            <img src="../images/technology/wordpress/4.svg" class="img-fluid" alt="" />
                        </div>
                        <div class="workshop-cont">
                            <h5>JavaScript & CSS3 Development</h5>
                            <p>Strategic implementation of dynamic components and animations for your business portal to make it look modern & futuristic.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="workshop-box Hybrid-box wow fadeIn">
                        <div class="workshop-icon">
                            <img src="../images/Angular/Migration.svg" class="img-fluid" alt="" />
                        </div>
                        <div class="workshop-cont">
                            <h5>HTML5 Plugins Development</h5>
                            <p>Outspread the functions & features of your portal as per the commercial requirements with custom HTML5 plugins and elements installation.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="workshop-box Hybrid-box wow fadeIn">
                        <div class="workshop-icon">
                            <img src="../images/Angular/Hire.svg" class="img-fluid" alt="" />
                        </div>
                        <div class="workshop-cont">
                            <h5>HTML5 Migrations</h5>
                            <p>Toggle your existing website without any negotiation with your data and security using our HTML5 migration and consultation services.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="workshop-box Hybrid-box wow fadeIn">
                        <div class="workshop-icon">
                            <img src="../images/Angular/UIUX.svg" class="img-fluid" alt="" />
                        </div>
                        <div class="workshop-cont">
                            <h5>PSD to HTML5</h5>
                            <p>Translate your PSD files into HTML5 web pages with gorgeous and pleasing themes and web design.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="workshop-box Hybrid-box wow fadeIn">
                        <div class="workshop-icon">
                            <img src="../images/Angular/Custom.svg" class="img-fluid" alt="" />
                        </div>
                        <div class="workshop-cont">
                            <h5>Support and Maintenance</h5>
                            <p>Extended backing and maintenance along with upscale of your HTML5 website, wherever and whenever you require it.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        </div>
    </section>




    <section class="hero-portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-sm-12 col-xs-12">
                    <div class="process-main-title achivment-title wow fadeInUp">
                        <div class="process-title">
                            <h2>HTML5 <br />Development Projects</h2>
                        </div>
                        <div class="sub-title">
                            <h5>Our Portfolio</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-1 col-xs-0"></div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="mobportfolio-box">
                        <div class="mobportfolio-img">
                            <img src="../images/technology/HTML5/dev-talento-thumb.png" class="img-fluid" alt="" />
                        </div>
                        <div class="mobport-cont">
                            <span>HTML5</span>
                            <h5>Auditions.com</h5>
                            <ul>
                                <li><a href="@Url.Action("Html", "Technologies")">HTML5</a></li>
                                <li><a href="@Url.Action("Html", "Technologies")">CSS3</a></li>
                                <li><a href="@Url.Action("Angular", "Technologies")">Angular 10</a></li>
                            </ul>
                            <a class="mobport-btn" href="@Url.Action("Index", "portfolio")">Read More <span><img src="../images/mobile/arrow.svg" /></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="mobportfolio-box">
                        <div class="mobportfolio-img">
                            <img src="../images/technology/HTML5/onesaid.png" class="img-fluid" alt="" />
                        </div>
                        <div class="mobport-cont">
                            <span>HTML5</span>
                            <h5>Onesaid</h5>
                            <ul>
                                <li><a href="@Url.Action("Html", "Technologies")">HTML5</a></li>
                                <li><a href="@Url.Action("Reatjs", "Technologies")">React.js</a></li>
                                <li><a href="@Url.Action("Nodejs", "Technologies")">Node.js</a></li>
                            </ul>
                            <a class="mobport-btn" href="@Url.Action("Index", "portfolio")">Read More <span><img src="../images/mobile/arrow.svg" /></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="mobportfolio-box">
                        <div class="mobportfolio-img">
                            <img src="../images/technology/HTML5/thedentalviews-thumb.png" class="img-fluid" alt="" />
                        </div>
                        <div class="mobport-cont">
                            <span>HTML5</span>
                            <h5>The Dentalviews</h5>
                            <ul>
                                <li><a href="@Url.Action("Html", "Technologies")">HTML5</a></li>
                                <li><a href="#">Javascript</a></li>
                                <li><a href="@Url.Action("Html", "Technologies")">Bootstrap</a></li>
                            </ul>
                            <a class="mobport-btn" href="@Url.Action("Index", "portfolio")">Read More <span><img src="../images/mobile/arrow.svg" /></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>