
@{
    ViewBag.Title = "Ios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main role="main" class="pb-3">



    <section class="hero-process hero-enable hero-enables">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-sm-12 col-md-12 col-xs-12">
                    <div class="main-code">
                        <div class="award-content techfonts wow fadeInLeft">
                            <h2>Iphone Application Development Services</h2>
                            <h3 class="tech"> Transform ideas to Real-time & Cutting-edge iOS apps and connect to the iOS world</h3>
                            <p>Prevailing in mobile industry and the most-preferred in delivering iPhone application development services, Codesdot helps you to wide-range your business with trending app solutions for iPhones, iPads, Apple TV, and Apple Watches. Love to have your customers’ fingers rolled on your smart apps over and over? Hire our iOS experts to bring your business to the App Store.</p>
                        </div>
                        <div class="button">
                            <a class="header-btn" href="@Url.Action("contactus", "hireus")">Get a Quote</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 main-access">
                    <div class="award-img  wow fadeInRight">
                        <img src="../images/technology/ios/ios-app-development.png" class="img-fluid" alt="" />
                    </div>

                </div>

            </div>
        </div>
    </section>


    <section class="hero-process apps">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-sm-12 col-xs-12">
                    <div class="process-main-title process-main-title2 wow fadeInUp">
                        <div class="process-title mytwo">
                            <h2>Top Ios Apps<br /> Development Company</h2>
                        </div>
                        <div class="sub-title">
                            <h5>
                                WHY WE ARE ?
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-1 col-xs-0">
                    <div class="core-img">
                        <img src="../images/home/core.svg" class="img-fluid" alt="Codesdot" />
                    </div>
                </div>
            </div>

            <div class="row newspace wow fadeInUp">
                <div class="col-lg-3 col-sm-12 col-xs-12 col-md-6">
                    <div class="main-box">
                        <div class="top-imgg">
                            <img class="img-fluid" src="../images/technology/Shopify/web-solutions.svg" />
                        </div>
                        <div class="main-contentt">
                            <h2>Development Proficiency</h2>
                            <p>
                                Our iOS experts always develop reasonably priced solutions that satisfy the expectations of our clients.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-12 col-xs-12 col-md-6">
                    <div class="main-box mainbox">
                        <div class="top-imgg">
                            <img class="img-fluid" src="../images/technology/Shopify/front-end.svg" />
                        </div>
                        <div class="main-contentt">
                            <h2>iOS <br /> Development</h2>
                            <p>
                                We serve fully functional and custom developed app to reach a wider client base to reach higher sales goals.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-12 col-xs-12 col-md-6">
                    <div class="main-box mainbox main1">
                        <div class="top-imgg">
                            <img class="img-fluid" src="../images/technology/Shopify/software-expertise.svg" />
                        </div>
                        <div class="main-contentt">
                            <h2>Development <br /> Expertise</h2>
                            <p>
                                Our talented iOS developers always design an affordable iOS based solutions that satisfy the expectations of our clients.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-12 col-xs-12 col-md-6">
                    <div class="main-box mainbox main1">
                        <div class="top-imgg">
                            <img class="img-fluid" src="../images/technology/Shopify/dedicated-developers.svg" />
                        </div>
                        <div class="main-contentt">
                            <h2>iOS app Support & Maintenance</h2>
                            <p>
                                We provide comprehensive consultancy and care related to the variety of iOS app development services
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="hero-process ">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-sm-12 col-xs-12">
                    <div class="process-main-title achivment-title wow fadeInUp">
                        <div class="process-title">
                            <h2>Why Ios  <br /> App Development ? </h2>
                        </div>
                        <div class="sub-title">
                            <h5>WHAT USE?</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-1 col-xs-0"></div>
            </div>

            <div class="row">
                <div class="col-lg-8 col-sm-12 col-xs-12 col-md-12">
                    <div class="newbox-here wow fadeInLeft">
                        <div class="dev-cont">
                            <p>Created and developed by Apple Inc., iOS is a mobile OS that allows only iOS/iPhone app to run on iOS-powered mobile gadgets. iPhone is often known as “walled garden” because of Apple’s tight, strict and secured control over it, which ultimately allows better software optimization and ease of use. Typical iPhone features are:</p>
                            <ul>
                                <li><span><i class="fa fa-check" aria-hidden="true"></i></span>  Seamless integration with Apple ecosystem</li>
                                <li><span><i class="fa fa-check" aria-hidden="true"></i></span>  Enhanced Security & Secured Transactions</li>
                                <li><span><i class="fa fa-check" aria-hidden="true"></i></span>  Most flexible UI</li>
                                <li><span><i class="fa fa-check" aria-hidden="true"></i></span>  Better customer experience</li>
                                <li><span><i class="fa fa-check" aria-hidden="true"></i></span>  Best scalability</li>
                                <li><span><i class="fa fa-check" aria-hidden="true"></i></span>  Empowers value in the international market</li>
                            </ul>
                            <p>We provide numerous and unique iPhone application development services with different open source development frameworks like Ionic, React, Mean Stack, Protractor & Radian, etc. Our iPhone champions are iOS experts who work exclusively, knowing the iOS market potentiality. Worried about how to transcend your visuals into a fully smart and budget-friendly iPhone app? Contact us today only and hire world-class iOS developers from our professional team.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12 col-xs-12 col-md-12">
                    @*<div class="backgrounds-bgg wow fadeInRight">*@                    
                    <img class="img-fluid" src="~/images/technology/ios/what-use-image.png" />
                </div>
                </div>
    </section>


    <section class="hero-process">
        <div class="backgrounds-bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="backgrounds-content">
                            <h2 class="newbold">Hire Ios Developers</h2>
                            <p class="newsoft">Create your own development team now</p>
                            <center>
                                <div class="nowr-buttons hard">
                                    <a class="header-bttn" href="@Url.Action("Index", "hireus")">Hire Us</a>
                                </div>
                            </center>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="hero-process">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-sm-11 col-xs-12">
                    <div class="process-main-title main2 textimonial-title wow fadeInUp">
                        <div class="process-title">
                            <h2>Ios App <br /> Development Services</h2>
                        </div>
                        <div class="sub-title">
                            <h5>WHAT WE DO</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-1 col-xs-0">

                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-sm-12 col-md-12 col-xs-12">
                    <div class="main-code-content wow fadeInLeft">
                        <div class="box-bg">
                            <div class="content">
                                <h2>Custom IPhone App development</h2>
                                <p>Making our customers a prime focus, we provide different and highly effective open source iPhone application development services with elegant designs to meet their specifications and business requirements. We have a unique approach to give iOS apps a personalized ‘look-n-feel’.</p>
                            </div>
                            <div class="bg-image">
                                <img class="img-fluid" src="../images/technology/ios/custom-iPhone-app-development.svg" />
                            </div>
                        </div>

                        <div class="box-bg content1">
                            <div class="content">
                                <h2>Native IOS App development</h2>
                                <p>Discuss your iOS app ideas with our native iOS experts to reach a million downloads of your app. We build flawless native apps that work smoothly across all iOS devices and platforms with the best device fidelity.</p>
                            </div>
                            <div class="bg-image">
                                <img class="img-fluid" src="../images/technology/ios/native-ios-app-development.svg" />
                            </div>
                        </div>


                        <div class="box-bg content1">
                            <div class="content">
                                <h2>IOS UI/UX design</h2>
                                <p>Want to have a glamorous UI/UX design for your iPhone app? Our digitally iOS design masters deliver you the compelling, attractive and excellently innovative iOS apps, which are also easy to access. Get delivered prototypes that feel real and make your app in top searches of the App store.</p>
                            </div>
                            <div class="bg-image">
                                <img class="img-fluid" src="../images/technology/ios/ios-ui-ux-design.svg" />
                            </div>
                        </div>



                    </div>
                </div>



                <div class="col-lg-4 col-sm-12 col-md-12 col-xs-12 ">
                    <div class="bg-background box-scroll wow fadeInUp">
                        <center>
                            <img class="img-fluid" src="../images/technology/ios/What-we-do-image.png" />
                        </center>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-12 col-md-12 col-xs-12">
                    <div class="main-code-content wow fadeInRight">


                        <div class="box-bg1">
                            <div class="bg-image1">
                                <img class="img-fluid" src="../images/technology/ios/enterprise-ios-application.svg" />
                            </div>
                            <div class="content">
                                <h2>Enterprise IOS applications</h2>
                                <p>Boosting our solid enterprise experience by developing enterprise-centric apps, we help you to lead the digital market. We are dedicated to achieve your crucial enterprise objectives with 100% success rate in strict deadlines. Our iOS enterprise experts help you to brand your enterprise profitably.</p>
                            </div>

                        </div>

                        <div class="box-bg1">
                            <div class="bg-image1">
                                <img class="img-fluid" src="../images/technology/ios/siri-integration.svg" />
                            </div>
                            <div class="content">
                                <h2>Siri integration</h2>
                                <p>Get your users quickly accomplish app-related tasks by just using their voice. Siri is the best digital personal assistant for you. We scout Siri integration for your next third-party iOS app. No need to remember your schedule and have your events created & detected and get helpful suggestions when needed by integrating Siri in apps.</p>
                            </div>

                        </div>

                        <div class="box-bg1">
                            <div class="bg-image1">
                                <img class="img-fluid" src="../images/technology/ios/support-Maintain-upgrade-ios-app.svg" />
                            </div>
                            <div class="content">
                                <h2>Support, Maintain & Upgrade iOS app</h2>
                                <p>All-tune your iOS apps with the latest features. We offer on-going maintenance of the apps and technical support for the apps, bug fixing and regular tracking on top of platform upgrade, whenever and wherever you want them.</p>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="hero-portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-sm-12 col-xs-12">
                    <div class="process-main-title achivment-title wow fadeInUp">
                        <div class="process-title">
                            <h2>Our<br /> Success Stories Work </h2>
                        </div>
                        <div class="sub-title">
                            <h5>OUR PORTFOLIO</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-1 col-xs-0"></div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="mobportfolio-box">
                        <div class="mobportfolio-img">
                            <img src="../images/technology/ios/onesaid.png" class="img-fluid" alt="" />
                        </div>
                        <div class="mobport-cont">
                            <span>IOS</span>
                            <h5>Onesaid</h5>
                            <ul>
                                <li><a href="@Url.Action("Ios", "Technologies")">Objective-C</a></li>
                                <li><a href="@Url.Action("Laravel", "Technologies")">Laravel</a></li>
                                <li><a href="@Url.Action("uiuxdesign", "services")">UI / UX</a></li>
                            </ul>
                            <a class="mobport-btn" href="@Url.Action("Index", "portfolio")">Read More <span><img src="../images/mobile/arrow.svg" /></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="mobportfolio-box">
                        <div class="mobportfolio-img">
                            <img src="../images/technology/ios/bizdesk-diamond%20broker.png" class="img-fluid" alt="" />
                        </div>
                        <div class="mobport-cont">
                            <span>IOS</span>
                            <h5>BizDesk - Diamond Broker</h5>
                            <ul>
                                <li><a href="@Url.Action("Ios", "Technologies")">Swift</a></li>
                                <li><a href="@Url.Action("Dotnet", "Technologies")">.Net</a></li>
                                <li><a href="@Url.Action("uiuxdesign", "services")">UI / UX</a></li>
                            </ul>
                            <a class="mobport-btn" href="@Url.Action("Index", "portfolio")">Read More <span><img src="../images/mobile/arrow.svg" /></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="mobportfolio-box">
                        <div class="mobportfolio-img">
                            <img src="../images/technology/ios/rap-calculator.png" class="img-fluid" alt="" />
                        </div>
                        <div class="mobport-cont">
                            <span>IOS</span>
                            <h5>Rap Calculator</h5>
                            <ul>
                                <li><a href="@Url.Action("Ios", "Technologies")">Swift</a></li>
                                <li><a href="@Url.Action("Dotnet", "Technologies")">.Net</a></li>
                                <li><a href="@Url.Action("uiuxdesign", "services")">UI / UX</a></li>
                            </ul>
                            <a class="mobport-btn" href="@Url.Action("Index", "portfolio")">Read More <span><img src="../images/mobile/arrow.svg" /></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
