
@{
    ViewBag.Title = "Laravel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main role="main" class="pb-3">



    <section class="hero-process hero-enable hero-enables">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12 col-md-12 col-xs-12">
                    <div class="main-code">
                        <div class="award-content techfonts wow fadeInLeft">
                            <h2>
                                Laravel Development Company
                            </h2>
                            <h3 class="tech"> Developing ideas into websites and applications boosted by Laravel</h3>
                            <p>
                                Recognized as a top Laravel development company in India, Codesdot delivers the best quality, powerful, rapid and desired result-oriented websites & applications. We work logically and smoothly to give our customers the best of Laravel by executing projects on various scales. Wanna get the best Laravel web development services? Just bring your requirements to us and then see the magic of our Laravel experts.
                            </p>
                        </div>
                        <div class="button">
                            <a class="header-btn" href="@Url.Action("contactus", "hireus")">Get a Quote</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 main-access">
                    <div class="award-img newdecide  wow fadeInRight">
                        <img src="../images/technology/Laravel/Laravel.svg" class="img-fluid" alt="" />
                    </div>

                </div>

            </div>
        </div>
    </section>



    <section class="hero-process apps">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-sm-12 col-xs-12">
                    <div class="process-main-title process-main-title2 wow fadeInUp">
                        <div class="process-title mytwo">
                            <h2>Top Laravel<br /> Development Company</h2>
                        </div>
                        <div class="sub-title">
                            <h5>
                                WHY WE ARE ?
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-1 col-xs-0">
                    <div class="core-img">
                        <img src="../images/home/core.svg" class="img-fluid" alt="Codesdot" />
                    </div>
                </div>
            </div>

            <div class="row newspace wow fadeInUp">
                <div class="col-lg-3 col-sm-12 col-xs-12 col-md-6">
                    <div class="main-box">
                        <div class="top-imgg">
                            <img class="img-fluid" src="../images/technology/Shopify/web-solutions.svg" />
                        </div>
                        <div class="main-contentt">
                            <h2>Development Proficiency</h2>
                            <p>
                                Our LARAVEL experts always develop reasonably priced solutions that satisfy the expectations of our clients.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-12 col-xs-12 col-md-6">
                    <div class="main-box mainbox">
                        <div class="top-imgg">
                            <img class="img-fluid" src="../images/technology/Shopify/front-end.svg" />
                        </div>
                        <div class="main-contentt">
                            <h2>LARAVEL <br /> Development</h2>
                            <p>
                                We serve fully functional and custom developed web to reach a wider client base to reach higher sales goals.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-12 col-xs-12 col-md-6">
                    <div class="main-box mainbox main1">
                        <div class="top-imgg">
                            <img class="img-fluid" src="../images/technology/Shopify/software-expertise.svg" />
                        </div>
                        <div class="main-contentt">
                            <h2>Development <br /> Expertise</h2>
                            <p>
                                Our talented LARAVEL developers always design an affordable LARAVEL based solutions that satisfy the expectations of our clients.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-12 col-xs-12 col-md-6">
                    <div class="main-box mainbox main1">
                        <div class="top-imgg">
                            <img class="img-fluid" src="../images/technology/Shopify/dedicated-developers.svg" />
                        </div>
                        <div class="main-contentt">
                            <h2>LARAVEL  web Support & Maintenance</h2>
                            <p>
                                We provide comprehensive consultancy and care related to the variety of LARAVEL Web development services.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




    <section class="hero-process">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-sm-11 col-xs-12">
                    <div class="process-main-title achivment-title wow fadeInUp">
                        <div class="process-title">
                            <h2>Why Laravel Framework?</h2>
                        </div>
                        <div class="sub-title">
                            <h5>WHAT USE?</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-1 col-xs-0"></div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="card-box">
                        <div class="card-icon">
                            <img src="../images/technology/node/OBJECTS.svg" class="img-fluid" alt="Codesdot" />
                        </div>
                        <div class="card-cont card-conts">
                            <h5>Frontend Framing</h5>
                            <p>Laravel comprise basic scaffolding that helps writing JavaScript using modern Vue and React libraries.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="card-box Web card-box2">
                        <div class="card-icon">
                            <img src="../images/home/web.svg" class="img-fluid" alt="Codesdot" />
                        </div>
                        <div class="card-cont card-conts">
                            <h5>Object-Oriented Libraries</h5>
                            <p>Programmers are allowed to use pre-written codes and class libraries for rapid development.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="card-box Design">
                        <div class="card-icon">
                            <img src="../images/technology/node/Layer.svg" class="img-fluid" alt="Codesdot" />
                        </div>
                        <div class="card-cont card-conts">
                            <h5>Active Community support</h5>
                            <p>Laravel is one of the few open-source communities which are well-known for their vastness and </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="card-box Software card-box2">
                        <div class="card-icon">
                            <img src="../images/home/software.svg" class="img-fluid" alt="Codesdot" />
                        </div>
                        <div class="card-cont card-conts">
                            <h5>Easy to Test</h5>
                            <p>Laravel's unit testing tool saves development time and project money with an effectual outcome.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="elegent">
                <div class="elegent-img">
                    <img src="../images/home/elegent.svg" class="img-fluid" alt="Codesdot" />
                </div>
            </div>
        </div>
    </section>





    <section class="hero-process">
        <div class="backgrounds-bg" style="back">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="backgrounds-content">
                            <h2 class="newbold">Hire Laravel Developers</h2>
                            <p class="newsoft">Hire our skilled Laravel developers and get ready to ‘Corner the market’ by boosting your business</p>
                            <center>
                                <div class="nowr-buttons hard">
                                    <a class="header-bttn" href="@Url.Action("Index", "hireus")">Hire Us</a>
                                </div>
                            </center>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="hero-process">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-sm-11 col-xs-12">
                    <div class="process-main-title main2 textimonial-title wow fadeInUp">
                        <div class="process-title">
                            <h2>Laravel <br /> Development Services</h2>
                        </div>
                        <div class="sub-title">
                            <h5>WHAT WE DO</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-1 col-xs-0">

                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-sm-12 col-md-12 col-xs-12">
                    <div class="main-code-content wow fadeInLeft">
                        <div class="box-bg">
                            <div class="content">
                                <h2>Custom Laravel Development</h2>
                                <p>We provide excellent customization services using modern Laravel development environment to produce an exclusive design.</p>
                            </div>
                            <div class="bg-image">
                                <img class="img-fluid" src="../images/technology/Laravel/custom-laravel-web-development.svg" />
                            </div>
                        </div>

                        <div class="box-bg content1">
                            <div class="content">
                                <h2>Laravel Extension Development</h2>
                                <p>With the proficiency of our Laravel programmers we provide custom Laravel extension development for web apps.</p>
                            </div>
                            <div class="bg-image">
                                <img class="img-fluid" src="../images/technology/Laravel/laravel-extension-development.svg" />
                            </div>
                        </div>

                        <div class="box-bg content1">
                            <div class="content">
                                <h2>Laravel Migration Services</h2>
                                <p>Our Laravel programmers in India deliver smooth migration from current platform to Laravel based web portal.</p>
                            </div>
                            <div class="bg-image">
                                <img class="img-fluid" src="../images/technology/Laravel/laravel-migration-services.svg" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-12 col-md-12 col-xs-12">
                    <div class="bg-background box-scroll wow fadeInUp">
                        <center>
                            <img class="img-fluid" src="../images/technology/Laravel/php-framwork.png" />
                        </center>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-12 col-md-12 col-xs-12">
                    <div class="main-code-content wow fadeInRight">
                        <div class="box-bg1">
                            <div class="bg-image1 bg-image2 ">
                                <img class="img-fluid" src="../images/technology/Laravel/laravel-ecommerce.svg" />
                            </div>
                            <div class="content">
                                <h2>Laravel eCommerce</h2>
                                <p>Discover our Laravel eCommerce development capability with greater performance and greater security appliances.</p>
                            </div>

                        </div>

                        <div class="box-bg1">
                            <div class="bg-image1 bg-image2">
                                <img class="img-fluid" src="../images/technology/Laravel/api-integration-service.svg" />
                            </div>
                            <div class="content">
                                <h2>API Integration Service</h2>
                                <p>Explore our unified API integration services with third party apps or native mobile apps.</p>
                            </div>

                        </div>

                        <div class="box-bg1">
                            <div class="bg-image1 bg-image2">
                                <img class="img-fluid" src="../images/technology/Laravel/support-and-maintenance.svg" />
                            </div>
                            <div class="content">
                                <h2>Support and Maintenance</h2>
                                <p>Our reactive support hierarchy will give you best-in-class service for your questions and maintenance work.</p>
                            </div>

                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>




    <section class="hero-portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-sm-12 col-xs-12">
                    <div class="process-main-title achivment-title wow fadeInUp">
                        <div class="process-title">
                            <h2>Laravel <br /> Development Projects </h2>
                        </div>
                        <div class="sub-title">
                            <h5>OUR PORTFOLIO</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-1 col-xs-0"></div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="mobportfolio-box">
                        <div class="mobportfolio-img">
                            <img src="../images/technology/Laravel/clerky-thumb.png" class="img-fluid" alt="" />
                        </div>
                        <div class="mobport-cont">
                            <span>Laravel </span>
                            <h5>Clerky</h5>
                            <ul>
                                <li><a href="@Url.Action("Laravel", "Technologies")">Laravel</a></li>
                                <li><a href="@Url.Action("Php", "Technologies")">PHP</a></li>
                                <li><a href="#">My SQL</a></li>
                            </ul>
                            <a class="mobport-btn" href="@Url.Action("Index", "portfolio")">Read More <span><img src="../images/mobile/arrow.svg" /></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="mobportfolio-box">
                        <div class="mobportfolio-img">
                            <img src="../images/technology/Laravel/enzymespharma-thumb.png" class="img-fluid" alt="" />
                        </div>
                        <div class="mobport-cont">
                            <span>Laravel </span>
                            <h5>Enzymespharma</h5>
                            <ul>
                                <li><a href="@Url.Action("Laravel", "Technologies")">Laravel</a></li>
                                <li><a href="@Url.Action("Angular", "Technologies")">Angular</a></li>
                                <li><a href="@Url.Action("uiuxdesign", "services")">UI / UX</a></li>
                            </ul>
                            <a class="mobport-btn" href="@Url.Action("Index", "portfolio")">Read More <span><img src="../images/mobile/arrow.svg" /></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="mobportfolio-box">
                        <div class="mobportfolio-img">
                            <img src="../images/technology/Laravel/smileprogram-thumb.png" class="img-fluid" alt="" />
                        </div>
                        <div class="mobport-cont">
                            <span>Laravel </span>
                            <h5>Smile Program</h5>
                            <ul>
                                <li><a href="@Url.Action("Laravel", "Technologies")">Laravel</a></li>
                                <li><a href="#">My SQL</a></li>
                                <li><a href="@Url.Action("uiuxdesign", "services")">UI / UX</a></li>
                            </ul>
                            <a class="mobport-btn" href="@Url.Action("Index", "portfolio")">Read More <span><img src="../images/mobile/arrow.svg" /></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
