
@{
    ViewBag.Title = "Nodejs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main role="main" class="pb-3">


    <section class="hero-process hero-enable hero-enables">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12 col-md-12 col-xs-12">
                    <div class="main-code">
                        <div class="award-content techfonts wow fadeInLeft">
                            <h2>
                                NodeJS Framework
                            </h2>
                            <h3 class="tech"> Faster, Scalable and Real-time Web apps powered by best Node.js Framework</h3>
                            <p>
                                Codesdot has been the foremost in best Node.js framework app development because of its flexibility in providing lightweight, efficient and scalable real-time web apps and mobile apps with high security. Helping clients to handle high-speed data retrieval and boost data exchange, we leverage performance via innovative enterprise web solutions. Load-off your work and accelerate your business by hiring our Node.js expertise team and visualize the real world speedily.
                            </p>
                        </div>
                        <div class="button">
                            <a class="header-btn" href="@Url.Action("contactus", "hireus")">Get a Quote</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 main-access">
                    <div class="award-img newdecide  wow fadeInRight">
                        <img src="../images/technology/node/nodejs-framework.png" class="img-fluid" alt="" />
                    </div>

                </div>

            </div>
        </div>
    </section>



    <section class="hero-process apps">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-sm-12 col-xs-12">
                    <div class="process-main-title process-main-title2 wow fadeInUp">
                        <div class="process-title mytwo">
                            <h2>Top Node.js<br /> Development Company</h2>
                        </div>
                        <div class="sub-title">
                            <h5>
                                WHY WE ARE ?
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-1 col-xs-0">
                    <div class="core-img">
                        <img src="../images/home/core.svg" class="img-fluid" alt="Codesdot" />
                    </div>
                </div>
            </div>

            <div class="row newspace wow fadeInUp">
                <div class="col-lg-3 col-sm-12 col-xs-12 col-md-6">
                    <div class="main-box">
                        <div class="top-imgg">
                            <img class="img-fluid" src="../images/technology/Shopify/web-solutions.svg" />
                        </div>
                        <div class="main-contentt">
                            <h2>Development Proficiency</h2>
                            <p>
                                Our Node experts always develop reasonably priced solutions that satisfy the expectations of our clients.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-12 col-xs-12 col-md-6">
                    <div class="main-box mainbox">
                        <div class="top-imgg">
                            <img class="img-fluid" src="../images/technology/Shopify/front-end.svg" />
                        </div>
                        <div class="main-contentt">
                            <h2>Node <br /> Development</h2>
                            <p>
                                We serve fully functional and custom developed web to reach a wider client base to reach higher sales goals.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-12 col-xs-12 col-md-6">
                    <div class="main-box mainbox main1">
                        <div class="top-imgg">
                            <img class="img-fluid" src="../images/technology/Shopify/software-expertise.svg" />
                        </div>
                        <div class="main-contentt">
                            <h2>Development <br /> Expertise</h2>
                            <p>
                                Our talented Node developers always design an affordable Node based solutions that satisfy the expectations of our clients.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-12 col-xs-12 col-md-6">
                    <div class="main-box mainbox main1">
                        <div class="top-imgg">
                            <img class="img-fluid" src="../images/technology/Shopify/dedicated-developers.svg" />
                        </div>
                        <div class="main-contentt">
                            <h2>Node  web Support & Maintenance</h2>
                            <p>
                                We provide comprehensive consultancy and care related to the variety of Node Web development services.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




    <section class="hero-process">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-sm-11 col-xs-12">
                    <div class="process-main-title achivment-title wow fadeInUp">
                        <div class="process-title">
                            <h2>Why Node.Js Framework?</h2>
                        </div>
                        <div class="sub-title">
                            <h5>WHAT USE?</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-1 col-xs-0"></div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="card-box">
                        <div class="card-icon">
                            <img src="../images/technology/node/OBJECTS.svg" class="img-fluid" alt="Codesdot" />
                        </div>
                        <div class="card-cont card-conts">
                            <h5>Light-weight programming</h5>
                            <p>Because the main language is JavaScript, you can easily share parts of code between different components in your system.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="card-box Web card-box2">
                        <div class="card-icon">
                            <img src="../images/home/web.svg" class="img-fluid" alt="Codesdot" />
                        </div>
                        <div class="card-cont card-conts">
                            <h5>Edging event-driven &<br /> Non-blocking</h5>
                            <p>The main advantage and result of this approach is improved efficiency by handling a lot of simultaneous connections.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="card-box Design">
                        <div class="card-icon">
                            <img src="../images/technology/node/Layer.svg" class="img-fluid" alt="Codesdot" />
                        </div>
                        <div class="card-cont card-conts">
                            <h5>Easy Server-side <br />Proxy</h5>
                            <p>If your enterprise lacks professional proxy infrastructure, then Node.js can come to your rescue by serving as a proxy server!</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="card-box Software card-box2">
                        <div class="card-icon">
                            <img src="../images/home/software.svg" class="img-fluid" alt="Codesdot" />
                        </div>
                        <div class="card-cont card-conts">
                            <h5>Versatile Cloud <br />Scalability</h5>
                            <p>Node’s scalability is achieved by the load balancing and the capability to handle a huge number of concurrent connections.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="elegent">
                <div class="elegent-img">
                    <img src="../images/home/elegent.svg" class="img-fluid" alt="Codesdot" />
                </div>
            </div>
        </div>
    </section>





    <section class="hero-process">
        <div class="backgrounds-bg" style="back">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="backgrounds-content">
                            <h2 class="newbold">Hire Node.Js Developers</h2>
                            <p class="newsoft">Hire our skilled Node.js developers and get ready to ‘Corner the market’ by boosting your business</p>
                            <center>
                                <div class="nowr-buttons hard">
                                    <a class="header-bttn" href="@Url.Action("contactus", "hireus")">Hire Us</a>
                                </div>
                            </center>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="hero-process">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-sm-11 col-xs-12">
                    <div class="process-main-title main2 textimonial-title wow fadeInUp">
                        <div class="process-title">
                            <h2>Node.js <br /> Development Services</h2>
                        </div>
                        <div class="sub-title">
                            <h5>WHAT WE DO</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-1 col-xs-0">

                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-sm-12 col-md-12 col-xs-12">
                    <div class="main-code-content wow fadeInLeft">
                        <div class="box-bg">
                            <div class="content">
                                <h2>Custom Node.js development</h2>
                                <p>We propose and offer our client’s customized solutions that help them contrive their needs.</p>
                            </div>
                            <div class="bg-image">
                                <img class="img-fluid" src="../images/technology/node/custom-node-js-development.svg" />
                            </div>
                        </div>

                        <div class="box-bg content1">
                            <div class="content">
                                <h2>Node.js Web development</h2>
                                <p>Our Node.js experts are prefer to develop feature-rich, scalable and dynamic websites</p>
                            </div>
                            <div class="bg-image">
                                <img class="img-fluid" src="../images/technology/node/node.js-web-development.svg" />
                            </div>
                        </div>

                        <div class="box-bg content1">
                            <div class="content">
                                <h2>Node.js Back-end Data management </h2>
                                <p>We create custom back-end systems that can help the client to easily perform data and keep their web updated.</p>
                            </div>
                            <div class="bg-image">
                                <img class="img-fluid" src="../images/technology/node/node-js-back-end-data-management.svg" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-12 col-md-12 col-xs-12">
                    <div class="bg-background box-scroll wow fadeInUp">
                        <center>
                            <img class="img-fluid" src="../images/technology/node/services-image.png" />
                        </center>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-12 col-md-12 col-xs-12">
                    <div class="main-code-content wow fadeInRight">
                        <div class="box-bg1">
                            <div class="bg-image1 bg-image2 ">
                                <img class="img-fluid" src="../images/technology/node/node-js-social-networking-applications.svg" />
                            </div>
                            <div class="content">
                                <h2>Node.js Social Networking Applications</h2>
                                <p>Our node.js masters help you to establish social network, of and within your organization, empowered by node.js.</p>
                            </div>

                        </div>

                        <div class="box-bg1">
                            <div class="bg-image1 bg-image2">
                                <img class="img-fluid" src="../images/technology/node/node-js-real-time-collaboration-tools.svg" />
                            </div>
                            <div class="content">
                                <h2>Node.js Real-Time Collaboration Tools</h2>
                                <p>Our node.js professionals assist you to handle most secure, robust and competent Node.js Real-Time Collaboration tools.</p>
                            </div>

                        </div>

                        <div class="box-bg1">
                            <div class="bg-image1 bg-image2">
                                <img class="img-fluid" src="../images/technology/node/node-maintenance-and-support.svg" />
                            </div>
                            <div class="content">
                                <h2>Node Maintenance and Support</h2>
                                <p>We not only stop at developing project for our clients but also provide them immediate support and maintenance.</p>
                            </div>

                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>




    <section class="hero-portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-sm-12 col-xs-12">
                    <div class="process-main-title achivment-title wow fadeInUp">
                        <div class="process-title">
                            <h2>Node.js <br /> Development Projects </h2>
                        </div>
                        <div class="sub-title">
                            <h5>OUR PORTFOLIO</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-1 col-xs-0"></div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="mobportfolio-box">
                        <div class="mobportfolio-img">
                            <img src="../images/technology/node/honeyexport-thumb.png" class="img-fluid" alt="" />
                        </div>
                        <div class="mobport-cont">
                            <span>Node.js </span>
                            <h5>Honeyexport</h5>
                            <ul>
                                <li><a href="@Url.Action("Reactjs", "Technologies")">React.js</a></li>
                                <li><a href="@Url.Action("Nodejs", "Technologies")">Node.js</a></li>
                                <li><a href="@Url.Action("uiuxdesign", "services")">UI / UX</a></li>
                            </ul>
                            <a class="mobport-btn" href="@Url.Action("Index", "portfolio")">Read More <span><img src="../images/mobile/arrow.svg" /></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="mobportfolio-box">
                        <div class="mobportfolio-img">
                            <img src="../images/technology/node/gdpimpex-thumb.png" class="img-fluid" alt="" />
                        </div>
                        <div class="mobport-cont">
                            <span>Node.js </span>
                            <h5>GDP Impex</h5>
                            <ul>
                                <li><a href="@Url.Action("Angular", "Technologies")">Angular</a></li>
                                <li><a href="@Url.Action("Nodejs", "Technologies")">Node.js</a></li>
                                <li><a href="@Url.Action("uiuxdesign", "services")">UI / UX</a></li>
                            </ul>
                            <a class="mobport-btn" href="@Url.Action("Index", "portfolio")">Read More <span><img src="../images/mobile/arrow.svg" /></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="mobportfolio-box">
                        <div class="mobportfolio-img">
                            <img src="../images/technology/node/narmada.png" class="img-fluid" alt="" />
                        </div>
                        <div class="mobport-cont">
                            <span>Node.js </span>
                            <h5>Narmada</h5>
                            <ul>
                                <li><a href="#">Magento</a></li>
                                <li><a href="@Url.Action("Nodejs", "Technologies")">Node.js</a></li>
                                <li><a href="@Url.Action("uiuxdesign", "services")">UI / UX</a></li>
                            </ul>
                            <a class="mobport-btn" href="@Url.Action("Index", "portfolio")">Read More <span><img src="../images/mobile/arrow.svg" /></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

