
@{
    ViewBag.Title = "Php";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main role="main" class="pb-3">



    <section class="hero-process hero-enable hero-enables">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-sm-12 col-md-12 col-xs-12">
                    <div class="main-code">
                        <div class="award-content techfonts wow fadeInLeft">
                            <h2>
                                PHP Framework
                            </h2>
                            <h3 class="tech"> Faster, Scalable and Real-time Web apps powered by best PHP Framework</h3>
                            <p>
                                Codesdot has been the foremost in best PHP framework app development because of its flexibility in providing lightweight, efficient and scalable real-time web apps and mobile apps with high security. Helping clients to handle high-speed data retrieval and boost data exchange, we leverage performance via innovative enterprise web solutions. Load-off your work and accelerate your business by hiring our PHP expertise team and visualize the real world speedily.
                            </p>
                        </div>
                        <div class="button">
                            <a class="header-btn" href="@Url.Action("contactus", "hireus")">Get a Quote</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 main-access">
                    <div class="award-img newdecide  wow fadeInRight">
                        <img src="../images/technology/php/php-framework.png" class="img-fluid" alt="" />
                    </div>

                </div>

            </div>
        </div>
    </section>



    <section class="hero-process apps">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-sm-12 col-xs-12">
                    <div class="process-main-title process-main-title2 wow fadeInUp">
                        <div class="process-title mytwo">
                            <h2>Top PHP<br /> Development Company</h2>
                        </div>
                        <div class="sub-title">
                            <h5>
                                WHY WE ARE ?
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-1 col-xs-0">
                    <div class="core-img">
                        <img src="../images/home/core.svg" class="img-fluid" alt="Codesdot" />
                    </div>
                </div>
            </div>

            <div class="row newspace wow fadeInUp">
                <div class="col-lg-3 col-sm-12 col-xs-12 col-md-6">
                    <div class="main-box">
                        <div class="top-imgg">
                            <img class="img-fluid" src="../images/technology/Shopify/web-solutions.svg" />
                        </div>
                        <div class="main-contentt">
                            <h2>Development Proficiency</h2>
                            <p>
                                Our PHP experts always develop reasonably priced solutions that satisfy the expectations of our clients.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-12 col-xs-12 col-md-6">
                    <div class="main-box mainbox">
                        <div class="top-imgg">
                            <img class="img-fluid" src="../images/technology/Shopify/front-end.svg" />
                        </div>
                        <div class="main-contentt">
                            <h2>PHP <br /> Development</h2>
                            <p>
                                We serve fully functional and custom developed web to reach a wider client base to reach higher sales goals.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-12 col-xs-12 col-md-6">
                    <div class="main-box mainbox">
                        <div class="top-imgg">
                            <img class="img-fluid" src="../images/technology/Shopify/software-expertise.svg" />
                        </div>
                        <div class="main-contentt">
                            <h2>Development <br /> Expertise</h2>
                            <p>
                                Our talented PHP developers always design an affordable PHP based solutions that satisfy the expectations of our clients.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-12 col-xs-12 col-md-6">
                    <div class="main-box mainbox main1">
                        <div class="top-imgg">
                            <img class="img-fluid" src="../images/technology/Shopify/dedicated-developers.svg" />
                        </div>
                        <div class="main-contentt">
                            <h2>PHP  web Support & Maintenance</h2>
                            <p>
                                We provide comprehensive consultancy and care related to the variety of PHP Web development services.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




    <section class="hero-process">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-sm-11 col-xs-12">
                    <div class="process-main-title achivment-title wow fadeInUp">
                        <div class="process-title">
                            <h2>Why PHP Framework?</h2>
                        </div>
                        <div class="sub-title">
                            <h5>WHAT USE?</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-1 col-xs-0"></div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="card-box">
                        <div class="card-icon">
                            <img src="../images/technology/node/OBJECTS.svg" class="img-fluid" alt="Codesdot" />
                        </div>
                        <div class="card-cont card-conts">
                            <h5>Easy Integration and Compatibility</h5>
                            <p>PHP can easily run on different platforms, including UNIX, Solaris and Linux. As it can be integrated without effort with other technologies</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="card-box Web card-box2">
                        <div class="card-icon">
                            <img src="../images/home/web.svg" class="img-fluid" alt="Codesdot" />
                        </div>
                        <div class="card-cont card-conts">
                            <h5>Extremely Flexible</h5>
                            <p>The best part about PHP is the ability to make changes even after starting the project and this saves valuable time.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="card-box Design">
                        <div class="card-icon">
                            <img src="../images/technology/node/Layer.svg" class="img-fluid" alt="Codesdot" />
                        </div>
                        <div class="card-cont card-conts">
                            <h5>Efficient Performance </h5>
                            <p>PHP is scalable when used for writing codes and can also be used for creating a large number of applications.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="card-box Software card-box2">
                        <div class="card-icon">
                            <img src="../images/home/software.svg" class="img-fluid" alt="Codesdot" />
                        </div>
                        <div class="card-cont card-conts">
                            <h5>Gives Web Developer More Control</h5>
                            <p>Compared to other programming languages, PHP allows the website developer to have more control.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="elegent">
                <div class="elegent-img">
                    <img src="../images/home/elegent.svg" class="img-fluid" alt="Codesdot" />
                </div>
            </div>
        </div>
    </section>





    <section class="hero-process">
        <div class="backgrounds-bg" style="back">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="backgrounds-content">
                            <h2 class="newbold">Hire PHP Developers</h2>
                            <p class="newsoft">Hire our skilled PHP developers and get ready to ‘Corner the market’ by boosting your business</p>
                            <center>
                                <div class="nowr-buttons hard">
                                    <a class="header-bttn" href="@Url.Action("Index", "hireus")">Hire Us</a>
                                </div>
                            </center>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="hero-process">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-sm-11 col-xs-12">
                    <div class="process-main-title main2 textimonial-title wow fadeInUp">
                        <div class="process-title">
                            <h2>PHP <br /> Development Services</h2>
                        </div>
                        <div class="sub-title">
                            <h5>WHAT WE DO</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-1 col-xs-0">

                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-sm-12 col-md-12 col-xs-12">
                    <div class="main-code-content wow fadeInLeft">
                        <div class="box-bg">
                            <div class="content">
                                <h2>Custom PHP development</h2>
                                <p>We propose and offer our client’s customized solutions that help them contrive their needs.</p>
                            </div>
                            <div class="bg-image">
                                <img class="img-fluid" src="../images/technology/php/custom-php-development.svg" />
                            </div>
                        </div>

                        <div class="box-bg content1">
                            <div class="content">
                                <h2>PHP  Web development</h2>
                                <p>Our PHP experts are prefer to develop feature-rich, scalable and dynamic websites</p>
                            </div>
                            <div class="bg-image">
                                <img class="img-fluid" src="../images/technology/php/php-%20web-development.svg" />
                            </div>
                        </div>

                        <div class="box-bg content1">
                            <div class="content">
                                <h2>PHP Back-end Data management</h2>
                                <p>We create custom back-end systems that can help the client to easily perform data and keep their web updated.</p>
                            </div>
                            <div class="bg-image">
                                <img class="img-fluid" src="../images/technology/php/php-back-end-data-management.svg" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-12 col-md-12 col-xs-12">
                    <div class="bg-background box-scroll wow fadeInUp">
                        <center>
                            <img class="img-fluid" src="../images/technology/php/php-framwork.png" />
                        </center>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-12 col-md-12 col-xs-12">
                    <div class="main-code-content wow fadeInRight">
                        <div class="box-bg1">
                            <div class="bg-image1 bg-image2 ">
                                <img class="img-fluid" src="../images/technology/php/php-social-networking-applications.svg" />
                            </div>
                            <div class="content">
                                <h2>PHP Social Networking Applications</h2>
                                <p>Our PHP masters help you to establish social network, of and within your organization, empowered by PHP.</p>
                            </div>

                        </div>

                        <div class="box-bg1">
                            <div class="bg-image1 bg-image2">
                                <img class="img-fluid" src="../images/technology/php/php-real-time-collaboration-tools.svg" />
                            </div>
                            <div class="content">
                                <h2>PHP Real-Time Collaboration Tools</h2>
                                <p>Our PHP professionals assist you to handle most secure, robust and competent PHP Real-Time Collaboration tools.</p>
                            </div>

                        </div>

                        <div class="box-bg1">
                            <div class="bg-image1 bg-image2">
                                <img class="img-fluid" src="../images/technology/php/php-maintenance-and-support.svg" />
                            </div>
                            <div class="content">
                                <h2>PHP Maintenance and Support</h2>
                                <p>We not only stop at developing project for our clients but also provide them immediate support and maintenance.</p>
                            </div>

                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>




    <section class="hero-portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-sm-12 col-xs-12">
                    <div class="process-main-title achivment-title wow fadeInUp">
                        <div class="process-title">
                            <h2>PHP <br /> Development Projects </h2>
                        </div>
                        <div class="sub-title">
                            <h5>OUR PORTFOLIO</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-1 col-xs-0"></div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="mobportfolio-box">
                        <div class="mobportfolio-img">
                            <img src="../images/technology/php/medicaldeviceevents-thumb.png" class="img-fluid" alt="" />
                        </div>
                        <div class="mobport-cont">
                            <span>PHP </span>
                            <h5>Medical Device Events</h5>
                            <ul>
                                <li><a href="@Url.Action("Php", "Technologies")">PHP</a></li>
                                <li><a href="@Url.Action("Wordpress", "Technologies")">Wordpress</a></li>
                                <li><a href="@Url.Action("Html", "Technologies")">HTML5</a></li>
                            </ul>
                            <a class="mobport-btn" href="@Url.Action("Index", "portfolio")">Read More <span><img src="../images/mobile/arrow.svg" /></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="mobportfolio-box">
                        <div class="mobportfolio-img">
                            <img src="../images/technology/php/smileprogram-thumb.png" class="img-fluid" alt="" />
                        </div>
                        <div class="mobport-cont">
                            <span>PHP </span>
                            <h5>Smile Program</h5>
                            <ul>
                                <li><a href="@Url.Action("Php", "Technologies")">PHP</a></li>
                                <li><a href="@Url.Action("Laravel", "Technologies")">Laravel</a></li>
                                <li><a href="#">My SQL</a></li>
                            </ul>
                            <a class="mobport-btn" href="@Url.Action("Index", "portfolio")">Read More <span><img src="../images/mobile/arrow.svg" /></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="mobportfolio-box">
                        <div class="mobportfolio-img">
                            <img src="../images/technology/php/thedentalviews-thumb.png" class="img-fluid" alt="" />
                        </div>
                        <div class="mobport-cont">
                            <span>PHP </span>
                            <h5>The Dentalviews</h5>
                            <ul>
                                <li><a href="@Url.Action("Php", "Technologies")">PHP</a></li>
                                <li><a href="@Url.Action("Wordpress", "Technologies")">Wordpress</a></li>
                                <li><a href="@Url.Action("uiuxdesign", "services")">UI / UX</a></li>
                            </ul>
                            <a class="mobport-btn" href="@Url.Action("Index", "portfolio")">Read More <span><img src="../images/mobile/arrow.svg" /></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </main>

