
@{
    ViewBag.Title = "Woocommerce";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main role="main" class="pb-3">



    <section class="hero-process hero-enable">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-sm-12 col-md-12 col-xs-12">
                    <div class="main-code">
                        <div class="award-content techfonts wow fadeInLeft">
                            <h2>
                                Ecommerce Website Development
                            </h2>
                            <h3 class="tech"> Go Online with WooCommerce and Escalate Your Business for Blooming Experience</h3>
                            <p>
                                Codesdot is the best eCommerce website development agency comprising with technical expertise WooCommerce developers that design and develop amusing and glancing eCommerce websites for every business, irrespective of size. Go digitalized and Keep your customers in seventh heaven by hiring our WooCommerce experts.
                            </p>
                        </div>
                        <div class="button butt-size">
                            <a class="header-btn" href="@Url.Action("contactus", "hireus")">Get a Quote</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 main-access">
                    <div class="award-img  wow fadeInRight">
                        <img src="../images/technology/Woo-commerce/Ecommerce%20Website%20Development.png" class="img-fluid" alt="" />
                    </div>

                </div>

            </div>
        </div>
    </section>


    <section class="hero-process apps">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-sm-12 col-xs-12">
                    <div class="process-main-title process-main-title2 wow fadeInUp">
                        <div class="process-title mytwo">
                            <h2>Top WooCommerce Website Development Company</h2>
                        </div>
                        <div class="sub-title">
                            <h5>
                                WHAT WE DO
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-1 col-xs-0">
                    <div class="core-img">
                        <img src="../images/home/core.svg" class="img-fluid" alt="Codesdot " />
                    </div>
                </div>
            </div>

            <div class="row newspace wow fadeInUp">
                <div class="col-lg-3 col-sm-12 col-xs-12 col-md-6">
                    <div class="main-box">
                        <div class="top-imgg">
                            <img class="img-fluid" src="../images/technology/Shopify/software-expertise.svg" />
                        </div>
                        <div class="main-contentt">
                            <h2>Development Expertise</h2>
                            <p>
                                Our talented web developers always design an affordable Woo-commerce website solutions that satisfy the expectations of our clients.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-12 col-xs-12 col-md-6">
                    <div class="main-box mainbox">
                        <div class="top-imgg">
                            <img class="img-fluid" src="../images/technology/Shopify/delivered-time.svg" />
                        </div>
                        <div class="main-contentt">
                            <h2>Deliver in Time</h2>
                            <p>
                                We deliver what others promise with on-time and affordable range. We are armed with a large team of experts in delivering projects worldwide.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-12 col-xs-12 col-md-6">
                    <div class="main-box mainbox main1">
                        <div class="top-imgg">
                            <img class="img-fluid" src="../images/technology/Shopify/web-solutions.svg" />
                        </div>
                        <div class="main-contentt">
                            <h2>Web Solutions</h2>
                            <p>
                                We offer SEO optimized and 100% responsive Woo-commerce  web design which your website will be suite in all screens from mobile to desktop.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-12 col-xs-12 col-md-6">
                    <div class="main-box mainbox main1">
                        <div class="top-imgg">
                            <img class="img-fluid" src="../images/technology/Shopify/dedicated-developers.svg" />
                        </div>
                        <div class="main-contentt">
                            <h2>Dedicated  Developer</h2>
                            <p>
                                We have a team of web professionals with latest technologies which gives you the perfect Woo-commerce  web design which matches your business.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="hero-process">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-sm-11 col-xs-12">
                    <div class="process-main-title achivment-title wow fadeInUp">
                        <div class="process-title">
                            <h2>Why WooCommerce?</h2>
                        </div>
                        <div class="sub-title">
                            <h5>What use?</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-1 col-xs-0"></div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-7 col-md-12 col-sm-12 wow fadeInLeft">
                    <div class="enterprice-content">
                        <p>WooCommerce is an open-source, powerful and secure WordPress plugin used to develop eCommerce stores from scratch and convert WordPress websites into online stores with just a few clicks. Coming with globally trusted and famous CMS (content management system) WordPress, WooCommerce has been the driving force behind eCommerce website development. Its amazing features of are:</p>
                    </div>
                    <div class="enterprize-list newi">
                        <ul>
                            <li><a>Sell anything, anytime, anywhere</a></li>
                            <li><a>400+ official extensions to enhance online store</a></li>
                            <li><a>Unlimited products and galleries</a></li>
                            <li><a>Quickly fulfill unlimited orders</a></li>
                            <li><a>Multiple shipping rates with flexible shipping destinations</a></li>
                        </ul>
                        <ul>
                            <li><a>Exclusive unlimited themes for uniqueness</a></li>
                            <li><a>Smart tracking with Google Analytics integration</a></li>
                            <li><a>Attracting coupons and discounts</a></li>
                            <li><a>Booming content marketing tools</a></li>
                            <li><a>Effortless inventory module</a></li>
                        </ul>
                    </div>
                    <div class="enterprice-content">
                        <p>Our well-versed team delivers seamless eCommerce websites meeting your all specifications, whether it is a startup or small-scale business or large-scale enterprise. Amuse your customers and broaden their range by hiring our technical WooCommerce experts.</p>
                    </div>
                </div>

                <div class="col-12 col-lg-5 col-md-12 col-sm-12 wow fadeInRight">
                    <div class="background-start">
                        <img class="img-fluid light" src="../images/technology/wordpress/objects2.svg" />
                        <img class="img-fluid dark" src="../images/technology/wordpress/dark/dark-objects.svg" />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="hero-process">
        <div class="backgrounds-bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="backgrounds-content">
                            <h2 class="newbold">Hire WooCommerce Developers</h2>
                            <p class="newsoft">Hire professional and expert developers from the pool of WooCommerce developers.</p>
                            <center>
                                <div class="nowr-buttons hard">
                                    <a class="header-bttn" href="@Url.Action("Index", "hireus")">Hire Us</a>
                                </div>
                            </center>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>




    <section class="hero-process">
        <div class="container">
            <div class="row">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-sm-12 col-xs-12">
                            <div class="process-main-title mob-title mob-titles wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                <div class="process-title">
                                    <h2>Our Best WooCommerce <br />Website Development Services</h2>
                                </div>
                                <div class="sub-title">
                                    <h5>WHAT WE DO</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="workshop-box Hybrid-box wow fadeIn">
                        <div class="workshop-icon">
                            <img src="../images/technology/wordpress/1.svg" class="img-fluid light" alt="" />
                            <img src="../images/technology/wordpress/dark/dark-1.svg" class="img-fluid dark" alt="" />
                        </div>
                        <div class="workshop-cont">
                            <h5>Custom WooCommerce Development</h5>
                            <p>Get the endless possibilities of WooCommerce customization and optimization with the best ecommerce website development agency. We make sure your all needs are perfectly applied.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="workshop-box Hybrid-box wow fadeIn">
                        <div class="workshop-icon">
                            <img src="../images/technology/wordpress/2.svg" class="img-fluid light" alt="" />
                            <img src="../images/technology/wordpress/dark/dark-2.svg" class="img-fluid dark" alt="" />
                        </div>
                        <div class="workshop-cont">
                            <h5>WooCommerce Web Store Development</h5>
                            <p>Launch your dreamy eCommerce store build with International Standards by our experts. Sell your unlimited products globally and enhance your brand to make it rise to new heights.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="workshop-box Hybrid-box wow fadeIn">
                        <div class="workshop-icon">
                            <img src="../images/technology/wordpress/6.svg" class="img-fluid light" alt="" />
                            <img src="../images/technology/wordpress/dark/dark-6.svg" class="img-fluid dark" alt="" />
                        </div>
                        <div class="workshop-cont">
                            <h5>WooCommerce Theme Customization</h5>
                            <p>To make your web store attracting, visually appealing and glanceable, we develop unlimited WooCommerce themes and customize them the way user wants. Our theme professionals know that appearance matters a lot for your business.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="workshop-box Hybrid-box wow fadeIn">
                        <div class="workshop-icon">
                            <img src="../images/technology/wordpress/4.svg" class="img-fluid light" alt="" />
                            <img src="../images/technology/wordpress/dark/dark-4.svg" class="img-fluid dark" alt="" />
                        </div>
                        <div class="workshop-cont">
                            <h5>WooCommerce Version Upgradation, Maintenance & Support</h5>
                            <p>Get your Web store updated and upgraded to latest version that is feature-rich, highly secured, smoothly running by our experts. We not only provide round-the-clock support services but also make ourselves 24/7 available for you, plus, get expert advice whenever needed.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="workshop-box Hybrid-box wow fadeIn">
                        <div class="workshop-icon">
                            <img src="../images/technology/wordpress/3.svg" class="img-fluid light" alt="" />
                            <img src="../images/technology/wordpress/dark/dark-3.svg" class="img-fluid dark" alt="" />
                        </div>
                        <div class="workshop-cont">
                            <h5>WooCommerce Payment Gateway Integration</h5>
                            <p>While integrating various powerful payment gateways to your web store or application smartly, we ensure tight security to offer highest level of flexibility. We deliver easy and safe transactions for your customers.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="workshop-box Hybrid-box wow fadeIn">
                        <div class="workshop-icon">
                            <img src="../images/technology/wordpress/5.svg" class="img-fluid light" alt="" />
                            <img src="../images/technology/wordpress/dark/dark-5.svg" class="img-fluid dark" alt="" />
                        </div>
                        <div class="workshop-cont">
                            <h5>PSD to WooCommerce</h5>
                            <p>Gel pixel-perfect, responsive, cross-browser compatible, and feature-rich WooCommerce templates and websites developed by our geeks using PSD files. We convert PSD files to WooCommerce exclusively that serves your tailored eCommerce needs.</p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>




    <section class="hero-portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-sm-12 col-xs-12">
                    <div class="process-main-title achivment-title wow fadeInUp">
                        <div class="process-title">
                            <h2>Take look <br />Our Portfolio</h2>
                        </div>
                        <div class="sub-title">
                            <h5>OUR WORK</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-1 col-xs-0"></div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="mobportfolio-box">
                        <div class="mobportfolio-img">
                            <img src="../images/technology/Woo-commerce/busybeauty.com.png" class="img-fluid" alt="" />
                        </div>
                        <div class="mobport-cont">
                            <span>E-commerce</span>
                            <h5>Busy Beauty</h5>
                            <ul>
                                <li><a href="@Url.Action("WooCommerce", "Technologies")">WooCommerce</a></li>
                                <li><a href="@Url.Action("Wordpress", "Technologies")">Wordpress</a></li>
                                <li><a href="@Url.Action("Html", "Technologies")">HTML5</a></li>
                            </ul>
                            <a class="mobport-btn" href="@Url.Action("Index", "portfolio")">Read More <span><img src="../images/mobile/arrow.svg" /></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="mobportfolio-box">
                        <div class="mobportfolio-img">
                            <img src="../images/technology/Woo-commerce/enzymespharma.com.png" class="img-fluid" alt="" />
                        </div>
                        <div class="mobport-cont">
                            <span>E-commerce</span>
                            <h5>Enzymespharma</h5>
                            <ul>
                                <li><a href="@Url.Action("WooCommerce", "Technologies")">WooCommerce</a></li>
                                <li><a href="@Url.Action("Php", "Technologies")">PHP</a></li>
                                <li><a href="@Url.Action("Html", "Technologies")">Bootstrap</a></li>
                            </ul>
                            <a class="mobport-btn" href="@Url.Action("Index", "portfolio")">Read More <span><img src="../images/mobile/arrow.svg" /></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="mobportfolio-box">
                        <div class="mobportfolio-img">
                            <img src="../images/technology/Woo-commerce/worldofecologista.com.png" class="img-fluid" alt="" />
                        </div>
                        <div class="mobport-cont">
                            <span>E-commerce</span>
                            <h5>World Of Ecologista</h5>
                            <ul>
                                <li><a href="@Url.Action("WooCommerce", "Technologies")">WooCommerce</a></li>
                                <li><a href="@Url.Action("webapplicationdevelopment", "services")">Ecommerce</a></li>
                                <li><a href="@Url.Action("uiuxdesign", "services")">UI / UX</a></li>
                            </ul>
                            <a class="mobport-btn" href="@Url.Action("Index", "portfolio")">Read More <span><img src="../images/mobile/arrow.svg" /></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
