
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main role="main" class="pb-3">
    <section class="hero-process hireus">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-sm-12 col-md-12 col-xs-12">
                    <div class="award-content wow fadeInLeft">
                        <h2>Hire Expert Developers</h2>
                        <p>Yes! Then seek an Oppurtunity at Codesdot - the fastest growing IT company in South Gujarat. We are dedicated to build a team of motivated and bright full-time softwere developer in the prominent areas of information Technology. In addition to the relevant and proven expertise in the domain, you must process effective.</p>
                    </div>

                    <div class="touch-btn nowrap-button">
                        <a class="header-btn" href="@Url.Action("contactus", "hireus")">Talk to Our Experts</a>
                    </div>
                </div>

                <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 main-access">
                    <div class="award-img  wow fadeInRight">
                        <img src="~/images/hireus/hire-header-img.svg" class="img-fluid light" alt="" />
                        <img src="~/images/hireus/hire-header-img2.svg" class="img-fluid dark" alt="" />
                    </div>
                    <img class="img-fluid main-ad main-ad1" src="~/images/about/Repeat-Grid.svg" />
                </div>

            </div>
        </div>
    </section>

    <section class="hero-trial">
        <div class="container">
            <div class="row">
                <div class="col-lg-1 col-sm-1 col-xs-0"></div>
                <div class="col-lg-11 col-sm-11 col-xs-12">
                    <div class="process-main-title wow fadeInUp">
                        <div class="process-title">
                            <h2>We Take In All <br />Development Projects</h2>
                        </div>
                        <div class="sub-title">
                            <h5>About Us</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="divcover-box wow fadeInLeft">
                        <div class="discover-icon">
                            <img src="~/images/home/discover.svg" class="img-fluid dark" alt="Codesdot" />
                            <img src="~/images/home/discover2.svg" class="img-fluid light" alt="Codesdot" />
                        </div>
                        <div class="dicover-cont">
                            <h5>Discover</h5>
                            <p>Analysis & Documentation, the important steps we adapt to built something awesome, so that you get satisfactory results.</p>
                        </div>
                    </div>
                    <div class="path">
                        <img src="~/images/home/Path-1.svg" class="img-fluid" alt="Codesdot" />
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="divcover-box divcover-box2 wow fadeInLeft">
                        <div class="discover-icon">
                            <img src="~/images/home/design2.svg" class="img-fluid dark" alt="Codesdot" />
                            <img src="~/images/home/design3.svg" class="img-fluid light" alt="Codesdot" />
                        </div>
                        <div class="dicover-cont">
                            <h5>Design</h5>
                            <p>Through UI we focus more on making it look visually appealing and more comfortable for the user at an emotional level.</p>
                        </div>
                    </div>
                    <div class="path">
                        <img src="~/images/home/Path-2.svg" class="img-fluid" alt="Codesdot" />
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="divcover-box wow fadeInRight">
                        <div class="discover-icon">
                            <img src="~/images/home/build.svg" class="img-fluid dark" alt="Codesdot" />
                            <img src="~/images/home/build2.svg" class="img-fluid light" alt="Codesdot" />
                        </div>
                        <div class="dicover-cont">
                            <h5>Build</h5>
                            <p>We provide solutions with innovative ideas. Our objective is to use the latest technologies and platforms.</p>
                        </div>
                    </div>
                    <div class="path">
                        <img src="~/images/home/Path-3.svg" class="img-fluid" alt="Codesdot" />
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="divcover-box divcover-box2 wow fadeInRight">
                        <div class="discover-icon">
                            <img src="~/images/home/deliver.svg" class="img-fluid dark" alt="Codesdot" />
                            <img src="~/images/home/deliver2.svg" class="img-fluid light" alt="Codesdot" />
                        </div>
                        <div class="dicover-cont">
                            <h5>Deliver</h5>
                            <p>We always make sure that the end result that we deliver is able to satisfy your needs and requirements.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="hero-process" id="">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12 col-xs-12 wow fadeInLeft">
                    <div class="enterprize-cont">
                        <h5>Quality delivery in timeline</h5>
                        <h2>Backend Developer</h2>
                        <p>Hire top Back-end app developers who are expert to bridge modern technologies at affordable prices. Hire online Backend app programmers on hourly or full time (dedicated monthly) basis. Our offshore  developers automate software delivery processes by connecting development & IT and ensure the scalability & security from large enterprises to startups infrastructures.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 col-xs-12">
                    <div class="enterprize-img wow fadeInRight">                       
                        <img src="~/images/hireus/hire2.png" class="img-fluid light" alt="" />
                        <img src="~/images/hireus/hire2.png" class="img-fluid dark" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="hero-process" id="">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12 col-xs-12">
                    <div class="enterprize-img wow fadeInLeft">
                        <img src="~/images/hireus/FrontEnd-Developer-img.svg" class="img-fluid light" alt="" />
                        <img src="~/images/hireus/FrontEnd-Developer-img2.svg" class="img-fluid dark" alt="" />
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 col-xs-12 wow fadeInRight">
                    <div class="enterprize-cont">
                        <h5>Focus on your Core Bussiness</h5>
                        <h2>Front End Developer</h2>
                        <p>Hire top Indian front end developers for mobile-first, pixel perfect, SEO friendly and highly optimized front end development. Our frontend development services include HTML / CSS development, theme development & headless front end development utilising JS technologies such as Angular, React.</p>
                        <p>You may choose to hire front-end developers for a fixed cost project or on an hourly or monthly dedicated basis. We have a dedicated pool of front end developers to fulfil your project needs.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="hero-process" id="">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12 col-xs-12 wow fadeInLeft">
                    <div class="enterprize-cont">
                        <h5>Quality delivery in timeline</h5>
                        <h2>Full Stack Developer</h2>
                        <p>Our Full Stack developers help you build web & mobile applications faster and reduce the need for separate backend & frontend developers. Our full-stack developers have on average 5+ years experience and are rated top full stack developers available in India. You may choose top hire full stack developers across a variety of technology stacks including MEAN, MERN, Laravel / PHP & .Net</p>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 col-xs-12">
                    <div class="enterprize-img wow fadeInRight">                        
                        <img src="~/images/hireus/full_stack.jpg" class="img-fluid light" alt="" />
                        <img src="~/images/hireus/full_stack.jpg" class="img-fluid dark" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="hero-process">
        <div class="backgrounds-bg" style="back">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="backgrounds-content">
                            <h2>Hire Dedicated Developers</h2>
                            <p>Hire our skilled developers and get ready to 'Corner the market' by boosting your business</p>
                            <center>
                                <div class="nowr-buttons">
                                    <a class="header-bttn" data-toggle="modal" data-target="#hiringpopup" href="@Url.Action("Index", "hireus")">Hire Us</a>
                                </div>
                            </center>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="hero-process">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <div class="dedicated-cont">
                        <h5>Hire a dedicated team that works as per your convenience</h5>
                        <p>An Oppurtunity at Codesdot -the fastest growing IT company in South Gujarat. We are dedicated to build a team of motivated and bright full-time softwere developer in the prominent areas of information Technology. In addition to the relevant and proven expertise in the domain, you must process effective.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="hirirng-box">
                        <div class="hiring-icon full-time">
                            <img src="~/images/hireus/Full-time-hiring.svg" class="img-fluid" alt="" />
                        </div>
                        <div class="hiring-title">
                            <h2>Full-Time hiring</h2>
                        </div>
                        <div class="hiring-cont">
                            <h5>Duration</h5>
                            <p>40 hours/ week</p>

                            <h5>Communication</h5>
                            <p>Email, Project Management Tool, Skype</p>

                            <h5>Hiring Period</h5>
                            <p>1 week minium</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="hirirng-box">
                        <div class="hiring-icon part-time">
                            <img src="~/images/hireus/hourly-hiring.svg" class="img-fluid" alt="" />
                        </div>
                        <div class="hiring-title">
                            <h2>Part-Time hiring</h2>
                        </div>
                        <div class="hiring-cont">
                            <h5>Duration</h5>
                            <p>20-30 hours/ week</p>

                            <h5>Communication</h5>
                            <p>Email, Project Management Tool, Skype</p>

                            <h5>Hiring Period</h5>
                            <p>1 week minium</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="hirirng-box">
                        <div class="hiring-icon houly">
                            <img src="~/images/hireus/part-time-hiring.svg" class="img-fluid" alt="" />
                        </div>
                        <div class="hiring-title">
                            <h2>Hourly hiring</h2>
                        </div>
                        <div class="hiring-cont">
                            <h5>Duration</h5>
                            <p>As Needed</p>

                            <h5>Communication</h5>
                            <p>Email, Project Management Tool</p>

                            <h5>Hiring Period</h5>
                            <p>Any</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <div class="hiring-btn">
                        <a class="header-btn" data-toggle="modal" data-target="#hiringpopup" href="@Url.Action("contactus", "hireus")">Let's Do Quick Inquiry</a>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="hero-mobile-counter">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <div class="counter-boxes wow fadeIn">
                        @*<div class="counter-box">
                            <div class="counter-nmbr counter-nmbr1"><span class="stat-number">1</span>k+</div>
                            <div class="counter-cont"><span>Software <br /> Delivered</span></div>
                        </div>*@
                        <div class="counter-box">
                            <div class="counter-nmbr counter-nmbr2"><span class="stat-number">550</span>+</div>
                            <div class="counter-cont"><span>Our Happy <br /> Clients</span></div>
                        </div>
                        <div class="counter-box">
                            <div class="counter-nmbr counter-nmbr3"><span class="stat-number">50</span>+</div>
                            <div class="counter-cont"><span>Fortune <br /> Companies Clients</span></div>
                        </div>
                        <div class="counter-box">
                            <div class="counter-nmbr counter-nmbr4"><span class="stat-number">10</span>+</div>
                            <div class="counter-cont"><span>Years of <br /> Experience</span></div>
                        </div>
                        <div class="counter-box">
                            <div class="counter-nmbr counter-nmbr5"><span class="stat-number">100</span>%</div>
                            <div class="counter-cont"><span>Satisfaction</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>





    <section class="hero-portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-sm-12 col-xs-12">
                    <div class="process-main-title achivment-title wow fadeInUp">
                        <div class="process-title">
                            <h2>Our<br /> Success Stories Work </h2>
                        </div>
                        <div class="sub-title">
                            <h5>OUR PORTFOLIO</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-1 col-xs-0"></div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="mobportfolio-box">
                        <div class="mobportfolio-img">
                            <img src="~/images/technology/ios/onesaid.png" class="img-fluid" alt="" />
                        </div>
                        <div class="mobport-cont">
                            <span>IOS</span>
                            <h5>Onesaid</h5>
                            <ul>
                                <li><a href="@Url.Action("Ios", "Technologies")">Objective-C</a></li>
                                <li><a href="@Url.Action("Laravel", "Technologies")">Laravel</a></li>
                                <li><a href="@Url.Action("uiuxdesign", "services")">UI / UX</a></li>
                            </ul>
                            <a class="mobport-btn" href="@Url.Action("Index", "portfolio")">Read More <span><img src="~/images/mobile/arrow.svg" /></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="mobportfolio-box">
                        <div class="mobportfolio-img">
                            <img src="~/images/technology/android/aarya-gst.png" class="img-fluid" alt="" />
                        </div>
                        <div class="mobport-cont">
                            <span>Android</span>
                            <h5>AaryaGST</h5>
                            <ul>
                                <li><a href="@Url.Action("Android", "Technologies")">JAVA</a></li>
                                <li><a href="@Url.Action("Dotnet", "Technologies")">.Net</a></li>
                                <li><a href="@Url.Action("uiuxdesign", "services")">UI / UX</a></li>
                            </ul>
                            <a class="mobport-btn" href="@Url.Action("Index", "portfolio")">Read More <span><img src="~/images/mobile/arrow.svg" /></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="mobportfolio-box">
                        <div class="mobportfolio-img">
                            <img src="~/images/technology/Laravel/smileprogram-thumb.png" class="img-fluid" alt="" />
                        </div>
                        <div class="mobport-cont">
                            <span>Laravel</span>
                            <h5>Smile Program</h5>
                            <ul>
                                <li><a href="@Url.Action("Index", "Home")">Magento</a></li>
                                <li><a href="@Url.Action("Nodejs", "Technologies")">Node.js</a></li>
                                <li><a href="@Url.Action("uiuxdesign", "services")">UI / UX</a></li>
                            </ul>
                            <a class="mobport-btn" href="@Url.Action("Index", "portfolio")">Read More <span><img src="~/images/mobile/arrow.svg" /></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="hero-touch hero-touchh ">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <div class="touch-box  wow fadeIn">
                        <div class="touch-cont">
                            <h5>LET’S CREATE SOMETHING AWESOME</h5>
                            <p>Enquire about your requirements, our digital expertise helps you to achieve top results in any field.</p>
                        </div>
                        <div class="touch-btn">
                            <a class="header-btn" href="@Url.Action("contactus", "hireus")">Get In Touch</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>










    <div class="modal hiringpopup" id="hiringpopup" tabindex="-1" role="dialog" aria-labelledby="hiringpopupTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered animate__animated animate__slideInUp" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="dream-box">
                        <div class="dream-cont">
                            <div class="dream-title">
                                <h2>Let’s Build Your Dream</h2>
                                <p>Book your FREE call with our technical consultant now.</p>
                            </div>
                            <form class="dream-form" name="form-hire-us" id="form-hire-us" method="post">
                                <div class="dream-inpbox">
                                    <div class="input_box">
                                        <input type="text" class="dream-input input_fild " id="Name" name="Name" placeholder="Your Name" autocomplete="off" />
                                    </div>
                                    <div class="input_box">
                                        <input type="text" class="dream-input input_fild " id="emailid" name="EmailId" placeholder="Email Address" autocomplete="off" />
                                    </div>
                                </div>
                                <div class="dream-inpbox">
                                    <div class="input_box">
                                        <select class="dream-input input_fild " name="Country" id="ddl-country">
                                            <option value="">Choose a Country</option>
                                        </select>
                                    </div>
                                    <div class="input_box">
                                        <input type="tel" class="dream-input input_fild " id="phone" name="PhoneNumber" placeholder="Phone Number" autocomplete="off" />
                                    </div>
                                </div>
                                <div class="dream-inpbox">
                                    <div class="input_box">
                                        <select class="dream-input input_fild " id="devloper" name="Developer">
                                            <option value="">Choose Developer</option>
                                            <option>Front End Developer</option>
                                            <option>Back End Developer</option>
                                            <option>Full Stack Developer</option>
                                        </select>
                                    </div>
                                    <div class="dream-input hire-date">
                                        <div class="input_box">
                                            <select class="hireus-date" name="Timing">
                                                <option>01hr</option>
                                                <option>02hrs</option>
                                                <option>03hrs</option>
                                                <option>04hrs</option>
                                                <option>05hrs</option>
                                                <option>06hrs</option>
                                                <option>07hrs</option>
                                                <option>08hrs</option>
                                                <option>09hrs</option>
                                                <option>10hrs</option>
                                                <option>11hrs</option>
                                                <option>12hrs</option>
                                                <option>13hrs</option>
                                                <option>14hrs</option>
                                                <option>15hrs</option>
                                                <option>16hrs</option>
                                                <option>17hrs</option>
                                                <option>18hrs</option>
                                                <option>19hrs</option>
                                                <option>20hrs</option>
                                                <option>21hrs</option>
                                                <option>22hrs</option>
                                                <option>23hrs</option>
                                                <option>24hrs</option>
                                                <option>25hrs</option>
                                                <option>26hrs</option>
                                                <option>27hrs</option>
                                                <option>28hrs</option>
                                                <option>29hrs</option>
                                                <option>30hrs</option>
                                                <option>31hrs</option>
                                                <option>32hrs</option>
                                                <option>33hrs</option>
                                                <option>34hrs</option>
                                                <option>35hrs</option>
                                                <option>36hrs</option>
                                                <option>37hrs</option>
                                                <option>38hrs</option>
                                                <option>39hrs</option>
                                                <option>40hrs</option>
                                            </select>
                                            <span>/ Week</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="apply-input attach">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div id="div-file-attachment" class="input-group-btn">
                                                <span id="span-attach-resume">Attachment</span>
                                                <div class="input_box_2">
                                                    <input type="file" class="upload " name="Attachment" id="file-attachment" />
                                                </div>
                                            </div>
                                            <input type="text" class="form-control border-0 ml-3" id="attachment-value" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="dream-msg">
                                    <div>
                                        <textarea class="dream-text input_fild " name="Description" placeholder="Please brief your requirement in details."></textarea>
                                    </div>
                                </div>
                                <div class="dream-btn">
                                    <button type="button" class="export">
                                        <span class="d-flex justify-content-center align-items-center">
                                            <span id="span-submit">Yes, I want to talk to an export</span>
                                            <div id="btn-loader" style="display:none;">
                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                                     style=" margin-left: 10px; background: rgba(241, 242, 243, 0); display: block;" width="19px" height="19px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
                                                    <circle cx="50" cy="50" r="37" stroke="rgba(70, 223, 240, 0)" stroke-width="0" fill="none"></circle>
                                                    <circle cx="50" cy="50" r="37" stroke="#babdd8" stroke-width="8" stroke-linecap="round" fill="none">
                                                        <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" dur="1s" values="0 50 50;180 50 50;720 50 50" keyTimes="0;0.5;1"></animateTransform>
                                                        <animate attributeName="stroke-dasharray" repeatCount="indefinite" dur="1s" values="65.09379978238051 167.38405658326417;232.4778563656447 0;65.09379978238051 167.38405658326417" keyTimes="0;0.5;1"></animate>
                                                    </circle>
                                                </svg>

                                            </div>
                                        </span>
                                    </button>
                                    <button type="button" id="cancel-hire-us">Cancel</button>
                                </div>
                            </form>
                        </div>
                        <div class="dream-img">
                            <img src="~/images/software-development/popup-image.svg" class="img-fluid light" alt="" />
                            <img src="~/images/software-development/popup-image2.svg" class="img-fluid dark" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

