
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main role="main" class="pb-3">


    <section class="hero-mobile-banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12 col-xs-12 trial-Customer">
                    <div class="mobile-cont wow fadeInLeft">
                        <h2>Mobile Development Services</h2>
                        <p>We develop mobile apps that help businesses for better operational efficiency and engagement. Hire certified mobile app developers from Codesdot who are experts for delivering excellence in Android, iOS and cross-platform app development services.</p>
                        <a class="header-btn" href="@Url.Action("Contactus", "hireus")">Talk to Our Experts</a>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 col-xs-12">
                    <div class="mobole-img wow fadeInRight">                       
                        <img src="~/images/mobile/mobil-enimation.png" class="img-fluid" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="hero-think">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-sm-12 col-xs-12">
                    <div class="process-main-title mob-title wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                        <div class="process-title">
                            <h2>We Think <br /> Mobile Development First.</h2>
                        </div>
                        <div class="sub-title">
                            <h5>Our Core Services</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-1 col-xs-0">
                    <div class="core-img">
                        <img src="../images/home/core.svg" class="img-fluid" alt="Codesdot">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-sm-12 col-xs-12">
                    <div class="mobole-img wow fadeInLeft">                      
                        <img src="~/images/mobile/mobile-app.png" class="img-fluid" alt="" />
                    </div>
                </div>
                <div class="col-lg-7 col-sm-12 col-xs-12">
                    <div class="think-cont wow fadeInRight">
                        <p>We ship rich experiences to the small screens, which translates into the success of your business, ease of operations and engagement of the consumers with our exceptionally deep understanding of user experience and mobile technology. We work with multiple ecosystems in order to create maximum impact to your end-users.</p>
                        <div class="enterprize-list">
                            <ul>
                                <li><a>Design and prototyping of the</a></li>
                                <li><a>Custom Android App Development</a></li>
                                <li><a>Native Android App Development</a></li>
                            </ul>
                            <ul>
                                <li><a>Smartphone App Development</a></li>
                                <li><a>Tablet Apps Development</a></li>
                                <li><a>Application Migration</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="hero-creatapp">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <div class="process-main-title app-title wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                        <div class="process-title">
                            <h2>We help <br /> you create Apps for</h2>
                        </div>
                        <div class="sub-title">
                            <h5>WHAT WE DO</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="appbox wow fadeIn">
                        <div class="app-img">
                            <img src="../images/mobile/Enterprise.svg" class="img-fluid" alt="" />
                        </div>
                        <div class="app-cont">
                            <h5>Enterprise</h5>
                            <p>Our collaborative consulting on Mobile App Development serves as a catalyst in rationalized IT frameworks and processes with the mobile roadmap which is allied with commercial scenarios, policies and existing systems.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="appbox wow fadeIn">
                        <div class="app-img">
                            <img src="../images/mobile/Business.svg" class="img-fluid" alt="" />
                        </div>
                        <div class="app-cont">
                            <h5>Business</h5>
                            <p>We plot industries’ needs and use-cases to enable them to swiftly respond to the changes. We benefit your organization mobilize the cross-division communication, workflows and prompt information accessibility.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="appbox wow fadeIn">
                        <div class="app-img">
                            <img src="../images/mobile/Consumers.svg" class="img-fluid" alt="" />
                        </div>
                        <div class="app-cont">
                            <h5>Consumers</h5>
                            <p>Our mobile app specialists help brands, corporates and social organizations to shape scalable mobile app solutions aimed to be used on a regular basis by world-wide consumers, numerous times a day.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="hero-process" id="ios">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12 col-xs-12 wow fadeInLeft">
                    <div class="enterprize-cont">
                        <h2>iOS Apps Development</h2>
                        <p>Codesdot is a top iOS/ iPhone app development company that boasts a talented pool of expert iOS developers. We help our clients with custom applications that work perfectly on the entire iOS platform including the latest and the most recent iOS versions and iOS devices like iPhones, iPads, Apple Watches, Apple TV, etc. Hire iOS app developers with years of experience with the latest iOS app development technologies to build mobile apps with delightful UX.</p>
                    </div>
                    <div class="enterprize-list">
                        <ul>
                            <li><a>iPhone App Development</a></li>
                            <li><a>Apple Watch Development</a></li>
                            <li><a>iOS App with SiriKit</a></li>
                            <li><a>iOS App with ARkit</a></li>
                        </ul>
                        <ul>
                            <li><a>iPad App Development</a></li>
                            <li><a>Apple TV Apps</a></li>
                            <li><a>iOS app with MLkit</a></li>
                            <li><a>iOS App Testing</a></li>
                        </ul>
                    </div>

                </div>
                <div class="col-lg-6 col-sm-12 col-xs-12">
                    <div class="enterprize-img wow fadeInRight">
                        <img src="~/images/mobile/iOS-App.png" class="img-fluid" alt="" />                        
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="hero-process" id="Android">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12 col-xs-12">
                    <div class="enterprize-img wow fadeInRight">
                        <img src="../images/mobile/app-img-2.svg" class="img-fluid" alt="" />
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 col-xs-12 wow fadeInLeft">
                    <div class="enterprize-cont">
                        <h2>Android App Development</h2>
                        <p>We are a leading Android app development company offering bespoke Android mobile app solutions for global brands, enterprises and startups. Covering the entire spectrum on the android platform, we can help you craft niche Android apps for Smartphones, Tablets, Android Wear and Android TV. Hire Android app developers from us having expertise to build custom Android apps that work on all Android devices with the latest Android OS version compatibility.</p>
                    </div>
                    <div class="enterprize-list">
                        <ul>
                            <li><a>Android Smartphone Apps</a></li>
                            <li><a>Android Tablet Apps</a></li>
                            <li><a>Android Wear Apps</a></li>
                            <li><a>Firebase Integration</a></li>
                        </ul>
                        <ul>
                            <li><a>Android TV Apps</a></li>
                            <li><a>Chromebook Apps</a></li>
                            <li><a>Android Things Apps</a></li>
                            <li><a>Android Apps with Dialogflow</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </section>



    <section class="hero-process" id="Platform">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12 col-xs-12 wow fadeInLeft">
                    <div class="enterprize-cont">
                        <h2>Cross Platform Apps</h2>
                        <p>Codesdot is a top cross-platform mobile app development company that empowers businesses with a wide array of mobile applications. Our cross-platform mobile apps empower clients with multiple benefits and also help to cover a wider audience using devices with different OS. Our cross-platform developers have proven expertise in building affordable, quality and versatile mobile apps with cross-platform technologies and frameworks like Xamarin, React Native, PhoneGap, Appcelerator’s Titanium and Xamarin.</p>
                    </div>
                    <div class="enterprize-list">
                        <ul>
                            <li><a>Custom Mobile App Development Services</a></li>
                            <li><a>Cross-Platform Migration Services</a></li>
                            <li><a>High-Quality Testing</a></li>
                            <li><a>APIs Integration</a></li>
                        </ul>
                        <ul>
                            <li><a>All-time Support & Maintenance</a></li>
                            <li><a>All-time Support & Maintenance</a></li>
                        </ul>
                    </div>

                </div>
                <div class="col-lg-6 col-sm-12 col-xs-12">
                    <div class="enterprize-img wow fadeInRight">
                        <img src="../images/mobile/app-img-3.svg" class="img-fluid light" alt="codesdot" />
                        <img src="../images/mobile/app-img-4.png" class="img-fluid dark" alt="codesdot" />
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="hero-tech-slider">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-sm-12 col-xs-12">
                    <div class="process-main-title achivment-title wow fadeInUp">
                        <div class="process-title">
                            <h2>About our <br /> experts Filed</h2>
                        </div>
                        <div class="sub-title">
                            <h5>Technologies</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-1 col-xs-0"></div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <div class="tech-slider">
                        <div class="owl-carousel owl-theme ss_carousel owl-loaded owl-drag" id="slider2">
                            <div class="item">
                                <div class="tech-box">
                                    <div class="tech-img">
                                        <img src="../images/mobile/swift.svg" class="img-fluid" alt="" />
                                    </div>
                                    <div class="tech-cont tech-cont2">
                                        <h5>Swift</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="tech-box">
                                    <div class="tech-img">
                                        <img src="../images/mobile/xamarin.svg" class="img-fluid" alt="" />
                                    </div>
                                    <div class="tech-cont tech-cont2">
                                        <h5>Xamarin</h5>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="tech-box">
                                    <div class="tech-img">
                                        <img src="../images/mobile/iphone.svg" class="img-fluid" alt="" />
                                    </div>
                                    <div class="tech-cont tech-cont2">
                                        <h5>iphone</h5>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="tech-box">
                                    <div class="tech-img">
                                        <img src="../images/mobile/reactnative.svg" class="img-fluid" alt="" />
                                    </div>
                                    <div class="tech-cont tech-cont2">
                                        <h5>React Native</h5>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="tech-box">
                                    <div class="tech-img">
                                        <img src="../images/mobile/android.svg" class="img-fluid" alt="" />
                                    </div>
                                    <div class="tech-cont tech-cont2">
                                        <h5>Android</h5>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>





    <section class="hero-mobile-counter">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <div class="counter-boxes wow fadeIn">
                        <div class="counter-box">
                            <div class="counter-nmbr counter-nmbr1"><span class="stat-number">1</span>k+</div>
                            <div class="counter-cont"><span>Software <br /> Delivered</span></div>
                        </div>
                        <div class="counter-box">
                            <div class="counter-nmbr counter-nmbr2"><span class="stat-number">550</span>+</div>
                            <div class="counter-cont"><span>Our Happy <br /> Clients</span></div>
                        </div>
                        <div class="counter-box">
                            <div class="counter-nmbr counter-nmbr3"><span class="stat-number">220</span>+</div>
                            <div class="counter-cont"><span>Fortune <br /> Companies Clients</span></div>
                        </div>
                        <div class="counter-box">
                            <div class="counter-nmbr counter-nmbr4"><span class="stat-number">12</span>+</div>
                            <div class="counter-cont"><span>Years of <br /> Experience</span></div>
                        </div>
                        <div class="counter-box">
                            <div class="counter-nmbr counter-nmbr5"><span class="stat-number">100</span>%</div>
                            <div class="counter-cont"><span>Satisfaction</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>





    <section class="hero-portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-sm-12 col-xs-12">
                    <div class="process-main-title achivment-title wow fadeInUp">
                        <div class="process-title">
                            <h2>Take look <br /> Our Portfolio</h2>
                        </div>
                        <div class="sub-title">
                            <h5>Our Work</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-1 col-xs-0"></div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="mobportfolio-box">
                        <div class="mobportfolio-img">
                            <img src="../images/mobile/onesaid.png" class="img-fluid" alt="" />
                        </div>
                        <div class="mobport-cont">
                            <span>Mobile</span>
                            <h5>Onesaid</h5>
                            <ul>
                                <li><a href="#">Mongodb</a></li>
                                <li><a href="#">Firebase</a></li>
                                <li><a href="@Url.Action("uiuxdesign", "services")">UI / UX</a></li>
                            </ul>
                            <a class="mobport-btn" href="@Url.Action("Index", "portfolio")">Read More <span><img src="../images/mobile/arrow.svg" /></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="mobportfolio-box">
                        <div class="mobportfolio-img">
                            <img src="../images/mobile/rap-calculator.png" class="img-fluid" alt="" />
                        </div>
                        <div class="mobport-cont">
                            <span>Mobile</span>
                            <h5>Rap Calculator</h5>
                            <ul>
                                <li><a href="@Url.Action("Ios", "Technologies")">Objective-C</a></li>
                                <li><a href="@Url.Action("Ios", "Technologies")">Swift</a></li>
                                <li><a href="@Url.Action("uiuxdesign", "services")">UI / UX</a></li>
                            </ul>
                            <a class="mobport-btn" href="@Url.Action("Index", "portfolio")">Read More <span><img src="../images/mobile/arrow.svg" /></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="mobportfolio-box">
                        <div class="mobportfolio-img">
                            <img src="../images/mobile/wallpapers-for-me.png" class="img-fluid" alt="" />
                        </div>
                        <div class="mobport-cont">
                            <span>Mobile</span>
                            <h5>HD Wallpaper</h5>
                            <ul>
                                <li><a href="@Url.Action("Andriod", "Technologies")">JAVA</a></li>
                                <li><a href="@Url.Action("Dotnet", "Technologies")">.Net</a></li>
                                <li><a href="@Url.Action("uiuxdesign", "services")">UI / UX</a></li>
                            </ul>
                            <a class="mobport-btn" href="@Url.Action("Index", "portfolio")">Read More <span><img src="../images/mobile/arrow.svg" /></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
