<main role="main" class="">


    <section class="hero-service-banner">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="web-cont">
                        <h1>Software Development Services</h1>
                        <p>Codesdot being the best software development services provider company, delivering innovative, unique and supreme enterprise-grade custom software solutions globally. It’s not only about ideas but also about making them happen.</p>

                        <a class="btn bluegradbtnlarge mt2rem" href="/contactus">
                            Talk to Our Experts
                            <img src="/images/home/next.png">

                        </a>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="hero-work">
        <div class="container-fluid">

            <div class="row align-items-center margin-bottom">
                <div class="col-xl-6 p-0 col-lg-6 col-md-6 col-12">
                    <div class="our-work">
                        <div class="wrok-img">
                            <img src="/images/home/Group-2.jpg" class="img-fluid" alt="Codesdot">
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                    <div class="work-info">
                        <div class="hr-1">
                            <div class="bluegraddiv full-size"></div>
                        </div>
                        <h4>
                            Application Migration and reengineering

                        </h4>
                        <p>
                            Modernize legacy applications and boost performance by redesigning, refactoring, or migration facilities to fully customized functionally-rich applications. We ensure smooth and flawless re-engineering of software with advanced enhancements of new features, improved UI/UX, and modern security-based on cutting-edge technologies.



                        </p>

                    </div>
                </div>
            </div>

            <div class="row align-items-center margin-bottom">
                <div class="col-xl-6  col-lg-6 col-md-6 order col-12">
                    <div class="work-info">
                        <div class="hr-1">
                            <div class="bluegraddiv full-size"></div>
                        </div>
                        <h4>
                            Software Application maintenance



                        </h4>
                        <p>
                            Explore the maximum potential of your software by fine-tuning it with regular software upgrades. Our custom software development services enable you to transparently manage all the post-development activities with periodic software updates and real-time issue resolution ensuring high-performing apps at ease.





                        </p>


                    </div>
                </div>
                <div class="col-xl-6 p-0 col-lg-6 col-md-6 col-12">
                    <div class="our-work">
                        <div class="wrok-img work-padding img-left">
                            <img src="/images/home/Group-4.jpg" class="img-fluid" alt="Codesdot">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-items-center margin-bottom">
                <div class="col-xl-6 p-0 col-lg-6 col-md-6 col-12">
                    <div class="our-work">
                        <div class="wrok-img">
                            <img src="/images/home/Group-3.jpg" class="img-fluid" alt="Codesdot">
                        </div>
                    </div>
                </div>
                <div class="col-xl-6  col-lg-6 col-md-6  col-12">
                    <div class="work-info">
                        <div class="hr-1">
                            <div class="bluegraddiv full-size"></div>
                        </div>
                        <h4>
                            SaaS Applications


                        </h4>
                        <p>
                            Leverage our multi-year experience in building commercial SaaS-based applications to address your specific business challenges and achieve higher productivity, minimum risks, and elevated customer experience.



                        </p>

                    </div>
                </div>
            </div>
            <div class="row align-items-center margin-bottom">
                <div class="col-xl-6 col-lg-6  col-md-6 order col-12">
                    <div class="work-info">
                        <div class="hr-1">
                            <div class="bluegraddiv full-size"></div>
                        </div>
                        <h4>
                            Application Integration


                        </h4>
                        <p>
                            End-to-end application integration services to optimize workflow between disparate business sources that hinders business progress. We offer state of the art integration services between on-premise cloud or offline data environments with customization to ensure smoother and flexible business operations.





                        </p>

                    </div>
                </div>
                <div class="col-xl-6 p-0 col-lg-6 col-md-6 col-12">
                    <div class="our-work">
                        <div class="wrok-img work-padding img-left">
                            <img src="/images/home/Group-5.jpg" class="img-fluid" alt="Codesdot">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-items-center ">
                <div class="col-xl-6 p-0 col-lg-6 col-md-6 col-12">
                    <div class="our-work">
                        <div class="wrok-img">
                            <img src="/images/home/Group-1.jpg" class="img-fluid" alt="Codesdot">
                        </div>
                    </div>
                </div>
                <div class="col-xl-6  col-lg-6 col-md-6  col-12">
                    <div class="work-info">
                        <div class="hr-1">
                            <div class="bluegraddiv full-size"></div>
                        </div>
                        <h4>
                            Maintenance and Support



                        </h4>
                        <p>
                            Upscale application performance by making transformational changes as a part of software upgrade and maintenance tailored to specific customer needs. We facilitate clients with custom software application support at different levels from infrastructural changes, operation system integration change, web services support, cloud support SLA violation, or contract breach support for seamless business continuity.





                        </p>

                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="hero-process hero-ecomerce" id="desk-dev">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12 col-xs-12 trial-Customer">
                    <div class="enterprize-img wow fadeInLeft">
                        <img src="~/images/software-development/laptop_pic132.png" class="img-fluid" alt="" />
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 col-xs-12 wow fadeInRight">
                    <div class="enterprize-cont">
                        <h2>Desktop Based Development</h2>
                        <p>
                            Our experts grant in-depth knowledge of modern open source and proprietary platforms, products and components constituting a versatile basis for further custom development as well as integration into tailor-made solutions.
                            In the current evolution era, development and deployment is not the only base for digitalization, software testing and QA are also cornerstones. Our QA team promises that the custom developed software meets every expectation and get them regularly updated, making them best and perfect.
                        </p>
                    </div>
                </div>
            </div>
            <div class="Ecommerce-bg"></div>
        </div>
    </section>

    <section class="hero-process hero-ecomerce" id="ent-app">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12 col-xs-12 trial-Customer">
                    <div class="enterprize-img wow fadeInRight">
                       
                        <img src="~/images/software-development/services-sys-integration-page-650x433.png" class="img-fluid" alt="" />
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 col-xs-12 wow fadeInLeft">
                    <div class="enterprize-cont">
                        <h2>Application Migration and reengineering</h2>
                        <p>
                            Modernize legacy applications and boost performance by redesigning, refactoring, or migration facilities to fully customized functionally-rich applications. We ensure smooth and flawless re-engineering of software with advanced enhancements of new features, improved UI/UX, and modern security-based on cutting-edge technologies.
                        </p>
                    </div>
                </div>
            </div>
            <div class="Ecommerce-bg"></div>
        </div>
    </section>




    <section class="hero-process hero-enterprise" id="ent-sas">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12 col-xs-12 wow fadeInLeft">
                    <div class="enterprize-cont">
                        <h2>SaaS Applications</h2>
                        <p>
                            Leverage our multi-year experience in building commercial SaaS-based applications to address your specific business challenges and achieve higher productivity, minimum risks, and elevated customer experience.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 col-xs-12">
                    <div class="enterprize-img wow fadeInRight">                      
                        <img src="~/images/software-development/saas.png"  class="img-fluid" alt="" />
                    </div>
                </div>
            </div>
            <div class="enterprize-bg"></div>
        </div>
    </section>


    <section class="hero-process hero-ecomerce hero-mobileapi" id="eco-dev">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12 col-xs-12 trial-Customer">
                    <div class="enterprize-img wow fadeInLeft">
                        <img src="~/images/software-development/mobileappservice-about.jpg" class="img-fluid light" alt="" />
                        <img src="~/images/software-development/mobileappservice-about.jpg" class="img-fluid dark" alt="" />
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 col-xs-12 wow fadeInRight">
                    <div class="enterprize-cont enterprize-cont2">
                        <h2>Ecommerce Software Development</h2>
                        <p>We offer fully-fledged ecommerce solutions to every business, from standalone retailers to multi-brand companies. We add numerous advanced features that empower online initiatives and make online shopping much easier to a larger extent.</p>
                    </div>
                    <div class="enterprize-list">
                        <ul>
                            <li><a>Inventory Management</a></li>
                            <li><a>Cross-Platform Sales</a></li>
                            <li><a>Shipping Management</a></li>
                            <li><a>Price Management</a></li>
                        </ul>
                        <ul>
                            <li><a>Cross-Border Sales</a></li>
                            <li><a>Automated Orders Processing</a></li>
                            <li><a>Stock Synchronisation Systems</a></li>
                            <li><a>Everything else</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="Ecommerce-bg Ecommerce-bg2"></div>
        </div>
    </section>



    <section class="hero-tech-slider">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-sm-11 col-xs-12">
                    <div class="process-main-title achivment-title wow fadeInUp">
                        <div class="process-title">
                            <h2>About our <br /> experts Filed</h2>
                        </div>
                        <div class="sub-title">
                            <h5>Technologies</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-1 col-xs-0"></div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <div class="tech-slider">
                        <div class="owl-carousel owl-theme ss_carousel owl-loaded owl-drag" id="slider2">
                            <div class="item">
                                <div class="tech-box">
                                    <center>
                                        <div class="tech-icon php-icon">
                                            <img src="../images/webdevelop/php.svg" class="img-fluid" alt="" />
                                        </div>
                                        <div class="tech-cont">
                                            <h5>PHP</h5>
                                        </div>
                                    </center>
                                </div>
                            </div>
                            <div class="item">
                                <div class="tech-box">
                                    <center>
                                        <div class="tech-icon laravel-icon">
                                            <img src="../images/webdevelop/laravel.svg" class="img-fluid" alt="" />
                                        </div>
                                        <div class="tech-cont">
                                            <h5>Laravel</h5>
                                        </div>
                                    </center>
                                </div>
                            </div>

                            <div class="item">
                                <div class="tech-box">
                                    <center>
                                        <div class="tech-icon php-icon">
                                            <img src="../images/webdevelop/net.svg" class="img-fluid" alt="" />
                                        </div>
                                        <div class="tech-cont">
                                            <h5>.Net</h5>
                                        </div>
                                    </center>
                                </div>
                            </div>

                            <div class="item">
                                <div class="tech-box">
                                    <center>
                                        <div class="tech-icon CodeIgniter-icon">
                                            <img src="../images/webdevelop/codeIgniter.svg" class="img-fluid" alt="" />
                                        </div>
                                        <div class="tech-cont">
                                            <h5>CodeIgniter</h5>
                                        </div>
                                    </center>
                                </div>
                            </div>

                            <div class="item">
                                <div class="tech-box">
                                    <center>
                                        <div class="tech-icon angular-icon">
                                            <img src="../images/webdevelop/angular.svg" class="img-fluid" alt="" />
                                        </div>
                                        <div class="tech-cont">
                                            <h5>Angular.Js</h5>
                                        </div>
                                    </center>
                                </div>
                            </div>

                            <div class="item">
                                <div class="tech-box">
                                    <center>
                                        <div class="tech-icon node-icon">
                                            <img src="../images/webdevelop/node.svg" class="img-fluid" alt="" />
                                        </div>
                                        <div class="tech-cont">
                                            <h5>Node.Js</h5>
                                        </div>
                                    </center>
                                </div>
                            </div>

                            <div class="item">
                                <div class="tech-box">
                                    <center>
                                        <div class="tech-icon node-icon">
                                            <img src="../images/webdevelop/Icon/Ios.svg" class="img-fluid" alt="" />
                                        </div>
                                        <div class="tech-cont">
                                            <h5>Ios</h5>
                                        </div>
                                    </center>
                                </div>
                            </div>

                            <div class="item">
                                <div class="tech-box">
                                    <center>
                                        <div class="tech-icon node-icon">
                                            <img src="../images/webdevelop/Icon/android.svg" class="img-fluid" alt="" />
                                        </div>
                                        <div class="tech-cont">
                                            <h5>Android</h5>
                                        </div>
                                    </center>
                                </div>
                            </div>

                            <div class="item">
                                <div class="tech-box">
                                    <center>
                                        <div class="tech-icon node-icon">
                                            <img src="../images/webdevelop/Icon/react-native.svg" class="img-fluid" alt="" />
                                        </div>
                                        <div class="tech-cont">
                                            <h5>React Native</h5>
                                        </div>
                                    </center>
                                </div>
                            </div>


                            <div class="item">
                                <div class="tech-box">
                                    <center>
                                        <div class="tech-icon node-icon">
                                            <img src="../images/webdevelop/Icon/xamarin.svg" class="img-fluid" alt="" />
                                        </div>
                                        <div class="tech-cont">
                                            <h5>Xamarin</h5>
                                        </div>
                                    </center>
                                </div>
                            </div>

                            <div class="item">
                                <div class="tech-box">
                                    <center>
                                        <div class="tech-icon node-icon">
                                            <img src="../images/webdevelop/Icon/reactjs.svg" class="img-fluid" alt="" />
                                        </div>
                                        <div class="tech-cont">
                                            <h5>React Js</h5>
                                        </div>
                                    </center>
                                </div>
                            </div>

                            <div class="item">
                                <div class="tech-box">
                                    <center>
                                        <div class="tech-icon node-icon">
                                            <img src="../images/webdevelop/Icon/typescript.svg" class="img-fluid" alt="" />
                                        </div>
                                        <div class="tech-cont">
                                            <h5>TypeScript</h5>
                                        </div>
                                    </center>
                                </div>
                            </div>

                            <div class="item">
                                <div class="tech-box">
                                    <center>
                                        <div class="tech-icon node-icon">
                                            <img src="../images/webdevelop/Icon/html-5.svg" class="img-fluid" alt="" />
                                        </div>
                                        <div class="tech-cont">
                                            <h5>HTML 5</h5>
                                        </div>
                                    </center>
                                </div>
                            </div>

                            <div class="item">
                                <div class="tech-box">
                                    <center>
                                        <div class="tech-icon node-icon">
                                            <img src="../images/webdevelop/Icon/aws.svg" class="img-fluid" alt="" />
                                        </div>
                                        <div class="tech-cont">
                                            <h5>AWS</h5>
                                        </div>
                                    </center>
                                </div>
                            </div>

                            <div class="item">
                                <div class="tech-box">
                                    <center>
                                        <div class="tech-icon node-icon">
                                            <img src="../images/webdevelop/Icon/google-cloud.svg" class="img-fluid" alt="" />
                                        </div>
                                        <div class="tech-cont">
                                            <h5>Google Cloud</h5>
                                        </div>
                                    </center>
                                </div>
                            </div>

                            <div class="item">
                                <div class="tech-box">
                                    <center>
                                        <div class="tech-icon node-icon">
                                            <img src="../images/webdevelop/Icon/azure.svg" class="img-fluid" alt="" />
                                        </div>
                                        <div class="tech-cont">
                                            <h5>Azure</h5>
                                        </div>
                                    </center>
                                </div>
                            </div>

                            <div class="item">
                                <div class="tech-box">
                                    <center>
                                        <div class="tech-icon node-icon">
                                            <img src="../images/webdevelop/Icon/mysql.svg" class="img-fluid" alt="" />
                                        </div>
                                        <div class="tech-cont">
                                            <h5>My SQL</h5>
                                        </div>
                                    </center>
                                </div>
                            </div>

                            <div class="item">
                                <div class="tech-box">
                                    <center>
                                        <div class="tech-icon node-icon">
                                            <img src="../images/webdevelop/Icon/mssql.svg" class="img-fluid" alt="" />
                                        </div>
                                        <div class="tech-cont">
                                            <h5>MS SQL</h5>
                                        </div>
                                    </center>
                                </div>
                            </div>

                            <div class="item">
                                <div class="tech-box">
                                    <center>
                                        <div class="tech-icon node-icon">
                                            <img src="../images/webdevelop/Icon/firebase.svg" class="img-fluid" alt="" />
                                        </div>
                                        <div class="tech-cont">
                                            <h5>Firebase</h5>
                                        </div>
                                    </center>
                                </div>
                            </div>

                            <div class="item">
                                <div class="tech-box">
                                    <center>
                                        <div class="tech-icon node-icon">
                                            <img src="../images/webdevelop/Icon/mongoDB-1.svg" class="img-fluid" alt="" />
                                        </div>
                                        <div class="tech-cont">
                                            <h5>MongoDB</h5>
                                        </div>
                                    </center>
                                </div>
                            </div>

                            <div class="item">
                                <div class="tech-box">
                                    <center>
                                        <div class="tech-icon node-icon">
                                            <img src="../images/webdevelop/Icon/magento.svg" class="img-fluid" alt="" />
                                        </div>
                                        <div class="tech-cont">
                                            <h5>Magento</h5>
                                        </div>
                                    </center>
                                </div>
                            </div>

                            <div class="item">
                                <div class="tech-box">
                                    <center>
                                        <div class="tech-icon node-icon">
                                            <img src="../images/webdevelop/Icon/wordpress.svg" class="img-fluid" alt="" />
                                        </div>
                                        <div class="tech-cont">
                                            <h5>WordPress</h5>
                                        </div>
                                    </center>
                                </div>
                            </div>

                            <div class="item">
                                <div class="tech-box">
                                    <center>
                                        <div class="tech-icon node-icon">
                                            <img src="../images/webdevelop/Icon/shopify.svg" class="img-fluid" alt="" />
                                        </div>
                                        <div class="tech-cont">
                                            <h5>Shopify</h5>
                                        </div>
                                    </center>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="hero-mobile-counter">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <div class="counter-boxes">
                        <div class="counter-box">
                            <div class="counter-nmbr counter-nmbr1"><span class="stat-number">1</span>k+</div>
                            <div class="counter-cont"><span>Software <br /> Delivered</span></div>
                        </div>
                        <div class="counter-box">
                            <div class="counter-nmbr counter-nmbr2"><span class="stat-number">550</span>+</div>
                            <div class="counter-cont"><span>Our Happy <br /> Clients</span></div>
                        </div>
                        <div class="counter-box">
                            <div class="counter-nmbr counter-nmbr3"><span class="stat-number">220</span>+</div>
                            <div class="counter-cont"><span>Fortune <br /> Companies Clients</span></div>
                        </div>
                        <div class="counter-box">
                            <div class="counter-nmbr counter-nmbr4"><span class="stat-number">12</span>+</div>
                            <div class="counter-cont"><span>Years of <br /> Experience</span></div>
                        </div>
                        <div class="counter-box">
                            <div class="counter-nmbr counter-nmbr5"><span class="stat-number">100</span>%</div>
                            <div class="counter-cont"><span>Satisfaction</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>





    <section class="hero-portfolio" id="allot">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-sm-11 col-xs-12">
                    <div class="process-main-title achivment-title wow fadeInUp">
                        <div class="process-title">
                            <h2>Take look <br /> Our Portfolio</h2>
                        </div>
                        <div class="sub-title">
                            <h5>Our Work</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-1 col-xs-0"></div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="mobportfolio-box">
                        <div class="mobportfolio-img">
                            <img src="../images/mobile/sddiam-thumb.png" class="img-fluid" alt="" />
                        </div>
                        <div class="mobport-cont">
                            <span>E-commerce</span>
                            <h5>SD Diam</h5>
                            <ul>
                                <li><a href="@Url.Action("Ios", "Technologies")">Swift</a></li>
                                <li><a href="@Url.Action("Dotnet", "Technologies")">.Net</a></li>
                                <li><a href="@Url.Action("uiuxdesign", "services")">UI / UX</a></li>
                            </ul>
                            <a class="mobport-btn" href="@Url.Action("Index", "portfolio")">Read More <span><img src="../images/mobile/arrow.svg" /></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="mobportfolio-box">
                        <div class="mobportfolio-img">
                            <img src="../images/mobile/narmada.png" class="img-fluid" alt="" />
                        </div>
                        <div class="mobport-cont">
                            <span>E-commerce</span>
                            <h5>Narmada</h5>
                            <ul>
                                <li><a href="@Url.Action("Dotnet", "Technologies")">.Net</a></li>
                                <li><a href="#">MS SQL</a></li>
                                <li><a href="@Url.Action("Reactjs", "Technologies")">React.js</a></li>
                            </ul>
                            <a class="mobport-btn" href="@Url.Action("Index", "portfolio")">Read More <span><img src="../images/mobile/arrow.svg" /></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="mobportfolio-box">
                        <div class="mobportfolio-img">
                            <img src="../images/mobile/gdp-impex.png" class="img-fluid" alt="" />
                        </div>
                        <div class="mobport-cont">
                            <span>E-commerce</span>
                            <h5>GDP Impex</h5>
                            <ul>
                                <li><a href="@Url.Action("Laravel", "Technologies")">Laravel</a></li>
                                <li><a href="@Url.Action("Php", "Technologies")">PHP</a></li>
                                <li><a href="@Url.Action("uiuxdesign", "services")">UI / UX</a></li>
                            </ul>
                            <a class="mobport-btn" href="@Url.Action("Index", "portfolio")">Read More <span><img src="../images/mobile/arrow.svg" /></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>