
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main role="main" class="">




    <section class="hero-trial">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12 col-xs-12">
                    <div class="web-cont wow fadeInLeft">
                        <h1>Web Development Services</h1>
                        <p>Codesdot is a top-notch web development services provider company that crafts and delivers cost-effective and innovative websites, web applications, web tools, etc. to boost your business sales, profits and efficiency diversely via latest trends & technologies.</p>
                        <a class="header-btn" href="@Url.Action("contactus", "hireus")">Get a Quote</a>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 col-xs-12">
                    <div class="web-img wow fadeInRight">
                        <img src="../images/webdevelop/webdevelop.svg" class="img-fluid light" alt="codesdot" />
                        <img src="../images/webdevelop/webdevelop.png" class="img-fluid dark" alt="codesdot" />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="hero-process hero-enterprise" id="Enterprise">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12 col-xs-12 wow fadeInLeft">
                    <div class="enterprize-cont">
                        <h2>Enterprise Development</h2>
                        <p>Codesdot is a leading enterprise web development company in delivering a wide range of enterprise solutions that meet every type of industry-specific needs. We are expert in developing enterprise-grade solutions, web portals, eCommerce solutions, B2B & B2C applications, ERP & CRM software apps and secure transactions. Updated with latest technology, our web development services’ outputs are creative, intuitively interactive and visually appealing.</p>
                    </div>
                    <div class="enterprize-list">
                        <ul>
                            <li><a>Flexible Enterprise Solutions</a></li>
                            <li><a>Custom Enterprise Web Development</a></li>
                            <li><a>Enterprise Portal Development</a></li>
                        </ul>
                        <ul>
                            <li><a>ERP Software Development</a></li>
                            <li><a>CRM Software Development</a></li>
                            <li><a>Enterprise System Integration</a></li>
                        </ul>
                    </div>

                </div>
                <div class="col-lg-6 col-sm-12 col-xs-12">
                    <div class="enterprize-img wow fadeInRight">
                        <img src="../images/webdevelop/Enterprise.png" class="img-fluid" alt="" />
                        <div class="leaf">
                            <img src="../images/webdevelop/leaf.svg" class="img-fluid" alt="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="enterprize-bg"></div>
        </div>
    </section>


    <section class="hero-process hero-ecomerce" id="Ecommerce">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12 col-xs-12 trial-Customer">
                    <div class="enterprize-img wow fadeInLeft">
                        <img src="../images/webdevelop/new/ecommerce-development-image.png" class="img-fluid" alt="" />
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 col-xs-12 wow fadeInRight">
                    <div class="enterprize-cont">
                        <h2>Ecommerce Development</h2>
                        <p>We bring you unlimited stores developed from scratch and leveraged from popular platforms like WooCommerce or Shopify with unique and creative ideas, for eventual online shopping experience. Our ecommerce development services have thorough outputs that help us to deliver world-class web solutions. Our brilliancy in serving full-fledged online web stores for all types of business, either be it a startup or large enterprise, have made us a leading ecommerce web development company.</p>
                    </div>
                    <div class="enterprize-list">
                        <ul>
                            <li><a>Responsive ecommerce Web App Development</a></li>
                            <li><a>Secure Custom eCommerce Website Design + Development</a></li>
                        </ul>
                    </div>
                    <div class="enterprize-list">
                        <ul>
                            <li><a>Multi-Store Development</a></li>
                            <li><a>Mobile compatibility</a></li>
                            <li><a>Payment Gateway Integration</a></li>
                            <li><a>Product navigation</a></li>
                        </ul>
                        <ul>
                            <li><a>Shopping Cart Development</a></li>
                            <li><a>Plugin/module development</a></li>
                            <li><a>Order management</a></li>
                            <li><a>Secure data backup & storage</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="Ecommerce-bg"></div>
        </div>
    </section>



    <section class="hero-process hero-enterprise" id="Content">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12 col-xs-12 wow fadeInLeft">
                    <div class="enterprize-cont">
                        <h2>Content Management System (CMS)</h2>
                        <p>Being a foremost CMS development company, we cater a wide range of CMS web development services. Our solutions are primarily for websites, B2B & B2C portals, enterprise applications and ecommerce products. At Codesdot, open-source masters guarantee 100% project delivery and 100% client satisfaction. We are skillful and talented in CMS platforms like WordPress, Shopify, DotNetNuke, Drupal, etc.</p>
                    </div>
                    <div class="enterprize-list">
                        <ul>
                            <li><a>Custom CMS Web Design + Development</a></li>
                            <li><a>CMS Solutions for B2B & B2C Apps</a></li>
                            <li><a>CMS Migration & Integration</a></li>
                        </ul>
                        <ul>
                            <li><a>Ecommerce CMS Solutions</a></li>
                            <li><a>Enterprise CMS Solutions</a></li>
                            <li><a>CMS Support & Maintenance</a></li>
                        </ul>
                    </div>

                </div>
                <div class="col-lg-6 col-sm-12 col-xs-12">
                    <div class="enterprize-img wow fadeInRight">
                        <img src="../images/webdevelop/cms.png" class="img-fluid" alt="" />
                        <div class="core-img cms-img">
                            <img src="../images/webdevelop/cms-img.svg" class="img-fluid" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="enterprize-bg"></div>
        </div>
    </section>


    <section class="hero-process hero-ecomerce hero-mobileapi" id="Mobile">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12 col-xs-12 trial-Customer">
                    <div class="enterprize-img wow fadeInLeft">
                        <img src="../images/webdevelop/mobile-api.png" class="img-fluid" alt="" />
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 col-xs-12 wow fadeInRight">
                    <div class="enterprize-cont enterprize-cont2">
                        <h2>Mobile API/Backend</h2>
                        <p>Since our establishment, we are pioneer in delivering top backend development services for web/mobile apps. Our mastery in developing custom RESTful API services that make web/mobile apps interactive, has made us earn the pioneering position. Having an age of experience in building highly effective scalable and secure APIs and backend, we have got expertise in providing best APIs for business that fit within your business portrait and targets.</p>
                    </div>
                    <div class="enterprize-list">
                        <ul>
                            <li><a>Mobile/SMS API</a></li>
                            <li><a>Social Networking API</a></li>
                            <li><a>API Push notifications</a></li>
                        </ul>
                        <ul>
                            <li><a>Custom API Development</a></li>
                            <li><a>API/Web as a Service</a></li>
                            <li><a>2-Factor Authentication API Service</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="Ecommerce-bg Ecommerce-bg2"></div>
        </div>
    </section>



    <section class="hero-tech-slider">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-sm-11 col-xs-12">
                    <div class="process-main-title achivment-title wow fadeInUp">
                        <div class="process-title">
                            <h2>About our <br /> experts Filed</h2>
                        </div>
                        <div class="sub-title">
                            <h5>Technologies</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-1 col-xs-0"></div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <div class="tech-slider">
                        <div class="owl-carousel owl-theme ss_carousel owl-loaded owl-drag" id="slider2">
                            <div class="item">
                                <div class="tech-box">
                                    <center>
                                        <div class="tech-icon php-icon">
                                            <img src="../images/webdevelop/php.svg" class="img-fluid" alt="" />
                                        </div>
                                        <div class="tech-cont">
                                            <h5>PHP</h5>
                                        </div>
                                    </center>
                                </div>
                            </div>
                            <div class="item">
                                <div class="tech-box">
                                    <center>
                                        <div class="tech-icon laravel-icon">
                                            <img src="../images/webdevelop/laravel.svg" class="img-fluid" alt="" />
                                        </div>
                                        <div class="tech-cont">
                                            <h5>Laravel</h5>
                                        </div>
                                    </center>
                                </div>
                            </div>

                            <div class="item">
                                <div class="tech-box">
                                    <center>
                                        <div class="tech-icon php-icon">
                                            <img src="../images/webdevelop/net.svg" class="img-fluid" alt="" />
                                        </div>
                                        <div class="tech-cont">
                                            <h5>.Net</h5>
                                        </div>
                                    </center>
                                </div>
                            </div>

                            <div class="item">
                                <div class="tech-box">
                                    <center>
                                        <div class="tech-icon CodeIgniter-icon">
                                            <img src="../images/webdevelop/codeIgniter.svg" class="img-fluid" alt="" />
                                        </div>
                                        <div class="tech-cont">
                                            <h5>CodeIgniter</h5>
                                        </div>
                                    </center>
                                </div>
                            </div>

                            <div class="item">
                                <div class="tech-box">
                                    <center>
                                        <div class="tech-icon angular-icon">
                                            <img src="../images/webdevelop/angular.svg" class="img-fluid" alt="" />
                                        </div>
                                        <div class="tech-cont">
                                            <h5>Angular.Js</h5>
                                        </div>
                                    </center>
                                </div>
                            </div>

                            <div class="item">
                                <div class="tech-box">
                                    <center>
                                        <div class="tech-icon node-icon">
                                            <img src="../images/webdevelop/node.svg" class="img-fluid" alt="" />
                                        </div>
                                        <div class="tech-cont">
                                            <h5>Node.Js</h5>
                                        </div>
                                    </center>
                                </div>
                            </div>

                            <div class="item">
                                <div class="tech-box">
                                    <center>
                                        <div class="tech-icon node-icon">
                                            <img src="../images/webdevelop/Icon/Ios.svg" class="img-fluid" alt="" />
                                        </div>
                                        <div class="tech-cont">
                                            <h5>Ios</h5>
                                        </div>
                                    </center>
                                </div>
                            </div>

                            <div class="item">
                                <div class="tech-box">
                                    <center>
                                        <div class="tech-icon node-icon">
                                            <img src="../images/webdevelop/Icon/android.svg" class="img-fluid" alt="" />
                                        </div>
                                        <div class="tech-cont">
                                            <h5>Android</h5>
                                        </div>
                                    </center>
                                </div>
                            </div>

                            <div class="item">
                                <div class="tech-box">
                                    <center>
                                        <div class="tech-icon node-icon">
                                            <img src="../images/webdevelop/Icon/react-native.svg" class="img-fluid" alt="" />
                                        </div>
                                        <div class="tech-cont">
                                            <h5>React Native</h5>
                                        </div>
                                    </center>
                                </div>
                            </div>


                            <div class="item">
                                <div class="tech-box">
                                    <center>
                                        <div class="tech-icon node-icon">
                                            <img src="../images/webdevelop/Icon/xamarin.svg" class="img-fluid" alt="" />
                                        </div>
                                        <div class="tech-cont">
                                            <h5>Xamarin</h5>
                                        </div>
                                    </center>
                                </div>
                            </div>

                            <div class="item">
                                <div class="tech-box">
                                    <center>
                                        <div class="tech-icon node-icon">
                                            <img src="../images/webdevelop/Icon/reactjs.svg" class="img-fluid" alt="" />
                                        </div>
                                        <div class="tech-cont">
                                            <h5>React Js</h5>
                                        </div>
                                    </center>
                                </div>
                            </div>

                            <div class="item">
                                <div class="tech-box">
                                    <center>
                                        <div class="tech-icon node-icon">
                                            <img src="../images/webdevelop/Icon/typescript.svg" class="img-fluid" alt="" />
                                        </div>
                                        <div class="tech-cont">
                                            <h5>TypeScript</h5>
                                        </div>
                                    </center>
                                </div>
                            </div>

                            <div class="item">
                                <div class="tech-box">
                                    <center>
                                        <div class="tech-icon node-icon">
                                            <img src="../images/webdevelop/Icon/html-5.svg" class="img-fluid" alt="" />
                                        </div>
                                        <div class="tech-cont">
                                            <h5>HTML 5</h5>
                                        </div>
                                    </center>
                                </div>
                            </div>

                            <div class="item">
                                <div class="tech-box">
                                    <center>
                                        <div class="tech-icon node-icon">
                                            <img src="../images/webdevelop/Icon/aws.svg" class="img-fluid" alt="" />
                                        </div>
                                        <div class="tech-cont">
                                            <h5>AWS</h5>
                                        </div>
                                    </center>
                                </div>
                            </div>

                            <div class="item">
                                <div class="tech-box">
                                    <center>
                                        <div class="tech-icon node-icon">
                                            <img src="../images/webdevelop/Icon/google-cloud.svg" class="img-fluid" alt="" />
                                        </div>
                                        <div class="tech-cont">
                                            <h5>Google Cloud</h5>
                                        </div>
                                    </center>
                                </div>
                            </div>

                            <div class="item">
                                <div class="tech-box">
                                    <center>
                                        <div class="tech-icon node-icon">
                                            <img src="../images/webdevelop/Icon/azure.svg" class="img-fluid" alt="" />
                                        </div>
                                        <div class="tech-cont">
                                            <h5>Azure</h5>
                                        </div>
                                    </center>
                                </div>
                            </div>

                            <div class="item">
                                <div class="tech-box">
                                    <center>
                                        <div class="tech-icon node-icon">
                                            <img src="../images/webdevelop/Icon/mysql.svg" class="img-fluid" alt="" />
                                        </div>
                                        <div class="tech-cont">
                                            <h5>My SQL</h5>
                                        </div>
                                    </center>
                                </div>
                            </div>

                            <div class="item">
                                <div class="tech-box">
                                    <center>
                                        <div class="tech-icon node-icon">
                                            <img src="../images/webdevelop/Icon/mssql.svg" class="img-fluid" alt="" />
                                        </div>
                                        <div class="tech-cont">
                                            <h5>MS SQL</h5>
                                        </div>
                                    </center>
                                </div>
                            </div>

                            <div class="item">
                                <div class="tech-box">
                                    <center>
                                        <div class="tech-icon node-icon">
                                            <img src="../images/webdevelop/Icon/firebase.svg" class="img-fluid" alt="" />
                                        </div>
                                        <div class="tech-cont">
                                            <h5>Firebase</h5>
                                        </div>
                                    </center>
                                </div>
                            </div>

                            <div class="item">
                                <div class="tech-box">
                                    <center>
                                        <div class="tech-icon node-icon">
                                            <img src="../images/webdevelop/Icon/mongoDB-1.svg" class="img-fluid" alt="" />
                                        </div>
                                        <div class="tech-cont">
                                            <h5>MongoDB</h5>
                                        </div>
                                    </center>
                                </div>
                            </div>

                            <div class="item">
                                <div class="tech-box">
                                    <center>
                                        <div class="tech-icon node-icon">
                                            <img src="../images/webdevelop/Icon/magento.svg" class="img-fluid" alt="" />
                                        </div>
                                        <div class="tech-cont">
                                            <h5>Magento</h5>
                                        </div>
                                    </center>
                                </div>
                            </div>

                            <div class="item">
                                <div class="tech-box">
                                    <center>
                                        <div class="tech-icon node-icon">
                                            <img src="../images/webdevelop/Icon/wordpress.svg" class="img-fluid" alt="" />
                                        </div>
                                        <div class="tech-cont">
                                            <h5>WordPress</h5>
                                        </div>
                                    </center>
                                </div>
                            </div>

                            <div class="item">
                                <div class="tech-box">
                                    <center>
                                        <div class="tech-icon node-icon">
                                            <img src="../images/webdevelop/Icon/shopify.svg" class="img-fluid" alt="" />
                                        </div>
                                        <div class="tech-cont">
                                            <h5>Shopify</h5>
                                        </div>
                                    </center>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="hero-mobile-counter">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <div class="counter-boxes">
                        <div class="counter-box">
                            <div class="counter-nmbr counter-nmbr1"><span class="stat-number">1</span>k+</div>
                            <div class="counter-cont"><span>Software <br /> Delivered</span></div>
                        </div>
                        <div class="counter-box">
                            <div class="counter-nmbr counter-nmbr2"><span class="stat-number">550</span>+</div>
                            <div class="counter-cont"><span>Our Happy <br /> Clients</span></div>
                        </div>
                        <div class="counter-box">
                            <div class="counter-nmbr counter-nmbr3"><span class="stat-number">220</span>+</div>
                            <div class="counter-cont"><span>Fortune <br /> Companies Clients</span></div>
                        </div>
                        <div class="counter-box">
                            <div class="counter-nmbr counter-nmbr4"><span class="stat-number">12</span>+</div>
                            <div class="counter-cont"><span>Years of <br /> Experience</span></div>
                        </div>
                        <div class="counter-box">
                            <div class="counter-nmbr counter-nmbr5"><span class="stat-number">100</span>%</div>
                            <div class="counter-cont"><span>Satisfaction</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>





    <section class="hero-portfolio" id="allot">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-sm-11 col-xs-12">
                    <div class="process-main-title achivment-title wow fadeInUp">
                        <div class="process-title">
                            <h2>Take look <br /> Our Portfolio</h2>
                        </div>
                        <div class="sub-title">
                            <h5>Our Work</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-1 col-xs-0"></div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="mobportfolio-box">
                        <div class="mobportfolio-img">
                            <img src="../images/mobile/medicaldeviceevents-thumb.png" class="img-fluid" alt="" />
                        </div>
                        <div class="mobport-cont">
                            <span>E-commerce</span>
                            <h5>Medical Device Events</h5>
                            <ul>
                                <li><a href="#">Magento</a></li>
                                <li><a href="@Url.Action("Wordpress", "Technologies")">Wordpress</a></li>
                                <li><a href="@Url.Action("uiuxdesign", "service")">UI / UX</a></li>
                            </ul>
                            <a class="mobport-btn" href="@Url.Action("Index", "portfolio")">Read More <span><img src="../images/mobile/arrow.svg" /></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="mobportfolio-box">
                        <div class="mobportfolio-img">
                            <img src="../images/mobile/smile-program-thumb.png" class="img-fluid" alt="" />
                        </div>
                        <div class="mobport-cont">
                            <span>E-commerce</span>
                            <h5>Smile Program</h5>
                            <ul>
                                <li><a href="@Url.Action("Html", "Technologies")">HTML5</a></li>
                                <li><a href="@Url.Action("Php", "Technologies")">PHP</a></li>
                                <li><a href="@Url.Action("Nodejs", "Technologies")">Node.js</a></li>
                            </ul>
                            <a class="mobport-btn" href="@Url.Action("Index", "portfolio")">Read More <span><img src="../images/mobile/arrow.svg" /></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="mobportfolio-box">
                        <div class="mobportfolio-img">
                            <img src="../images/mobile/thedentalviews-thumb.png" class="img-fluid" alt="" />
                        </div>
                        <div class="mobport-cont">
                            <span>E-commerce</span>
                            <h5>The Dentalviews</h5>
                            <ul>
                                <li><a href="@Url.Action("Laravel", "Technologies")">Laravel</a></li>
                                <li><a href="@Url.Action("Reactja", "Technologies")">React.js</a></li>
                                <li><a href="@Url.Action("uiuxdesign", "service")">UI / UX</a></li>
                            </ul>
                            <a class="mobport-btn" href="@Url.Action("Index", "portfolio")">Read More <span><img src="../images/mobile/arrow.svg" /></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

