
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main role="main" class="pb-3">


    <section class="hero-portfolio portfolio-title-section mb-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <div class="port-title">
                        <h1>Projects that speak about our versatility</h1>
                        <p>We’re passionate about what we do! Our portfolio is a sheer presentation about 20+ years of industry experience, collaboration, expertise, and quality deliverables.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <div class="portfolio-menu-box">
                        <div class="portfolio-menu portfolio-menu1">
                            <ul>
                                <li><a href="#" class="active">Portfolio</a></li>
                            </ul>
                        </div>
                        <div class="portfolio-menu">
                            <ul>
                                <li style="display:none;">
                                    <div class="dropdown show">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Technology
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                            <a class="dropdown-item" href="#">New Project</a>
                                            <a class="dropdown-item" href="#">Maintenance</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-xs-12">
                    <div class="gallery-portfolio">
                        <div class="row">
                            <div class="container">
                                <div class="tab-content" id="pills-tabContent">
                                    <div class="tab-pane fade show active" id="showall" role="tabpanel" aria-labelledby="showall-tab">
                                        <div class="row">
                                            <div class="col-lg-4 col-sm-6 col-xs-12 ">
                                                <div class="Portfolio">
                                                    <div class="portfolio-img">
                                                        <a href="@Url.Action("Onesaid", "portfolio")"><img src="~/images/portfolio/portfolio-img-1.png" class="img-fluid" alt="Codesdot" /></a>
                                                    </div>
                                                    <div class="portfolio-cont">
                                                        <h5>Social Networking app</h5>
                                                        <h2>Onesaid</h2>
                                                        <p>A social platform and app to discover and read the new perspectives stories.</p>
                                                        <ul>
                                                            <li>Objective C</li>
                                                            <li>Laravel</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-sm-6 col-xs-12">
                                                <div class="Portfolio">
                                                    <div class="portfolio-img">
                                                        <a href="@Url.Action("Medicaldevice", "portfolio")"><img src="~/images/portfolio/portfolio-img-2.png" class="img-fluid" alt="Codesdot " /></a>
                                                    </div>
                                                    <div class="portfolio-cont">
                                                        <h5>Event Scheduling Platform</h5>
                                                        <h2>10x Medical Device</h2>
                                                        <p>An Event schedulaing web platform to grow your skills, network, and profit.</p>
                                                        <ul>
                                                            <li>Wordpress</li>
                                                            <li>PHP</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-sm-6 col-xs-12">
                                                <div class="Portfolio">
                                                    <div class="portfolio-img">
                                                        <a href="@Url.Action("Honeyexport", "portfolio")"><img src="~/images/portfolio/portfolio-img-3.png" class="img-fluid" alt="Codesdot " /></a>
                                                    </div>
                                                    <div class="portfolio-cont">
                                                        <h5>Ecommerce Platform</h5>
                                                        <h2>Honey Export</h2>
                                                        <p>Manufacturers and retailers website for the large scale </p>
                                                        <ul>
                                                            <li>.Net</li>
                                                            <li>Angular</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-sm-6 col-xs-12">
                                                <div class="Portfolio">
                                                    <div class="portfolio-img">
                                                        <a href="@Url.Action("Gdpimpex", "portfolio")"><img src="~/images/gdp_impex/image2.png" class="img-fluid" alt="Codesdot " /></a>
                                                    </div>
                                                    <div class="portfolio-cont">
                                                        <h5>Business</h5>
                                                        <h2>GDP Impex</h2>
                                                        <p>An online diamond jwellary app and web for the users. </p>
                                                        <ul>
                                                            <li>.Net</li>
                                                            <li>Angular</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-sm-6 col-xs-12">
                                                <div class="Portfolio">
                                                    <div class="portfolio-img">
                                                        <a href="@Url.Action("Millonhands", "portfolio")"><img src="~/images/Millonhands/image2.png" class="img-fluid" alt="Codesdot" /></a>
                                                    </div>
                                                    <div class="portfolio-cont">
                                                        <h5>Business</h5>
                                                        <h2>Millonhands</h2>
                                                        <p>A marketplace platform to trade new diamond jwellary .</p>
                                                        <ul>
                                                            <li>.Net</li>
                                                            <li>Angular</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-sm-6 col-xs-12">
                                                <div class="Portfolio">
                                                    <div class="portfolio-img">
                                                        <a href="@Url.Action("Narmada", "portfolio")"><img src="~/images/Narmada/image2.png" class="img-fluid" alt="Codesdot" /></a>
                                                    </div>
                                                    <div class="portfolio-cont">
                                                        <h5>IT Asset management Platform</h5>
                                                        <h2>Narmada</h2>
                                                        <p>A asset managment system especially for the IT members.</p>
                                                        <ul>
                                                            <li>.Net</li>
                                                            <li>Angular</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-sm-6 col-xs-12">
                                                <div class="Portfolio">
                                                    <div class="portfolio-img">
                                                        <a href="@Url.Action("Sddiam", "portfolio")"><img src="~/images/SD_DIam/image2.png" class="img-fluid" alt="Codesdot" /></a>
                                                    </div>
                                                    <div class="portfolio-cont">
                                                        <h5>Ecommerce Platform</h5>
                                                        <h2>SD Diam</h2>
                                                        <p>A large scalling diamond menufecturing app and web.</p>
                                                        <ul>
                                                            <li>Android</li>
                                                            <li>.Net</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-sm-6 col-xs-12">
                                                <div class="Portfolio">
                                                    <div class="portfolio-img">
                                                        <a href="@Url.Action("Smileprogram", "portfolio")"><img src="~/images/Smile_Program/image2.png" class="img-fluid" alt="Codesdot" /></a>
                                                    </div>
                                                    <div class="portfolio-cont">
                                                        <h5>Doctor Constancy platform </h5>
                                                        <h2>Smile Program</h2>
                                                        <p>A hassle-free service to find New Local Affordable Dentist.</p>
                                                        <ul>
                                                            <li>Laravel</li>
                                                            <li>PHP</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-sm-6 col-xs-12">
                                                <div class="Portfolio">
                                                    <div class="portfolio-img">
                                                        <a href="@Url.Action("Varnilabgrown", "portfolio")"><img src="~/images/Varnilabgrown/image2.png" class="img-fluid" alt="Codesdot" /></a>
                                                    </div>
                                                    <div class="portfolio-cont">
                                                        <h5>Informative website</h5>
                                                        <h2>Varni</h2>
                                                        <p>A responsive web development  for a popular Diamond company.</p>
                                                        <ul>
                                                            <li>Angular</li>
                                                            <li>.Net</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="tab-pane fade" id="Cars" role="tabpanel" aria-labelledby="Cars-tab">
                                        <div class="row">
                                            <div class="col-lg-4 col-sm-6 col-xs-12">
                                                <div class="Portfolio">
                                                    <div class="portfolio-img">
                                                        <img src="~/images/portfolio/portfolio-img-1.png" class="img-fluid" alt="Codesdot" />
                                                    </div>
                                                    <div class="portfolio-cont">
                                                        <h5>MEDIA AND ENTERTAINMENT</h5>
                                                        <h2>Onesaid</h2>
                                                        <p>A social learning & networking app on Android & iOS made for students.</p>
                                                        <ul>
                                                            <li>Angular</li>
                                                            <li>NodeJs</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-sm-6 col-xs-12">
                                                <div class="Portfolio">
                                                    <div class="portfolio-img">
                                                        <img src="~/images/portfolio/portfolio-img-2.png" class="img-fluid" alt="Codesdot" />
                                                    </div>
                                                    <div class="portfolio-cont">
                                                        <h5>MEDICAL AND ENTERTAINMENT</h5>
                                                        <h2>Mediacal Device</h2>
                                                        <p>A social learning & networking app on Android & iOS made for students.</p>
                                                        <ul>
                                                            <li>Angular</li>
                                                            <li>NodeJs</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-sm-6 col-xs-12">
                                                <div class="Portfolio">
                                                    <div class="portfolio-img">
                                                        <img src="~/images/portfolio/portfolio-img-3.png" class="img-fluid" alt="Codesdot" />
                                                    </div>
                                                    <div class="portfolio-cont">
                                                        <h5>MEDIA AND ENTERTAINMENT</h5>
                                                        <h2>Honey Export</h2>
                                                        <p>A social learning & networking app on Android & iOS made for students.</p>
                                                        <ul>
                                                            <li>Angular</li>
                                                            <li>NodeJs</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="City" role="tabpanel" aria-labelledby="City-tab">
                                        <div class="row">
                                            <div class="col-lg-4 col-sm-6 col-xs-12">
                                                <div class="Portfolio">
                                                    <div class="portfolio-img">
                                                        <img src="~/images/portfolio/portfolio-img-1.png" class="img-fluid" alt="Codesdot" />
                                                    </div>
                                                    <div class="portfolio-cont">
                                                        <h5>MEDIA AND ENTERTAINMENT</h5>
                                                        <h2>Onesaid</h2>
                                                        <p>A social learning & networking app on Android & iOS made for students.</p>
                                                        <ul>
                                                            <li>Angular</li>
                                                            <li>NodeJs</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-sm-6 col-xs-12">
                                                <div class="Portfolio">
                                                    <div class="portfolio-img">
                                                        <img src="~/images/portfolio/portfolio-img-2.png" class="img-fluid" alt="Codesdot" />
                                                    </div>
                                                    <div class="portfolio-cont">
                                                        <h5>MEDICAL AND ENTERTAINMENT</h5>
                                                        <h2>Mediacal Device</h2>
                                                        <p>A social learning & networking app on Android & iOS made for students.</p>
                                                        <ul>
                                                            <li>Angular</li>
                                                            <li>NodeJs</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-sm-6 col-xs-12">
                                                <div class="Portfolio">
                                                    <div class="portfolio-img">
                                                        <img src="~/images/portfolio/portfolio-img-3.png" class="img-fluid" alt="Codesdot" />
                                                    </div>
                                                    <div class="portfolio-cont">
                                                        <h5>MEDIA AND ENTERTAINMENT</h5>
                                                        <h2>Honey Export</h2>
                                                        <p>A social learning & networking app on Android & iOS made for students.</p>
                                                        <ul>
                                                            <li>Angular</li>
                                                            <li>NodeJs</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>



