
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>

<main role="main" class="pb-3">

    <section class="hero-process">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-sm-12 col-md-12 col-xs-12">
                    <div class="award-content wow fadeInLeft">
                        <h3>Find the most exciting startup jobs</h3>
                        <h2>Join our Forward-Thinking Innovation</h2>
                        <p>We are an experienced, forward-thinking software development team shaping a new reality with exciting new ideas and vast experience in developing and utilizing cutting edge technologies. Join us and get new opportunities for career growth.</p>
                    </div>
                </div>

                <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 main-access">
                    <div class="award-img  wow fadeInRight">
                        <img src="~/images/Career/career.png" class="img-fluid light" alt="" />
                        <img src="~/images/Career/career-dark.png" class="img-fluid dark" alt="">
                    </div>
                    <img class="img-fluid main-ad main-ad1" src="~/images/about/Repeat-Grid.svg" />
                </div>

            </div>
        </div>
    </section>

    <section class="hero-portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <div class="process-main-title aproch-title wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                        <div class="process-title">
                            <h2>Apply from <br /> below available vacancies</h2>
                        </div>
                        <div class="sub-title">
                            <h5>career</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="careerhead-title">
                    <h5>Business Development</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="career-box">
                        <div class="career-title">
                            <h5><a href="@Url.Action("Businessanalyst", "career")">Business Analyst <span class="search-icon"></span></a></h5>
                        </div>
                        <div class="career-tag">
                            <div class="experience">
                                <p>Exp: 1 to 3  Years</p>
                                <a class="mobport-btn btn-apply-job" attr-id="1" href="javascript:void(0);">Apply Now<span><img src="~/images/mobile/arrow.svg"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="career-box">
                        <div class="career-title">
                            <h5><a href="@Url.Action("Businessdevelopmentexecutive", "career")">Business Development Executive <span class="search-icon"></span></a></h5>
                        </div>
                        <div class="career-tag">
                            <div class="experience">
                                <p>Exp: 1 to 3  Years</p>
                                <a class="mobport-btn btn-apply-job" attr-id="2" href="javascript:void(0);">Apply Now<span><img src="~/images/mobile/arrow.svg"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="career-box">
                        <div class="career-title">
                            <h5><a href="@Url.Action("Businessdevelopmentmanager", "career")">Business Development Manager <span class="search-icon"></span></a></h5>
                        </div>
                        <div class="career-tag">
                            <div class="experience">
                                <p>Exp: 1 to 3  Years</p>
                                <a class="mobport-btn btn-apply-job" attr-id="3" href="javascript:void(0);">Apply Now<span><img src="~/images/mobile/arrow.svg"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="careerhead-title">
                    <h5>Designer</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="career-box">
                        <div class="career-title">
                            <h5><a href="@Url.Action("Uiuxdesigner", "career")">UI/UX Designer <span class="search-icon"></span></a></h5>
                        </div>
                        <div class="career-tag">
                            <div class="experience">
                                <p>Exp: 1&#x2B; Years</p>
                                <a class="mobport-btn btn-apply-job" attr-id="5" href="javascript:void(0);">Apply Now<span><img src="~/images/mobile/arrow.svg"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="careerhead-title">
                    <h5>Management</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="career-box">
                        <div class="career-title">
                            <h5><a href="@Url.Action("Projectmanager", "career")">Project Manager <span class="search-icon"></span></a></h5>
                        </div>
                        <div class="career-tag">
                            <div class="experience">
                                <p>Exp: 4&#x2B;  Years</p>
                                <a class="mobport-btn btn-apply-job" attr-id="6" href="javascript:void(0);">Apply Now<span><img src="~/images/mobile/arrow.svg"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="career-box">
                        <div class="career-title">
                            <h5><a href="@Url.Action("Teamleader", "career")">Team Leader <span class="search-icon"></span></a></h5>
                        </div>
                        <div class="career-tag">
                            <div class="experience">
                                <p>Exp: 4&#x2B;  Years</p>
                                <a class="mobport-btn btn-apply-job" attr-id="7" href="javascript:void(0);">Apply Now<span><img src="~/images/mobile/arrow.svg"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="careerhead-title">
                    <h5>Mobile Development</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="career-box">
                        <div class="career-title">
                            <h5><a href="@Url.Action("Flutterdeveloper", "career")">Flutter Developer <span class="search-icon"></span></a></h5>
                        </div>
                        <div class="career-tag">
                            <div class="experience">
                                <p>Exp: 1 to 3  Years</p>
                                <a class="mobport-btn btn-apply-job" attr-id="10" href="javascript:void(0);">Apply Now<span><img src="~/images/mobile/arrow.svg"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="career-box">
                        <div class="career-title">
                            <h5><a href="@Url.Action("Iosdeveloper", "career")">iOS Developer <span class="search-icon"></span></a></h5>
                        </div>
                        <div class="career-tag">
                            <div class="experience">
                                <p>Exp: 1 to 3  Years</p>
                                <a class="mobport-btn btn-apply-job" attr-id="11" href="javascript:void(0);">Apply Now<span><img src="~/images/mobile/arrow.svg"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="career-box">
                        <div class="career-title">
                            <h5><a href="@Url.Action("Reactnativedeveloper", "career")">React Native Developer  <span class="search-icon"></span></a></h5>
                        </div>
                        <div class="career-tag">
                            <div class="experience">
                                <p>Exp: </p>
                                <a class="mobport-btn btn-apply-job" attr-id="8" href="javascript:void(0);">Apply Now<span><img src="~/images/mobile/arrow.svg"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="career-box">
                        <div class="career-title">
                            <h5><a href="@Url.Action("Androiddeveloper", "career")">Android Developer <span class="search-icon"></span></a></h5>
                        </div>
                        <div class="career-tag">
                            <div class="experience">
                                <p>Exp: 1 to 3  Years</p>
                                <a class="mobport-btn btn-apply-job" attr-id="9" href="javascript:void(0);">Apply Now<span><img src="~/images/mobile/arrow.svg"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="careerhead-title">
                    <h5>Web</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="career-box">
                        <div class="career-title">
                            <h5><a href="@Url.Action("Sraspnetdeveloper", "career")">Sr. Asp.Net Developer <span class="search-icon"></span></a></h5>
                        </div>
                        <div class="career-tag">
                            <div class="experience">
                                <p>Exp: </p>
                                <a class="mobport-btn btn-apply-job" attr-id="12" href="javascript:void(0);">Apply Now<span><img src="~/images/mobile/arrow.svg"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="career-box">
                        <div class="career-title">
                            <h5><a href="@Url.Action("Angulardeveloper", "career")">Angular Developer <span class="search-icon"></span></a></h5>
                        </div>
                        <div class="career-tag">
                            <div class="experience">
                                <p>Exp: </p>
                                <a class="mobport-btn btn-apply-job" attr-id="13" href="javascript:void(0);">Apply Now<span><img src="~/images/mobile/arrow.svg"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="career-box">
                        <div class="career-title">
                            <h5><a href="@Url.Action("Jraspnetmvcdeveloper", "career")">Jr. ASP.NET MVC Developer <span class="search-icon"></span></a></h5>
                        </div>
                        <div class="career-tag">
                            <div class="experience">
                                <p>Exp: 0 to 2  Years</p>
                                <a class="mobport-btn btn-apply-job" attr-id="14" href="javascript:void(0);">Apply Now<span><img src="~/images/mobile/arrow.svg"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="career-box">
                        <div class="career-title">
                            <h5><a href="@Url.Action("Meanstackdeveloper", "career")">MEAN STACK Developer <span class="search-icon"></span></a></h5>
                        </div>
                        <div class="career-tag">
                            <div class="experience">
                                <p>Exp: 2&#x2B;  Years</p>
                                <a class="mobport-btn btn-apply-job" attr-id="15" href="javascript:void(0);">Apply Now<span><img src="~/images/mobile/arrow.svg"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="career-box">
                        <div class="career-title">
                            <h5><a href="@Url.Action("Nodejsdeveloper", "career")">Node JS Developer <span class="search-icon"></span></a></h5>
                        </div>
                        <div class="career-tag">
                            <div class="experience">
                                <p>Exp: 0 to 2  Years</p>
                                <a class="mobport-btn btn-apply-job" attr-id="16" href="javascript:void(0);">Apply Now<span><img src="~/images/mobile/arrow.svg"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="career-box">
                        <div class="career-title">
                            <h5><a href="@Url.Action("Phpcilaraveldeveloper", "career")">PHP / CI / Laravel Developer <span class="search-icon"></span></a></h5>
                        </div>
                        <div class="career-tag">
                            <div class="experience">
                                <p>Exp: 1&#x2B; Years</p>
                                <a class="mobport-btn btn-apply-job" attr-id="17" href="javascript:void(0);">Apply Now<span><img src="~/images/mobile/arrow.svg"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="career-box">
                        <div class="career-title">
                            <h5><a href="@Url.Action("Reactjsdeveloper", "career")">React JS Developer <span class="search-icon"></span></a></h5>
                        </div>
                        <div class="career-tag">
                            <div class="experience">
                                <p>Exp: 0 to 2  Years</p>
                                <a class="mobport-btn btn-apply-job" attr-id="18" href="javascript:void(0);">Apply Now<span><img src="~/images/mobile/arrow.svg"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="career-box">
                        <div class="career-title">
                            <h5><a href="@Url.Action("Srwordpressdeveloper", "career")">Sr. WordPress Developer <span class="search-icon"></span></a></h5>
                        </div>
                        <div class="career-tag">
                            <div class="experience">
                                <p>Exp: 2&#x2B; Years</p>
                                <a class="mobport-btn btn-apply-job" attr-id="19" href="javascript:void(0);">Apply Now<span><img src="~/images/mobile/arrow.svg"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="careerhead-title">
                    <h5>SEO &amp; Marketing</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="career-box">
                        <div class="career-title">
                            <h5><a href="@Url.Action("Seoexecutive", "career")">SEO Executive <span class="search-icon"></span></a></h5>
                        </div>
                        <div class="career-tag">
                            <div class="experience">
                                <p>Exp: 0.6 to 1.5 Years</p>
                                <a class="mobport-btn btn-apply-job" attr-id="4" href="javascript:void(0);">Apply Now<span><img src="~/images/mobile/arrow.svg"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="carrer-bg"></div>
        </div>
    </section>


    <section class="hero-touch hero-touchh ">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <div class="touch-box  wow fadeIn">
                        <div class="touch-cont">
                            <h5>LET’S CREATE SOMETHING AWESOME</h5>
                            <p>Enquire about your requirements, our digital expertise helps you to achieve top results in any field.</p>
                        </div>
                        <div class="touch-btn">
                            <a class="header-btn" href="@Url.Action("contactus", "hireus")">Get In Touch</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




    <input type="hidden" id="FileId" />
    <div class="modal hiringpopup applyingpopup" id="applyingpopup" tabindex="-1" role="dialog" aria-labelledby="hiringpopupTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered animate__animated animate__slideInUp" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="dream-box">
                        <div class="dream-cont">
                            <div class="dream-title">
                                <h2>Apply Now</h2>
                            </div>
                            <div class="dream-form">
                                <div class="apply-form">

                                    <form name="form-apply-job" id="form-apply-job" method="post">
                                        <div class="apply-box">
                                            <div class="apply-input">
                                                <div class="input_box">
                                                    <input type="text" class="input-apply input_fild" id="FirstName" placeholder="First Name" name="FirstName" autocomplete="off" />
                                                </div>
                                                <div class="input_box">
                                                    <input type="text" class="input-apply input_fild" id="LastName" placeholder="Last Name" name="LastName" autocomplete="off" />
                                                </div>
                                            </div>
                                            <div class="apply-input">
                                                <div class="input_box">
                                                    <input type="email" class="input-apply input_fild" id="EmailId" placeholder="Email Address" name="EmailId" autocomplete="off" />
                                                </div>
                                                <div class="input_box">
                                                    <input type="tel" class="input-apply input_fild" id="PhoneNumber" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="Phone Number" name="PhoneNumber" autocomplete="off" />
                                                </div>
                                            </div>
                                            <div class="apply-input">
                                                <div class="input_box_2">
                                                    <input type="text" class="input-apply input-apply2" id="Location" placeholder="Current Location" name="Location" autocomplete="off" />
                                                </div>
                                            </div>
                                            <div class="apply-input">
                                                <div class="input_box_2">
                                                    <input type="text" class="input-apply input-apply2" id="LinkedInProfile" placeholder="LinkedIn Profile" name="LinkedInProfile" autocomplete="off" />
                                                </div>
                                            </div>
                                            <div class="apply-input">
                                                <div class="input_box_2">
                                                    <textarea class="input-apply input-apply2" id="AboutYourSelf" placeholder="Say something about yourself" name="AboutYourSelf"></textarea>
                                                </div>
                                            </div>
                                            <div class="apply-input attach">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <div id="div-file-attachment" class="input-group-btn">
                                                            <span id="span-attach-resume">Attach Resume</span>
                                                            <div class="input_box_2">
                                                                <input type="file" class="upload" name="ResumeFile" id="file-attachment" />
                                                            </div>
                                                        </div>
                                                        <input type="text" class="form-control border-0 ml-3" readonly>
                                                        <span class="align-items-center d-flex">
                                                            Allowed format:<b class="px-1"> DOC & PDF</b>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="apply-btn">
                                                <button type="button" class="apply-button" id="btn-submit">
                                                    <span class="d-flex justify-content-center align-items-center">
                                                        <span id="span-submit">Submit</span>
                                                        <div id="btn-loader" style="display:none;">
                                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                 style=" margin-left: 10px; background: rgba(241, 242, 243, 0); display: block;" width="19px" height="19px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
                                                                <circle cx="50" cy="50" r="37" stroke="rgba(70, 223, 240, 0)" stroke-width="0" fill="none"></circle>
                                                                <circle cx="50" cy="50" r="37" stroke="#babdd8" stroke-width="8" stroke-linecap="round" fill="none">
                                                                    <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" dur="1s" values="0 50 50;180 50 50;720 50 50" keyTimes="0;0.5;1"></animateTransform>
                                                                    <animate attributeName="stroke-dasharray" repeatCount="indefinite" dur="1s" values="65.09379978238051 167.38405658326417;232.4778563656447 0;65.09379978238051 167.38405658326417" keyTimes="0;0.5;1"></animate>
                                                                </circle>
                                                            </svg>

                                                        </div>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </form>


                                </div>
                            </div>
                        </div>
                        <div class="dream-img">
                            <img src="~/images/Career/contact.png" class="img-fluid light" alt="" />
                            <img src="~/images/Career/contact-dark.png" class="img-fluid dark" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

<script src="~/Scripts/Career.js"></script>
@*<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.js"></script>*@
@*<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>*@


