@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from codesdot.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 16 Mar 2021 08:35:55 GMT -->
<!-- Added by HTTrack -->
<!--<meta http-equiv="content-type" content="text/html;charset=utf-8" />--><!-- /Added by HTTrack -->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="title" content="this is home title" />
    <meta name="description" content="this is home descriptiopn" />
    <meta name="keywords" content="these are home keywords" />

    <title>Top Rated IT company surat, web development surat, mobile app development surat</title>
    <link rel="icon" href="~/images/home/32Favicon.svg" type="image/svg" class="img-fluid dark" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" async defer />
    <link href="https://fonts.googleapis.com/css2?family=Muli:wght@400;500;600;700;800;900&amp;display=swap" rel="stylesheet" async>
    <link href="~/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" async />
    <link rel="stylesheet" href="~/ajax/libs/animate.css/4.1.1/animate.min.css" async />
    <link href="~/lib/css/owl.carousel.css" rel="stylesheet" async defer />
    <link href="~/lib/css/owl.theme.default.css" rel="stylesheet" async defer />
    <link rel="stylesheet" href="~/css/site.min.css" />
    <link href="~/lib/css/responsive.min.css" rel="stylesheet" />
    <meta name="color-scheme" content="dark light">
    <script src="~/js/pre-load.min.js"></script>
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-TLRTE8T6MY"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-TLRTE8T6MY');
    </script>
</head>


<body id="mainBody" class="light-mode">
    <script>
        setInitialAppTheme();
    </script>
    <header>
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-toggleable-lg navbar-light">
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                    <img src="~/images/logo/3.png" class="img-fluid light" alt="codesdot" />
                   
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-lg-inline-flex hmenu">
                    <ul class="navbar-nav flex-grow-1 tlive">
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("aboutus", "Home")">Company</a>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown">
                                <a class="dropdown-toggle nav-link" href="javascript:void(0);" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Services
                                </a>

                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <div class="sub-menu-box">
                                        <div class="sub-menu">
                                            <div class="submenu-img">
                                                <img src="~/images/home/menu-img-1.svg" class="img-fluid" />
                                            </div>
                                            <div class="sub-menu-link">
                                                <div class="menu-title">
                                                    <a href="@Url.Action("softwaredevelopment", "service")">Software Development</a>
                                                </div>
                                                <ul>
                                                    <li><a onclick="goToByScroll('cust-dev',200)" href="@Url.Action("softwaredevelopment", "service")#cust-dev">Custom Development</a></li>
                                                    <li><a onclick="goToByScroll('desk-dev',150)" href="@Url.Action("softwaredevelopment", "service")#desk-dev">Desktop Based Development</a></li>
                                                    <li><a onclick="goToByScroll('ent-dev',150)" href="@Url.Action("softwaredevelopment", "service")#ent-dev">Enterprise Software Development</a></li>
                                                    <li><a onclick="goToByScroll('eco-dev',150)" href="@Url.Action("softwaredevelopment", "service")#eco-dev">Ecommerce Software Development</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="sub-menu">
                                            <div class="submenu-img">
                                                <img src="~/images/home/menu-img-2.svg" class="img-fluid" />
                                            </div>
                                            <div class="sub-menu-link">
                                                <div class="menu-title">
                                                    <a href="@Url.Action("webapplicationdevelopment", "service")">Website Development</a>
                                                </div>
                                                <ul>
                                                    <li><a onclick="goToByScroll('Enterprise',200)" href="@Url.Action("webapplicationdevelopment", "service")#Enterprise">Enterprise Development</a></li>
                                                    <li><a onclick="goToByScroll('Ecommerce',150)" href="@Url.Action("webapplicationdevelopment", "service")#Ecommerce">E-commerce Development</a></li>
                                                    <li><a onclick="goToByScroll('Content',150)" href="@Url.Action("webapplicationdevelopment", "service")#Content">Content Management System (CMS)</a></li>
                                                    <li><a onclick="goToByScroll('Mobile',150)" href="@Url.Action("webapplicationdevelopment", "service")#Mobile">Mobile API/Backend</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="sub-menu">
                                            <div class="submenu-img">
                                                <img src="~/images/home/menu-img-3.svg" class="img-fluid" />
                                            </div>
                                            <div class="sub-menu-link">
                                                <div class="menu-title">
                                                    <a href="@Url.Action("mobileappsdevelopment", "service")">Mobile App Development</a>
                                                </div>
                                                <ul>
                                                    <li><a onclick="goToByScroll('ios',200)" href="@Url.Action("mobileappsdevelopment", "service")#ios">IOS Apps</a></li>
                                                    <li><a onclick="goToByScroll('Android',150)" href="@Url.Action("mobileappsdevelopment", "service")#Android">Android Apps</a></li>
                                                    <li><a onclick="goToByScroll('Platform',150)" href="@Url.Action("mobileappsdevelopment", "service")#Platform">Cross-Platform Apps</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="sub-menu">
                                            <div class="submenu-img">
                                                <img src="~/images/home/menu-img-4.svg" class="img-fluid" />
                                            </div>
                                            <div class="sub-menu-link">
                                                <div class="menu-title">
                                                    <a href="@Url.Action("uiuxdesign", "service")">Design</a>
                                                </div>
                                                <ul>
                                                    <li><a onclick="goToByScroll('Research',200)" href="@Url.Action("uiuxdesign", "service")#Research">Research</a></li>
                                                    <li><a onclick="goToByScroll('Application',150)" href="@Url.Action("uiuxdesign", "service")#Application">Application Design</a></li>
                                                    <li><a onclick="goToByScroll('Game',150)" href="@Url.Action("uiuxdesign", "service")#Game">Game Design</a></li>
                                                    <li><a onclick="goToByScroll('Layout',150)" href="@Url.Action("uiuxdesign", "service")#Layout">Web Layout</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown">
                                <a class="nav-link dropdown-toggle" id="dropdownMenuLink1" data-toggle="dropdown" href="@Url.Action("Technology", "Home")">Expertise</a>

                                <div class="dropdown-menu dropspace technology-menu" aria-labelledby="dropdownMenuLink1">
                                    <div class="sub-menu-box">
                                        <div class="sub-menu min-menu">
                                            <div class="sub-menu-link">
                                                <div class="menu-title">

                                                    <a href="javascript:void(0);"> Mobile</a>
                                                </div>
                                                <ul class="moveHover">
                                                    <li><a href="@Url.Action("Ios", "Technologies")">iOS</a></li>
                                                    <li><a href="@Url.Action("Android", "Technologies")">Android</a></li>
                                                    <li><a href="@Url.Action("Reactnative", "Technologies")">React Native</a></li>
                                                    <li><a href="@Url.Action("Xamarin", "Technologies")">Xamarin</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="sub-menu min-menu">
                                            <div class="sub-menu-link">
                                                <div class="menu-title">
                                                    <a href="javascript:void(0);"> Backend</a>
                                                </div>
                                                <ul class="moveHover">
                                                    <li><a href="@Url.Action("Nodejs", "Technologies")">Node</a></li>
                                                    <li><a href="@Url.Action("Dotnet", "Technologies")">.NET</a></li>
                                                    <li><a href="@Url.Action("Laravel", "Technologies")">Laravel</a></li>
                                                    <li><a href="@Url.Action("Php", "Technologies")">PHP</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="sub-menu min-menu">
                                            <div class="sub-menu-link">
                                                <div class="menu-title">
                                                    <a href="javascript:void(0);"> Front End</a>
                                                </div>
                                                <ul class="moveHover">
                                                    <li><a href="@Url.Action("Angular", "Technologies")">Angular</a></li>
                                                    <li><a href="@Url.Action("Reactjs", "Technologies")">React Js</a></li>
                                                    <li><a href="@Url.Action("Typescript", "Technologies")">TypeScript</a></li>
                                                    <li><a href="@Url.Action("Html", "Technologies")">HTML 5</a></li>
                                                </ul>
                                            </div>
                                        </div>



                                        <div class="sub-menu min-menu">
                                            <div class="sub-menu-link">
                                                <div class="menu-title">
                                                    <a href="javascript:void(0);"> CMS</a>
                                                </div>
                                                <ul class="moveHover">
                                                    <li><a href="@Url.Action("Shopify", "Technologies")">Shopify</a></li>
                                                    <li><a href="@Url.Action("Wordpress", "Technologies")">WordPress</a></li>
                                                    <li><a href="@Url.Action("Woocommerce", "Technologies")">WooCommerce</a></li>

                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "career")">Career</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "portfolio")">Portfolio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "hireus")">Hire Us</a>
                        </li>
                    </ul>
                    <ul class="right-nav">
                        <li>
                            <a class="nav-link contact-btn" href="@Url.Action("contactus", "hireus")">Get in touch</a>
                        </li>                      
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <main role="main" class="pb-3">
        <section class="hero-header">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-5 col-md-4 col-12">
                    </div>
                    <div class="col-xl-6 col-lg-7 col-md-8 col-12">
                        <div class="header-cont wow fadeInLeft animated" style="visibility: visible;">
                            <h2>
                                Your Trusted Development Partner
                            </h2>
                            <div class="hr">
                                <div class="bluegraddiv"></div>
                            </div>
                            <h5>
                                Top Web and Mobile Apps Development Company
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="hero-process bg-1">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-12">
                        <div class="process-main-title process-main-title2 wow fadeInUp animated" style="visibility: visible;">
                            <div class="process-title hero-h2">
                                <h2>Elegant &amp; Quality Work</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="bringdiv">
                            <div class="fulldiv">
                                <div class="bluegraddiv getcenter"></div>
                            </div>
                            <div class="card-box">
                                <div class="card-icon">
                                    <img src="/images/home/app.svg" class="img-fluid" alt="Codesdot">
                                </div>
                                <div class="card-cont">
                                    <h5>Mobile Apps</h5>
                                    <div class="bluegraddivsmall getcenter"></div>
                                    <p>We build intuitive and engaging Android, iOS and cross-platform apps for businesses, consumers and enterprises that end users love and adapt to them very quickly.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="bringdiv">
                            <div class="fulldiv">
                                <div class="bluegraddiv getcenter"></div>
                            </div>
                            <div class="card-box">
                                <div class="card-icon">
                                    <img src="/images/home/web.svg" class="img-fluid" alt="Codesdot">
                                </div>
                                <div class="card-cont">
                                    <h5>Web Development</h5>
                                    <div class="bluegraddivsmall getcenter"></div>
                                    <p>Our web developers create custom web and web application solutions. We deliver web presence to help you grow your business using the best web technologies.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="bringdiv">
                            <div class="fulldiv">
                                <div class="bluegraddiv getcenter"></div>
                            </div>
                            <div class="card-box">
                                <div class="card-icon">
                                    <img src="/images/home/design-1.svg" class="img-fluid" alt="Codesdot">
                                </div>
                                <div class="card-cont">
                                    <h5>UI/UX Design</h5>
                                    <div class="bluegraddivsmall getcenter"></div>
                                    <p>Starting from concept, information architecture, visual identity and UI/UX design, our team delivers dazzling experiences for maximum user engagement.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="bringdiv">
                            <div class="fulldiv">
                                <div class="bluegraddiv getcenter"></div>
                            </div>
                            <div class="card-box">
                                <div class="card-icon">
                                    <img src="/images/home/software-1.svg" class="img-fluid" alt="Codesdot">
                                </div>
                                <div class="card-cont">
                                    <h5>Software Development</h5>
                                    <div class="bluegraddivsmall getcenter"></div>
                                    <p>Create your own team of developers for your software development project on short term, long term or permanent basis with guaranteed project delivery at affordable prices.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class=" padding">
            <div class="container">
                <div class="row">

                    <div class="col-xl-12 col-12">
                        <div class="process-main-title wow fadeInUp center animated" style="visibility: visible;">
                            <div class="sub-title">
                                <h5>About Us</h5>
                            </div>
                            <div class="process-title">
                                <h2>We simplify software development process</h2>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-3 col-sm-6 col-xs-12">
                        <div class="divcover-box wow fadeInLeft animated" style="visibility: visible;">
                            <div class="discover-icon">
                                <img src="/images/home/discover2.svg" class="img-fluid light" alt="codesdot">
                            </div>
                            <div class="dicover-cont">
                                <h5>Discover</h5>
                                <p>
                                    Analysis &amp; Documentation, the important steps we adapt to built something awesome, so that you get satisfactory results.
                                </p>
                            </div>
                        </div>
                        <div class="path">
                            <img src="/images/home/Path-1.svg" class="img-fluid" alt="Codesdot">
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6 col-xs-12">
                        <div class="divcover-box divcover-box2 wow fadeInLeft animated" style="visibility: visible;">
                            <div class="discover-icon">
                                <img src="/images/home/design3.svg" class="img-fluid light" alt="Codesdot">
                            </div>
                            <div class="dicover-cont">
                                <h5>Design</h5>
                                <p>Through UI we focus more on making it look visually appealing and more comfortable for the user at an emotional level.</p>
                            </div>
                        </div>
                        <div class="path">
                            <img src="/images/home/Path-2.svg" class="img-fluid" alt="Codesdot">
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6 col-xs-12">
                        <div class="divcover-box wow fadeInRight animated" style="visibility: visible;">
                            <div class="discover-icon">

                                <img src="/images/home/build2.svg" class="img-fluid light" alt="Codesdot">
                            </div>
                            <div class="dicover-cont">
                                <h5>Build</h5>
                                <p>We provide solutions with innovative ideas. Our objective is to use the latest technologies and platforms.</p>
                            </div>
                        </div>
                        <div class="path">
                            <img src="/images/home/Path-3.svg" class="img-fluid" alt="Codesdot">
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6 col-xs-12">
                        <div class="divcover-box divcover-box2 wow fadeInRight animated" style="visibility: visible;">
                            <div class="discover-icon">

                                <img src="/images/home/deliver2.svg" class="img-fluid light" alt="Codesdot">
                            </div>
                            <div class="dicover-cont">
                                <h5>Deliver</h5>
                                <p>We always make sure that the end result that we deliver is able to satisfy your needs and requirements.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>





        <section class="hero-work">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-12">
                        <div class="process-main-title achivment-title wow fadeInUp hero-work-contetn animated" style="visibility: visible;">
                            <div class="sub-title">
                                <h5>Our Work</h5>
                            </div>
                            <div class="process-title-work">
                                <h2>Modern &amp;  Outstanding Portfolio</h2>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="row align-items-center margin-bottom">
                    <div class="col-xl-6 p-0 col-lg-6 col-md-6 col-12">
                        <div class="our-work">
                            <div class="wrok-img">
                                <img src="/images/home/2.jpg" class="img-fluid" alt="Codesdot">
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                        <div class="work-info">
                            <div class="hr-1">
                                <div class="bluegraddiv full-size"></div>
                            </div>
                            <h4>
                                Beverly Aesthetic
                            </h4>
                            <p>
                                Beverly Aesthetic is an institution based in Beverly Hills, Los Angeles and Turkey, which was found in 2015 and since then successfully working with many different clients from all over the world. Also supporting medical tourism internationally and they are working with doctors both from Turkey and Los Angeles.

                            </p>

                        </div>
                    </div>
                </div>

                <div class="row align-items-center margin-bottom">
                    <div class="col-xl-6  col-lg-6 col-md-6 order col-12">
                        <div class="work-info">
                            <div class="hr-1">
                                <div class="bluegraddiv full-size"></div>
                            </div>
                            <h4>
                                Beverly Home Cleaning


                            </h4>
                            <p>
                                Beverly home cleaning is a professional cleaning company that was established in the beautiful city of Los Angeles, in 2017. Since then, we have had many customers including celebrities living in Los Angeles.



                            </p>


                        </div>
                    </div>
                    <div class="col-xl-6 p-0 col-lg-6 col-md-6 col-12">
                        <div class="our-work">
                            <div class="wrok-img work-padding img-left">
                                <img src="/images/home/78.jpg" class="img-fluid" alt="Codesdot">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center margin-bottom">
                    <div class="col-xl-6 p-0 col-lg-6 col-md-6 col-12">
                        <div class="our-work">
                            <div class="wrok-img">
                                <img src="/images/home/77.jpg" class="img-fluid" alt="Codesdot">
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6  col-lg-6 col-md-6  col-12">
                        <div class="work-info">
                            <div class="hr-1">
                                <div class="bluegraddiv full-size"></div>
                            </div>
                            <h4>
                                Brainy Print

                            </h4>
                            <p>
                                We make stories that change brands and touch client’s heart &amp; mind!

                            </p>

                        </div>
                    </div>
                </div>
                <div class="row align-items-center ">
                    <div class="col-xl-6 col-lg-6  col-md-6 order col-12">
                        <div class="work-info">
                            <div class="hr-1">
                                <div class="bluegraddiv full-size"></div>
                            </div>
                            <h4>
                                Hechawaii

                            </h4>
                            <p>
                                Laser Weight Loss &amp; Reverse Diabetes &amp; More!



                            </p>


                        </div>
                    </div>
                    <div class="col-xl-6 p-0 col-lg-6 col-md-6 col-12">
                        <div class="our-work">
                            <div class="wrok-img work-padding img-left">
                                <img src="/images/home/79.jpg" class="img-fluid" alt="Codesdot">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="industries">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="industries-head">
                            <h3>
                                Worked With Leading Industries
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-12">
                        <div class="leadcom">
                            <img src="/images/home/insurance.png">
                            <p>Insurance</p>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-12">
                        <div class="leadcom">
                            <img src="/images/home/health.png">
                            <p>Healthcare</p>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-12">
                        <div class="leadcom">
                            <img src="/images/home/finance.png">
                            <p>Finance &amp; Banking</p>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-12">
                        <div class="leadcom">
                            <img src="/images/home/educations.png">
                            <p>Education</p>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-12">
                        <div class="leadcom">
                            <img src="/images/home/legal.png">
                            <p>Legal</p>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-12">
                        <div class="leadcom">
                            <img src="/images/home/energy.png">
                            <p>Energy</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="hero-trial">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-sm-12 col-xs-12 trial-Customer">
                        <div class="trial-cont wow fadeInLeft">
                            <h3>Guaranteed Customer Satisfaction</h3>
                            <h2>We Promise. We Deliver.</h2>
                            <p><span>Have an idea?</span> Work with us and see how it goes. We promise to go the extra mile for every project that we take onboard.</p>
                            <a class="btn bluegradbtnlarge mt2rem" href="/ContactUs">
                                Contact Us
                                <img src="~/images/home/next.png">
                            </a>
                           
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12 col-xs-12">
                        <div class="custmer-img wow fadeInRight">
                            <img src="~/images/home/customer-satisfaction.svg" class="img-fluid" alt="Codesdot" />
                        </div>
                    </div>
                </div>
            </div>
        </section>

       <section class="hero-process">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="process-main-title achivment-title wow fadeInUp hero-work-contetn animated animated" style="visibility: visible;">
                        <div class="sub-title">
                            <h5>
                                Testimonials
                            </h5>
                        </div>
                        <div class="process-title-work">
                            <h2>
                                What our Clients say about us
                            </h2>
                        </div>

                    </div>
                </div>

            </div>
            <div class="row">


                <div class="col-lg-12 col-sm-12 col-xs-12 trial-Customer wow fadeIn testimonial-review animated" style="visibility: visible;">
                    <div class="owl-carousel owl-theme ss_carousel owl-loaded owl-drag" id="slider1">
                        
                        
                        
                    <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-3975px, 0px, 0px); transition: all 0.45s ease 0s; width: 9275px;"><div class="owl-item cloned" style="width: 1310px; margin-right: 15px;"><div class="item d-md-flex d-sm-block">                           
                            <div class="slider-info">
                                <img src="/images/home/qoutes.svg" class="img-fluid" alt="Codesdot">
                                <p>“ Always great working with Codesdot. I highly recommend them. they provided the product just exactly like they promised. It was great working with his team. Very responsive and on top of the task. Would highly recommend them to anyone looking for a great developers. Thanks! ”</p>
                                <h5>Trung T.</h5>
                                   
                            </div>
                        </div></div><div class="owl-item cloned" style="width: 1310px; margin-right: 15px;"><div class="item d-md-flex d-sm-block">                           
                            <div class="slider-info">
                                <img src="/images/home/qoutes.svg" class="img-fluid" alt="Codesdot">
                                <p>“ They provided good quality code, bugs are resolved quickly, they available for the emergency, and they are flexible to work with. I recommend to work with them to get your application created. ”</p>
                                <h5>Mark A.</h5>
                            </div>                            
                        </div></div><div class="owl-item" style="width: 1310px; margin-right: 15px;"><div class="item d-md-flex d-sm-block">
                            <div class="bacground-box">
                                <div class="slider-info">

                                    <img src="/images/home/qoutes.svg" class="img-fluid" alt="Codesdot">
                                    <p>“ Thank you to Sagar and his team Codesdot. You help me to grow my business and I am not sure to have result without you. Sagar delighted me in every way. ”</p>
                                    <h5>Alexander H.</h5>
                                </div>
                            </div>
                        </div></div><div class="owl-item active" style="width: 1310px; margin-right: 15px;"><div class="item d-md-flex d-sm-block">                           
                            <div class="slider-info">
                                <img src="/images/home/qoutes.svg" class="img-fluid" alt="Codesdot">
                                <p>“ Always great working with Codesdot. I highly recommend them. they provided the product just exactly like they promised. It was great working with his team. Very responsive and on top of the task. Would highly recommend them to anyone looking for a great developers. Thanks! ”</p>
                                <h5>Trung T.</h5>
                                   
                            </div>
                        </div></div><div class="owl-item" style="width: 1310px; margin-right: 15px;"><div class="item d-md-flex d-sm-block">                           
                            <div class="slider-info">
                                <img src="/images/home/qoutes.svg" class="img-fluid" alt="Codesdot">
                                <p>“ They provided good quality code, bugs are resolved quickly, they available for the emergency, and they are flexible to work with. I recommend to work with them to get your application created. ”</p>
                                <h5>Mark A.</h5>
                            </div>                            
                        </div></div><div class="owl-item cloned" style="width: 1310px; margin-right: 15px;"><div class="item d-md-flex d-sm-block">
                            <div class="bacground-box">
                                <div class="slider-info">

                                    <img src="/images/home/qoutes.svg" class="img-fluid" alt="Codesdot">
                                    <p>“ Thank you to Sagar and his team Codesdot. You help me to grow my business and I am not sure to have result without you. Sagar delighted me in every way. ”</p>
                                    <h5>Alexander H.</h5>
                                </div>
                            </div>
                        </div></div><div class="owl-item cloned" style="width: 1310px; margin-right: 15px;"><div class="item d-md-flex d-sm-block">                           
                            <div class="slider-info">
                                <img src="/images/home/qoutes.svg" class="img-fluid" alt="Codesdot">
                                <p>“ Always great working with Codesdot. I highly recommend them. they provided the product just exactly like they promised. It was great working with his team. Very responsive and on top of the task. Would highly recommend them to anyone looking for a great developers. Thanks! ”</p>
                                <h5>Trung T.</h5>
                                   
                            </div>
                        </div></div></div></div><div class="owl-nav"><div class="owl-prev"><i class="fa fa-long-arrow-left"></i></div><div class="owl-next"><i class="fa fa-long-arrow-right"></i></div></div><div class="owl-dots disabled"></div></div>
                </div>
            </div>
        </div>
    </section>

        <section class="hero-trial hero-achivment">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-sm-6 col-xs-12">
                        <div class="achivment-box wow fadeInleft animated" style="visibility: visible;">
                            <div class="achivment-img">

                                <img src="/images/home/achivement-img-2.png" class="img-fluid light" alt="Codesdot">
                            </div>
                            <div class="achivment-cont Worked">
                                <h2><span class="stat-number">12450</span></h2>
                                <h5>Hours Worked</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-xs-12">
                        <div class="achivment-box wow fadeInLeft animated" style="visibility: visible;">
                            <div class="achivment-img">
                                <img src="/images/home/achivement-img-2.svg" class="img-fluid" alt="Codesdot">
                            </div>
                            <div class="achivment-cont Professionals">
                                <h2><span class="stat-number">60</span>+</h2>
                                <h5>IT Professionals</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-xs-12">
                        <div class="achivment-box wow fadeInRight animated" style="visibility: visible;">
                            <div class="achivment-img">
                                <img src="/images/home/achivement-img-3.svg" class="img-fluid" alt="Codesdot">
                            </div>
                            <div class="achivment-cont Clients">
                                <h2><span class="stat-number">75</span>+</h2>
                                <h5>Happy Clients</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-xs-12">
                        <div class="achivment-box wow fadeInRight animated" style="visibility: visible;">
                            <div class="achivment-img">

                                <img src="/images/home/achivement-img-4-light.png" class="img-fluid light" alt="Codesdot">
                            </div>
                            <div class="achivment-cont Completed">
                                <h2><span class="stat-number">125</span></h2>
                                <h5>Projects Completed</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="hero-touch-back">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-6 col-lg-6 col-md-7 col-12">
                        <div class="touch-box-head">
                            <h5>LET’S CREATE SOMETHING AWESOME</h5>
                            <p>Enquire about your requirements, Our digital expertise helps you to achieve top results in any field.</p>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-5 col-12">
                        <div class="touch-button">
                            <a class="btn bluegradbtnlarge mt2rem" href="/ContactUs">
                                Get In Touch
                                <img src="/images/home/bluenext.png">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-xs-12">

                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <div class="footer-box">
                        <div class="footer1">
                            <div class="footer-logo footer-white-black">

                                <img src="/images/logo/3.png" class="img-fluid light" alt="codesdot">
                            </div>
                            <div class="footer-cont">
                                <h5>Smart and Creative digital Information technology agency from surat</h5>
                            </div>
                            <ul class="support-link">
                                <li><a href="mailto:careers@codesdot.com">careers@codesdot.com</a></li>
                            </ul>

                        </div>
                        <div class="footer2">
                            <div class="footer-link">
                                <h5>Company</h5>
                                <ul>
                                    <li><a href="/Home/aboutus">About Us</a></li>
                                    <li><a href="/career">Career</a></li>
                                    <li><a href="/hireus">Work With Us </a></li>
                                    <li><a href="/ContactUs">Contact</a></li>
                                    <li><a href="/Home/Privacypolicy">Privacy Policy </a></li>
                                    <li><a href="/Home/Sitemap">Sitemap</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="footer4">
                            <div class="footer-link">
                                <h5>Services</h5>
                                <ul>
                                    <li><a href="/Technologies/androidmobileappdevelopment">Android App Development</a></li>
                                    <li><a href="/Technologies/iphoneapplicationdevelopment">iOS App Development  </a></li>
                                    <li><a href="/Technologies/ReactNativeAppDevelopment">React Native App Development </a></li>
                                    <li><a href="/Technologies/xamarinappdevelopment">Xamarin App Development</a></li>
                                    <li><a href="/Technologies/Nodejsdevelopment">NodeJS Development</a></li>
                                    <li><a href="/Technologies/PHPDevelopment">PHP Development</a></li>
                                    <li><a href="/Technologies/NetAppDevelopment">.Net Development</a></li>
                                    <li><a href="/Technologies/NetAppDevelopment">Laravel Development</a></li>

                                </ul>
                            </div>
                        </div>
                        <div class="footer5">
                            <div class="footer-link">
                                <h5></h5>
                                <ul>
                                    <li><a href="/Technologies/AngularDevelopment">Angular Development</a></li>
                                    <li><a href="/Technologies/ReactJSDevelopment">React Js Development</a></li>
                                    <li><a href="/Technologies/Typescript">TypeScript Development</a></li>
                                    <li><a href="/Technologies/HTML5Development">HTML 5 Development</a></li>
                                    <li><a href="/Technologies/Wordpress">WordPress Development</a></li>
                                    <li><a href="/Technologies/Shopify">Shopify Development</a></li>
                                    <li><a href="/Technologies/Woocommerce">WooCommerce</a></li>
                                    <li><a href="#">NopCommerce</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="copy-right">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-5 col-xs-12">
                    <div class="right-cont">
                        <p>Copyright © 2020 Codesdot</p>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-7 col-xs-12">
                    <div class="right-social">
                        <ul>
                            <li><a href="#" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="snackbar"></div>

    <!--<div class="chatbot">
    <a href="javascript:void(0);">
        <img src="~/images/home/chatbot.png" alt="oozee" class="img-fluid" />
    </a>
    </div>

    <div class="chat-box">
        <div class="chat-header">
            <a href="javascript:void(0);" class="arrow-btn">
                <i class="fa fa-angle-down" aria-hidden="true"></i>
            </a>
            <img src="~/images/home/chatbot.png" alt="oozee" class="img-fluid" />-->
    <!--</div>
        <div class="chat-body">
            <div class="receiver">
                <p>I can help you find the services you're looking but you need to tell me what bought you first👇👇.</p>
                <a href="#">Hire for my Project</a>
                <a href="#">Want to know more</a>
                <a href="#">Want to apply for a Job</a>
                <a href="#">Just Browsing</a>
            </div>
            <div class="inputbox">
                <input type="text" class="bot-input" placeholder="Choose an option above..." />
                <div class="bot-file">
                    <input type="file" />
                    <i class="fa fa-paperclip" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>-->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/js/owl.carousel.min.js"></script>
    <script src="~/lib/js/Magnific.js"></script>
    <script src="~/lib/js/wow.js"></script>
    <script src="~/js/sitee7a5.js?v=meTa8l_MP1hujjG2rOvWeqQu_CwQ1kxqGQoJlq3b2Cs"></script>
    @*<script src="~/js/pages/apply-job3b74.js"></script>
        <script src="~/js/pages/contact-us9ef6.js"></script>
        <script src="~/js/pages/hire-us2555.js"></script>
        <script src="~/js/pages/portfolio0653.js"></script>
        <script src="~/js/pre-load.min.js"></script>*@

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)*@
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/5fbc9d31920fc91564ca007b/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
        function showToastMessage(type, message) {
            var x = document.getElementById("snackbar");
            x.innerHTML = message;
            // Add the "show" class to DIV
            x.className = "show";
            if (type == "success") {
                $("#snackbar").css("background-color", "rgba(30,171,9,0.7)");
                $("#snackbar").css("color", "#ffffff");
            }
            else {
                $("#snackbar").css("background-color", "rgb(255 152 84 / 70%)");
                $("#snackbar").css("color", "#000000");
            }
            //#f3b959 error mate
            // Get the snackbar DIV


            // After 3 seconds, remove the show class from DIV
            setTimeout(function () { x.className = x.className.replace("show", ""); }, 5000);
        }

    </script>
    <!--End of Tawk.to Script-->


    <script>
        $(document).ready(function () {
            var iframe = $('.vimeo-video');
            var owl = $("#slider1").owlCarousel();
            owl.on('changed.owl.carousel', function (e) {
                iframe.each(function () {
                    $(this)[0].contentWindow.postMessage('{"method":"pause"}', '*');
                });
            });
        });
    </script>


</body>

<!-- Mirrored from codesdot.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 16 Mar 2021 08:37:48 GMT -->
</html>